enigma2-Flow.json
[{"id":"22c0437.fe12ebc","type":"tab","label":"Enigma2","disabled":false,"info":""},{"id":"d58fcca4.bd1de","type":"http request","z":"22c0437.fe12ebc","name":"/web/getcurrent","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{ipadresse}}/web/getcurrent","tls":"","proxy":"","authType":"basic","x":1780,"y":80,"wires":[["dde47a9b.0cdd08"]]},{"id":"a0d7d1e1.c4f9c","type":"xml","z":"22c0437.fe12ebc","name":"","property":"payload","attr":"","chr":"","x":130,"y":580,"wires":[["b85d539a.528b6","64ebbcf9.5d7a14","90f8b671.ea54b8","80beba.ad3d0148","f103aa0a.022a08","2eb2e12d.6e6c8e","92018523.615d18","681cd82b.bbcb78","b485335a.f01fe","28920456.10f40c"]]},{"id":"b85d539a.528b6","type":"function","z":"22c0437.fe12ebc","name":"e2servicename","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventservicename[0];\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":580,"wires":[["bc367dbd.aecdf"]]},{"id":"64ebbcf9.5d7a14","type":"function","z":"22c0437.fe12ebc","name":"e2servicereference","func":"msg.payload = msg.payload.e2currentserviceinformation.e2service[0].e2servicereference[0];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":820,"wires":[["6960a81d.716c68"]]},{"id":"ccaef820.644308","type":"function","z":"22c0437.fe12ebc","name":"slice(0,-1)","func":"msg.payload = msg.payload.slice(0,-1);\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":820,"wires":[["fb6017c1.213798"]]},{"id":"90f8b671.ea54b8","type":"function","z":"22c0437.fe12ebc","name":"e2eventname","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventname[0];\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":760,"wires":[["a08a68e8.9dec28"]]},{"id":"80beba.ad3d0148","type":"function","z":"22c0437.fe12ebc","name":"e2eventdescription","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventdescription[0];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":640,"wires":[["df8905de.f86b58"]]},{"id":"76fc0011.3b19c","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":760,"wires":[[]]},{"id":"d1b1e6df.3366c8","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":640,"wires":[["f4c667de.ca6f68"]]},{"id":"9b8c1879.e7ce28","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":820,"wires":[["ae5b3396.56679"]]},{"id":"6e765e49.28954","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":580,"wires":[["da7f6df3.718c8"]]},{"id":"f103aa0a.022a08","type":"function","z":"22c0437.fe12ebc","name":"e2eventduration","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventduration[0];\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1000,"wires":[["a70e6c71.50a0f","1b44cd49.605d83"]]},{"id":"a70e6c71.50a0f","type":"function","z":"22c0437.fe12ebc","name":"sec2HMS","func":"function sec2HMS(sec) {\n\tif (sec  === 0) {\n        return '0';\n    }\n\n    const sec_num = parseInt(sec, 10);\n    let hours   = Math.floor(sec_num / 3600);\n    let minutes = Math.floor((sec_num - (hours * 3600)) / 60);\n    let seconds = sec_num - (hours * 3600) - (minutes * 60);\n\n    if (minutes < 10) {minutes = '0' + minutes;}\n    if (seconds < 10) {seconds = '0' + seconds;}\n    if (hours === 0) {\n        return minutes + ':' + seconds;\n    }\n\n    if (hours < 10) {hours = '0' + hours;}\n    return hours + ':' + minutes + ':' + seconds;\n}\n\nmsg.payload = sec2HMS(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1000,"wires":[["1c54ce9d.1f8871"]]},{"id":"2eb2e12d.6e6c8e","type":"function","z":"22c0437.fe12ebc","name":"e2eventremaining","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventremaining[0];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1260,"wires":[["fb79b9c9.4cf208","4fd4d622.df9fb8"]]},{"id":"fb79b9c9.4cf208","type":"function","z":"22c0437.fe12ebc","name":"sec2HMS","func":"function sec2HMS(sec) {\n\tif (sec  === 0) {\n        return '0';\n    }\n\n    const sec_num = parseInt(sec, 10);\n    let hours   = Math.floor(sec_num / 3600);\n    let minutes = Math.floor((sec_num - (hours * 3600)) / 60);\n    let seconds = sec_num - (hours * 3600) - (minutes * 60);\n\n    if (minutes < 10) {minutes = '0' + minutes;}\n    if (seconds < 10) {seconds = '0' + seconds;}\n    if (hours === 0) {\n        return minutes + ':' + seconds;\n    }\n\n    if (hours < 10) {hours = '0' + hours;}\n    return hours + ':' + minutes + ':' + seconds;\n}\n\nmsg.payload = sec2HMS(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1260,"wires":[["1f2ce555.72561b"]]},{"id":"a930b0fa.4dd4d","type":"inject","z":"22c0437.fe12ebc","name":"Trigger 5s","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":200,"wires":[["1180deff.51e951"]]},{"id":"1c54ce9d.1f8871","type":"change","z":"22c0437.fe12ebc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"NaN:NaN:NaN","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1000,"wires":[["b1f8b9.5efa8748"]]},{"id":"1f2ce555.72561b","type":"change","z":"22c0437.fe12ebc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"NaN:NaN:NaN","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1260,"wires":[["dad3a779.ea5268"]]},{"id":"92018523.615d18","type":"function","z":"22c0437.fe12ebc","name":"e2eventdescriptionextended","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventdescriptionextended[0];\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":700,"wires":[["bdf591df.25167"]]},{"id":"59ef89aa.2b6f48","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":700,"wires":[["c25678f1.58b588"]]},{"id":"bd7982ed.725d8","type":"http request","z":"22c0437.fe12ebc","name":"REMOTE_CONTROL","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{ipadresse}}:81/web/remotecontrol?command={{post}}&rcu=advanced","tls":"","proxy":"","x":1020,"y":3160,"wires":[["c8c19eaa.97de1"]]},{"id":"365e85a6.5b9a7a","type":"debug","z":"22c0437.fe12ebc","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1890,"y":3020,"wires":[]},{"id":"ea0130c2.62e2f","type":"inject","z":"22c0437.fe12ebc","name":"Radio","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":3220,"wires":[["77f0af57.e6f79"]]},{"id":"77f0af57.e6f79","type":"function","z":"22c0437.fe12ebc","name":"RADIO","func":"msg.post = '385';\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":3240,"wires":[["44e3a77a.a0c588"]]},{"id":"c8c19eaa.97de1","type":"xml","z":"22c0437.fe12ebc","name":"","property":"payload","attr":"","chr":"","x":1190,"y":3160,"wires":[["1b89ff9c.66244"]]},{"id":"76a8b393.bd12cc","type":"function","z":"22c0437.fe12ebc","name":"e2instandby","func":"msg.payload = msg.payload.e2powerstate.e2instandby[0];\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":3000,"wires":[["24374624.3e4cda"]]},{"id":"880c326d.4274c","type":"function","z":"22c0437.fe12ebc","name":"MUTE_TOGGLE","func":"msg.post = '113';\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":3160,"wires":[["44e3a77a.a0c588"]]},{"id":"b304c69b.8d6b58","type":"inject","z":"22c0437.fe12ebc","name":"TON AUS","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":300,"y":3140,"wires":[["880c326d.4274c"]]},{"id":"53e9a19c.b506","type":"http request","z":"22c0437.fe12ebc","name":"main_commands","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{ipadresse}}:81/web/powerstate?newstate={{post}}&rcu=advanced","tls":"","proxy":"","x":1010,"y":3000,"wires":[["ecb69560.6544e8"]]},{"id":"cdd4bd61.db23c","type":"inject","z":"22c0437.fe12ebc","name":"Button TV aus","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":290,"y":3040,"wires":[["66123bf0.f8be04"]]},{"id":"66123bf0.f8be04","type":"function","z":"22c0437.fe12ebc","name":"IN_STANDBY","func":"msg.post = '5';\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":3040,"wires":[["7cd4793b.f38448"]]},{"id":"f3411ab1.1c5298","type":"function","z":"22c0437.fe12ebc","name":"WAKEUP_FROM_STANDBY","func":"msg.post = '4';\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":2960,"wires":[["7cd4793b.f38448"]]},{"id":"afdf5c75.688fe","type":"inject","z":"22c0437.fe12ebc","name":"Button TV EIN","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":290,"y":2960,"wires":[["f3411ab1.1c5298"]]},{"id":"ecb69560.6544e8","type":"xml","z":"22c0437.fe12ebc","name":"","property":"payload","attr":"","chr":"","x":1190,"y":3000,"wires":[["76a8b393.bd12cc"]]},{"id":"3affd6f3.f17cfa","type":"switch","z":"22c0437.fe12ebc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"Wahr","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":1570,"y":3160,"wires":[["21603c0f.853534"],["21603c0f.853534"],["21603c0f.853534"],["3dba9a3a.5b8d36"]]},{"id":"1b89ff9c.66244","type":"function","z":"22c0437.fe12ebc","name":"e2remotecontrol.e2result","func":"msg.payload = msg.payload.e2remotecontrol.e2result[0];\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":3160,"wires":[["3affd6f3.f17cfa"]]},{"id":"3dba9a3a.5b8d36","type":"debug","z":"22c0437.fe12ebc","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1890,"y":3180,"wires":[]},{"id":"21603c0f.853534","type":"function","z":"22c0437.fe12ebc","name":"erfolgreich","func":"msg.payload = 'FB Befehl ' + msg.post + ' wurde erfolgreich abgesetzt';\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":3140,"wires":[["3dba9a3a.5b8d36"]]},{"id":"1807520a.a3ed5e","type":"function","z":"22c0437.fe12ebc","name":"Fehler","func":"msg.payload = \"Fehler!\";\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":3220,"wires":[["3dba9a3a.5b8d36"]]},{"id":"64e244bb.a589cc","type":"comment","z":"22c0437.fe12ebc","name":"++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ commands ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++","info":"","x":950,"y":2880,"wires":[]},{"id":"24374624.3e4cda","type":"switch","z":"22c0437.fe12ebc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"Wahr","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":1570,"y":3000,"wires":[["2fd688b5.db8648"],["2fd688b5.db8648"],["2fd688b5.db8648"],["365e85a6.5b9a7a"]]},{"id":"2fd688b5.db8648","type":"function","z":"22c0437.fe12ebc","name":"erfolgreich","func":"msg.payload = 'FB Befehl ' + msg.post + ' wurde erfolgreich abgesetzt';\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":2980,"wires":[["365e85a6.5b9a7a"]]},{"id":"a5d66d5c.c975f","type":"function","z":"22c0437.fe12ebc","name":"Fehler","func":"msg.payload = \"Fehler!\";\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":3060,"wires":[["365e85a6.5b9a7a"]]},{"id":"19aa5528.3c416b","type":"switch","z":"22c0437.fe12ebc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":300,"wires":[["7bc7cc9d.537024"],["8555f81f.5ca2f8"]]},{"id":"48dbafea.06b7a","type":"http request","z":"22c0437.fe12ebc","name":"/web/powerstate","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{ipadresse}}/web/powerstate","tls":"","proxy":"","authType":"basic","x":560,"y":200,"wires":[["4d1ede4d.886f"]]},{"id":"23af82e6.98f17e","type":"function","z":"22c0437.fe12ebc","name":"e2instandby","func":"msg.payload = msg.payload.e2powerstate.e2instandby[0];\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":200,"wires":[["12496b2.c238b95","8b01d7e4.3a5f98","a7439987.039f18","9457bd5b.dcbb8"]]},{"id":"4d1ede4d.886f","type":"xml","z":"22c0437.fe12ebc","name":"","property":"payload","attr":"","chr":"","x":730,"y":200,"wires":[["23af82e6.98f17e"]]},{"id":"1180deff.51e951","type":"function","z":"22c0437.fe12ebc","name":"msg.ipadresse fest","func":"msg.ipadresse = \"192.168.xx.xx:80\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["48dbafea.06b7a"]]},{"id":"b1f8b9.5efa8748","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":1000,"wires":[[]]},{"id":"8bbec535.941908","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":1260,"wires":[[]]},{"id":"1b2f9721.26ae79","type":"delay","z":"22c0437.fe12ebc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1560,"y":80,"wires":[["d58fcca4.bd1de"]]},{"id":"dde47a9b.0cdd08","type":"link out","z":"22c0437.fe12ebc","name":"Http Abfrage","links":["fd113477.b863f8"],"x":2115,"y":80,"wires":[]},{"id":"fd113477.b863f8","type":"link in","z":"22c0437.fe12ebc","name":"/web/getcurrent XML Analyse","links":["dde47a9b.0cdd08"],"x":35,"y":580,"wires":[["a0d7d1e1.c4f9c"]]},{"id":"2202d880.6f1338","type":"change","z":"22c0437.fe12ebc","name":"Bool:True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":80,"wires":[["1b2f9721.26ae79"]]},{"id":"7bc7cc9d.537024","type":"change","z":"22c0437.fe12ebc","name":"Bool:false TV AUS","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":280,"wires":[["ad9922ba.000bf"]]},{"id":"12496b2.c238b95","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1030,"y":80,"wires":[["59f066af.eeac48"]]},{"id":"8b01d7e4.3a5f98","type":"switch","z":"22c0437.fe12ebc","name":"wenn TV EIN","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1050,"y":140,"wires":[["3f2da464.1a18fc"],["3f2da464.1a18fc"]]},{"id":"8555f81f.5ca2f8","type":"change","z":"22c0437.fe12ebc","name":"Bool:false TV EIN","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":320,"wires":[["46a08b6c.c6aa04"]]},{"id":"59f066af.eeac48","type":"switch","z":"22c0437.fe12ebc","name":"wenn TV AUS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"cont","v":"true","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":80,"wires":[["2202d880.6f1338"],["2202d880.6f1338"]]},{"id":"494752d6.df64ac","type":"comment","z":"22c0437.fe12ebc","name":"/web/getcurrent","info":"","x":100,"y":540,"wires":[]},{"id":"b3213903.d6e2b8","type":"comment","z":"22c0437.fe12ebc","name":"/web/deviceinfo","info":"","x":120,"y":1600,"wires":[]},{"id":"2b10d173.5f425e","type":"function","z":"22c0437.fe12ebc","name":"Š = ","func":"msg.payload = (msg.payload).replace(//g, '\\n');\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":700,"wires":[["59ef89aa.2b6f48"]]},{"id":"681cd82b.bbcb78","type":"function","z":"22c0437.fe12ebc","name":"e2eventtitle","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventtitle[0];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":940,"wires":[["4efebfad.70536"]]},{"id":"567705e2.252bfc","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":940,"wires":[["30dc95f5.61a89a"]]},{"id":"4efebfad.70536","type":"change","z":"22c0437.fe12ebc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"û","fromt":"str","to":"ß","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"N/A","fromt":"str","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":940,"wires":[["f132dfd3.85a0b"]]},{"id":"f132dfd3.85a0b","type":"function","z":"22c0437.fe12ebc","name":"Š = ","func":"msg.payload = (msg.payload).replace(//g, '\\n');\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":940,"wires":[["567705e2.252bfc"]]},{"id":"4e328de4.af31f4","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":1120,"wires":[["a47d02b1.855b9"]]},{"id":"a1849a7e.606968","type":"function","z":"22c0437.fe12ebc","name":"/60","func":"var\tWert2 = { };\nWert2.payload = Math.round((msg.payload) / (60));\nmsg.payload = Wert2.payload;\nmsg.topic = \"wert1\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1140,"wires":[["45878e46.62493"]]},{"id":"9daa983e.c12948","type":"function","z":"22c0437.fe12ebc","name":"/60","func":"var\tWert1 = { };\nWert1.payload = Math.round((msg.payload) / (60));\nmsg.payload = Wert1.payload;\nmsg.topic = \"wert2\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1100,"wires":[["45878e46.62493"]]},{"id":"fafecd8d.a6a52","type":"function","z":"22c0437.fe12ebc","name":"e2eventduration/60","func":"var xx = msg.payload.wert2;\nvar yy = msg.payload.wert1;\nvar\tStep1 = { };\nvar Step2 = { };\nvar Step3 = { };\nStep1.payload = ((xx) - (yy));\nStep2.payload = ((Step1.payload) / (xx));\nStep3.payload = (Math.round(Step2.payload * 100));\nmsg.payload = Step3.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1120,"wires":[["4e328de4.af31f4"]]},{"id":"45878e46.62493","type":"join","z":"22c0437.fe12ebc","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":850,"y":1120,"wires":[["fafecd8d.a6a52"]]},{"id":"1b44cd49.605d83","type":"switch","z":"22c0437.fe12ebc","name":">0","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":1060,"wires":[["9daa983e.c12948","c0d9ac53.6a954"]]},{"id":"4fd4d622.df9fb8","type":"switch","z":"22c0437.fe12ebc","name":">0","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":1220,"wires":[["a1849a7e.606968","e134877.c043478"],["2bc20cff.78b984","aee6ab84.5cb2c8"]]},{"id":"2bc20cff.78b984","type":"function","z":"22c0437.fe12ebc","name":"0%","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":1120,"wires":[["4e328de4.af31f4"]]},{"id":"a7439987.039f18","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1030,"y":320,"wires":[["19aa5528.3c416b","e847ce7c.f783"]]},{"id":"f0d268f8.b6a568","type":"xml","z":"22c0437.fe12ebc","name":"","property":"payload","attr":"","chr":"","x":150,"y":1660,"wires":[["99fa8104.fd215","9ee23f93.48e7f","7c28ac24.b57034","531eef25.ddf3c","e84bd2d6.9d126"]]},{"id":"9ee23f93.48e7f","type":"function","z":"22c0437.fe12ebc","name":"e2capacity","func":"msg.payload = msg.payload.e2deviceinfo.e2hdds[0].e2hdd[0].e2capacity[0];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1720,"wires":[["9bf60b03.2c6a58"]]},{"id":"7c28ac24.b57034","type":"function","z":"22c0437.fe12ebc","name":"e2free","func":"msg.payload = msg.payload.e2deviceinfo.e2hdds[0].e2hdd[0].e2free[0];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1780,"wires":[["48b9876e.6cef58"]]},{"id":"99fa8104.fd215","type":"delay","z":"22c0437.fe12ebc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":1660,"wires":[["643a032b.8aad9c"]]},{"id":"48b9876e.6cef58","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":1780,"wires":[["2e20d456.de089c"]]},{"id":"9bf60b03.2c6a58","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":1720,"wires":[["efe028e2.bee858"]]},{"id":"6abb0347.63000c","type":"link in","z":"22c0437.fe12ebc","name":"/web/deviceinfo XML Analyse","links":["b68bf52e.7bb4b8"],"x":55,"y":1660,"wires":[["f0d268f8.b6a568"]]},{"id":"643a032b.8aad9c","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":1660,"wires":[[]]},{"id":"3f2da464.1a18fc","type":"link out","z":"22c0437.fe12ebc","name":"TV Ein","links":["8ece5dac.24e06"],"x":1175,"y":140,"wires":[]},{"id":"8ece5dac.24e06","type":"link in","z":"22c0437.fe12ebc","name":"zu den Web/get...","links":["3f2da464.1a18fc"],"x":1635,"y":140,"wires":[["d58fcca4.bd1de","543b16c0.5c03e8","bb97fc47.5beb1","fcf298eb.1e4588"]]},{"id":"af5c983d.cf15a8","type":"http request","z":"22c0437.fe12ebc","name":"/web/deviceinfo","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{ipadresse}}/web/deviceinfo","tls":"","proxy":"","authType":"basic","x":1360,"y":200,"wires":[["b68bf52e.7bb4b8"]]},{"id":"b68bf52e.7bb4b8","type":"link out","z":"22c0437.fe12ebc","name":"Http Abfrage","links":["6abb0347.63000c"],"x":1495,"y":200,"wires":[]},{"id":"b485335a.f01fe","type":"function","z":"22c0437.fe12ebc","name":"e2Eventstart","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventstart[0];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1320,"wires":[["2c0d8bdb.eee004"]]},{"id":"28920456.10f40c","type":"function","z":"22c0437.fe12ebc","name":"e2Eventende","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[1].e2eventstart[0];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1400,"wires":[["f5f5607a.1c5d6"]]},{"id":"5ce96b82.9f3ba4","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":1420,"wires":[["505affec.23f44"]]},{"id":"3be496a0.03a22a","type":"function","z":"22c0437.fe12ebc","name":"formattedTime H:M","func":"var\tdate = { };\nvar hours = { };\nvar minutes = { };\nvar formattedTime = { };\ndate.payload = new Date(msg.payload * 1000);\nhours.payload = date.payload.getHours();\nminutes.payload = \"0\" + date.payload.getMinutes();\nformattedTime.payload = hours.payload + ':' + minutes.payload.substr(-2);\nmsg.payload = formattedTime.payload;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1320,"wires":[["122f8a1d.7c6a16"]]},{"id":"6960a81d.716c68","type":"change","z":"22c0437.fe12ebc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":":","fromt":"str","to":"_","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":820,"wires":[["ccaef820.644308"]]},{"id":"bdf591df.25167","type":"change","z":"22c0437.fe12ebc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"û","fromt":"str","to":"ß","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":700,"wires":[["2b10d173.5f425e"]]},{"id":"a08a68e8.9dec28","type":"change","z":"22c0437.fe12ebc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"û","fromt":"str","to":"ß","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"N/A","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":760,"wires":[["c6bb6fb7.c274b"]]},{"id":"c6bb6fb7.c274b","type":"function","z":"22c0437.fe12ebc","name":"Š = ","func":"msg.payload = (msg.payload).replace(//g, '\\n');\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":760,"wires":[["76fc0011.3b19c"]]},{"id":"dad3a779.ea5268","type":"delay","z":"22c0437.fe12ebc","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1160,"y":1260,"wires":[["8bbec535.941908"]]},{"id":"122f8a1d.7c6a16","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":1340,"wires":[["df272a8.d6271d8"]]},{"id":"f5f5607a.1c5d6","type":"switch","z":"22c0437.fe12ebc","name":">0","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":1420,"wires":[["3475fda8.2a5222"],["a965d80e.bdb9f8"]]},{"id":"3475fda8.2a5222","type":"function","z":"22c0437.fe12ebc","name":"formattedTime H:M","func":"var\tdate = { };\nvar hours = { };\nvar minutes = { };\nvar formattedTime = { };\ndate.payload = new Date(msg.payload * 1000);\nhours.payload = date.payload.getHours();\nminutes.payload = \"0\" + date.payload.getMinutes();\nformattedTime.payload = hours.payload + ':' + minutes.payload.substr(-2);\nmsg.payload = formattedTime.payload;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1400,"wires":[["5ce96b82.9f3ba4"]]},{"id":"2c0d8bdb.eee004","type":"switch","z":"22c0437.fe12ebc","name":">0","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":1340,"wires":[["3be496a0.03a22a"],["825b8b34.c58768"]]},{"id":"825b8b34.c58768","type":"function","z":"22c0437.fe12ebc","name":"leer","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1360,"wires":[["122f8a1d.7c6a16"]]},{"id":"a965d80e.bdb9f8","type":"function","z":"22c0437.fe12ebc","name":"leer","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1440,"wires":[["5ce96b82.9f3ba4"]]},{"id":"aee6ab84.5cb2c8","type":"function","z":"22c0437.fe12ebc","name":"leer","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":1220,"wires":[["8bbec535.941908","554913a.b3119ec"]]},{"id":"dbb808a8.bc72d8","type":"function","z":"22c0437.fe12ebc","name":"e2eventtimepassed","func":"var xx = msg.payload.wert2;\nvar yy = msg.payload.wert1;\nvar\tStep1 = { };\nvar Step2 = { };\nvar Step3 = { };\nStep1.payload = ((xx) - (yy));\nmsg.payload = Step1.payload;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1500,"wires":[["2c898a5b.22f3b6"]]},{"id":"65c12c21.d9a9f4","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":1500,"wires":[["12616749.e01d59"]]},{"id":"5617d5d1.87451c","type":"join","z":"22c0437.fe12ebc","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":1500,"wires":[["dbb808a8.bc72d8"]]},{"id":"7ff48298.c4d09c","type":"function","z":"22c0437.fe12ebc","name":"wert2","func":"msg.payload = msg.payload;\nmsg.topic = \"wert2\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1480,"wires":[["5617d5d1.87451c"]]},{"id":"7e5ab6af.f58f58","type":"function","z":"22c0437.fe12ebc","name":"wert1","func":"msg.payload = msg.payload;\nmsg.topic = \"wert1\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1520,"wires":[["5617d5d1.87451c"]]},{"id":"2c898a5b.22f3b6","type":"function","z":"22c0437.fe12ebc","name":"sec2HMS","func":"function sec2HMS(sec) {\n\tif (sec  === 0) {\n        return '0';\n    }\n\n    const sec_num = parseInt(sec, 10);\n    let hours   = Math.floor(sec_num / 3600);\n    let minutes = Math.floor((sec_num - (hours * 3600)) / 60);\n    let seconds = sec_num - (hours * 3600) - (minutes * 60);\n\n    if (minutes < 10) {minutes = '0' + minutes;}\n    if (seconds < 10) {seconds = '0' + seconds;}\n    if (hours === 0) {\n        return minutes + ':' + seconds;\n    }\n\n    if (hours < 10) {hours = '0' + hours;}\n    return hours + ':' + minutes + ':' + seconds;\n}\n\nmsg.payload = sec2HMS(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":1500,"wires":[["181b0a96.7822f5"]]},{"id":"181b0a96.7822f5","type":"delay","z":"22c0437.fe12ebc","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1170,"y":1500,"wires":[["65c12c21.d9a9f4"]]},{"id":"1ce1ba51.c95fe6","type":"link in","z":"22c0437.fe12ebc","name":"wert1","links":["e134877.c043478"],"x":175,"y":1520,"wires":[["7e5ab6af.f58f58"]]},{"id":"f5add5e2.b920d8","type":"link in","z":"22c0437.fe12ebc","name":"wert2","links":["c0d9ac53.6a954"],"x":175,"y":1480,"wires":[["7ff48298.c4d09c"]]},{"id":"c0d9ac53.6a954","type":"link out","z":"22c0437.fe12ebc","name":"eventduration","links":["f5add5e2.b920d8"],"x":655,"y":1060,"wires":[]},{"id":"e134877.c043478","type":"link out","z":"22c0437.fe12ebc","name":"eventremaiming","links":["1ce1ba51.c95fe6"],"x":655,"y":1180,"wires":[]},{"id":"554913a.b3119ec","type":"link out","z":"22c0437.fe12ebc","name":"<=0","links":["3f53c15b.fa2b9e"],"x":1535,"y":1180,"wires":[]},{"id":"3f53c15b.fa2b9e","type":"link in","z":"22c0437.fe12ebc","name":"e2eventtimepassed leer","links":["554913a.b3119ec"],"x":1275,"y":1460,"wires":[["65c12c21.d9a9f4"]]},{"id":"13f3e254.d56a8e","type":"comment","z":"22c0437.fe12ebc","name":"Abfrage Intervall","info":"","x":100,"y":160,"wires":[]},{"id":"64a2ce90.a154c","type":"comment","z":"22c0437.fe12ebc","name":"ENIGMA2 RECEIVER Abfragen ############################################################################################################################################################","info":"","x":760,"y":20,"wires":[]},{"id":"161606c3.780d59","type":"comment","z":"22c0437.fe12ebc","name":"IP Adresse:Port festegen","info":"","x":330,"y":160,"wires":[]},{"id":"421b41f3.d2c83","type":"comment","z":"22c0437.fe12ebc","name":"Abfragen ##############################################################################################################################################################################################","info":"","x":820,"y":480,"wires":[]},{"id":"316f62e3.3a69ce","type":"catch","z":"22c0437.fe12ebc","name":"Verbindung error","scope":["48dbafea.06b7a"],"uncaught":false,"x":100,"y":420,"wires":[["d1a8e642.cd75e8"]]},{"id":"18a0df1c.650fb1","type":"debug","z":"22c0437.fe12ebc","name":"Variable Verbindung","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1600,"y":400,"wires":[]},{"id":"e847ce7c.f783","type":"function","z":"22c0437.fe12ebc","name":"Verbunden","func":"msg.payload = 'Verbunden';\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":380,"wires":[["18a0df1c.650fb1"]]},{"id":"d1a8e642.cd75e8","type":"function","z":"22c0437.fe12ebc","name":"nicht Verbunden","func":"msg.payload = 'nicht Verbunden!';\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":420,"wires":[["18a0df1c.650fb1"]]},{"id":"9457bd5b.dcbb8","type":"delay","z":"22c0437.fe12ebc","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1120,"y":200,"wires":[["af5c983d.cf15a8"]]},{"id":"7c277874.33dbe8","type":"catch","z":"22c0437.fe12ebc","name":"","scope":["9ee23f93.48e7f","7c28ac24.b57034","65fcb46d.b7888c"],"uncaught":false,"x":520,"y":1780,"wires":[["1191d5f4.b1381a"]]},{"id":"1191d5f4.b1381a","type":"function","z":"22c0437.fe12ebc","name":"Keine Festplatte ","func":"msg.payload = \"Keine Festplatte verbunden\";\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":1760,"wires":[["9bf60b03.2c6a58","48b9876e.6cef58"]]},{"id":"d017d37b.72787","type":"catch","z":"22c0437.fe12ebc","name":"","scope":["7c28ac24.b57034","65fcb46d.b7888c"],"uncaught":false,"x":520,"y":1720,"wires":[["1191d5f4.b1381a"]]},{"id":"531eef25.ddf3c","type":"function","z":"22c0437.fe12ebc","name":"e2capacity1","func":"msg.payload = msg.payload.e2deviceinfo.e2hdds[0].e2hdd[1].e2capacity[0];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1840,"wires":[["4c9fd5f3.ac681c"]]},{"id":"e84bd2d6.9d126","type":"function","z":"22c0437.fe12ebc","name":"e2free1","func":"msg.payload = msg.payload.e2deviceinfo.e2hdds[0].e2hdd[1].e2free[0];\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1900,"wires":[["32d5a67e.c756ca"]]},{"id":"32d5a67e.c756ca","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":1900,"wires":[["e51c2bf8.188768"]]},{"id":"4c9fd5f3.ac681c","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":1840,"wires":[["5ec13499.57d6cc"]]},{"id":"70518578.80ee3c","type":"catch","z":"22c0437.fe12ebc","name":"","scope":["531eef25.ddf3c","e84bd2d6.9d126","65fcb46d.b7888c"],"uncaught":false,"x":520,"y":1840,"wires":[["d6d3f331.88cf9"]]},{"id":"dd2b9dc3.ee7ad","type":"catch","z":"22c0437.fe12ebc","name":"","scope":["e84bd2d6.9d126","65fcb46d.b7888c"],"uncaught":false,"x":520,"y":1900,"wires":[["d6d3f331.88cf9"]]},{"id":"d6d3f331.88cf9","type":"function","z":"22c0437.fe12ebc","name":"Keine Festplatte ","func":"msg.payload = \"Keine Festplatte verbunden\";\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":1880,"wires":[["4c9fd5f3.ac681c","32d5a67e.c756ca"]]},{"id":"cc32153c.9f3618","type":"comment","z":"22c0437.fe12ebc","name":"/web/vol","info":"","x":100,"y":1980,"wires":[]},{"id":"dabb1f80.db2e7","type":"xml","z":"22c0437.fe12ebc","name":"","property":"payload","attr":"","chr":"","x":150,"y":2040,"wires":[["be2dd151.8b736","dc29d50e.5749b8","ed739d24.90ecf"]]},{"id":"be2dd151.8b736","type":"delay","z":"22c0437.fe12ebc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":2040,"wires":[["a929836b.f47e5"]]},{"id":"a2ca8f8d.161be","type":"link in","z":"22c0437.fe12ebc","name":"/web/vol XML Analyse","links":["f0b57e5.246df8"],"x":55,"y":2040,"wires":[["dabb1f80.db2e7"]]},{"id":"a929836b.f47e5","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":2040,"wires":[[]]},{"id":"543b16c0.5c03e8","type":"http request","z":"22c0437.fe12ebc","name":"/web/vol","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{ipadresse}}/web/vol","tls":"","proxy":"","authType":"basic","x":1760,"y":120,"wires":[["f0b57e5.246df8"]]},{"id":"f0b57e5.246df8","type":"link out","z":"22c0437.fe12ebc","name":"/web/vol Http Abfrage","links":["a2ca8f8d.161be"],"x":2115,"y":120,"wires":[]},{"id":"dc29d50e.5749b8","type":"function","z":"22c0437.fe12ebc","name":"e2volume.e2current","func":"msg.payload = msg.payload.e2volume.e2current[0];\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":2100,"wires":[["64591547.65ef6c"]]},{"id":"64591547.65ef6c","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":2100,"wires":[["f2728c2d.a13e8"]]},{"id":"ed739d24.90ecf","type":"function","z":"22c0437.fe12ebc","name":"e2ismuted","func":"msg.payload = msg.payload.e2volume.e2ismuted[0];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":2160,"wires":[["b1c09331.1bcf8"]]},{"id":"83b1178a.2831c8","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":2160,"wires":[["270c0e78.0af7d2"]]},{"id":"b1c09331.1bcf8","type":"change","z":"22c0437.fe12ebc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"True","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"False","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":2160,"wires":[["83b1178a.2831c8"]]},{"id":"bc367dbd.aecdf","type":"change","z":"22c0437.fe12ebc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"û","fromt":"str","to":"ß","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"&lt;n/a&gt;","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":580,"wires":[["6e765e49.28954"]]},{"id":"3a52a0ab.151be","type":"http request","z":"22c0437.fe12ebc","name":"/web/about","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{ipadresse}}/web/about","tls":"","proxy":"","authType":"basic","x":2010,"y":200,"wires":[["7d45201f.1a1d2"]]},{"id":"5bd0b5bc.0c866c","type":"comment","z":"22c0437.fe12ebc","name":"/web/about","info":"","x":100,"y":2220,"wires":[]},{"id":"69429e12.1835","type":"xml","z":"22c0437.fe12ebc","name":"","property":"payload","attr":"","chr":"","x":150,"y":2280,"wires":[["6ef8d97e.ba4868"]]},{"id":"6ef8d97e.ba4868","type":"delay","z":"22c0437.fe12ebc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":2280,"wires":[["5edb464c.8a42f8"]]},{"id":"15d72d87.ec4a82","type":"link in","z":"22c0437.fe12ebc","name":"/web/about XML Analyse","links":["7d45201f.1a1d2"],"x":55,"y":2280,"wires":[["69429e12.1835"]]},{"id":"5edb464c.8a42f8","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":2280,"wires":[[]]},{"id":"50876e37.c5b96","type":"comment","z":"22c0437.fe12ebc","name":"/web/messageanswer?getanswer=now","info":"","x":190,"y":2380,"wires":[]},{"id":"3272fc79.2b3374","type":"xml","z":"22c0437.fe12ebc","name":"","property":"payload","attr":"","chr":"","x":150,"y":2440,"wires":[["b35781a3.90edb","b1fb4e68.5459d","f1f359f2.8556e8"]]},{"id":"b35781a3.90edb","type":"delay","z":"22c0437.fe12ebc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":2440,"wires":[["c9995456.cd68f8"]]},{"id":"518525a1.eeac5c","type":"link in","z":"22c0437.fe12ebc","name":"/web/messageanswer?getanswer=now XML Analyse","links":["f43a6065.dd843"],"x":55,"y":2440,"wires":[["3272fc79.2b3374"]]},{"id":"c9995456.cd68f8","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":2440,"wires":[[]]},{"id":"bb97fc47.5beb1","type":"http request","z":"22c0437.fe12ebc","name":"/web/messageanswer?getanswer=now","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{ipadresse}}/web/messageanswer?getanswer=now","tls":"","proxy":"","authType":"basic","x":1850,"y":160,"wires":[["f43a6065.dd843"]]},{"id":"7d45201f.1a1d2","type":"link out","z":"22c0437.fe12ebc","name":"/web/about ","links":["15d72d87.ec4a82"],"x":2115,"y":200,"wires":[]},{"id":"f43a6065.dd843","type":"link out","z":"22c0437.fe12ebc","name":"/web/messageanswer?getanswer=now","links":["518525a1.eeac5c"],"x":2115,"y":160,"wires":[]},{"id":"fcf298eb.1e4588","type":"delay","z":"22c0437.fe12ebc","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1810,"y":200,"wires":[["3a52a0ab.151be"]]},{"id":"f1f359f2.8556e8","type":"function","z":"22c0437.fe12ebc","name":"e2messagestate","func":"msg.payload = msg.payload.e2simplexmlresult.e2state[0];\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":2500,"wires":[["e1dedae8.348b98"]]},{"id":"e1dedae8.348b98","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":2500,"wires":[["34b52b2e.bc42f4","7c72a034.43276"]]},{"id":"b1fb4e68.5459d","type":"function","z":"22c0437.fe12ebc","name":"e2statetext","func":"msg.payload = msg.payload.e2simplexmlresult.e2statetext[0];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":2560,"wires":[["7fa7808a.89195"]]},{"id":"51da7613.0d8818","type":"rbe","z":"22c0437.fe12ebc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":2560,"wires":[["1e56ecb6.7756a3","75c4fa6b.535134"]]},{"id":"7fa7808a.89195","type":"delay","z":"22c0437.fe12ebc","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":2560,"wires":[["51da7613.0d8818"]]},{"id":"4e21dd79.52fc74","type":"catch","z":"22c0437.fe12ebc","name":"","scope":["bd7982ed.725d8"],"uncaught":false,"x":980,"y":3220,"wires":[["1807520a.a3ed5e"]]},{"id":"642a6769.693e28","type":"catch","z":"22c0437.fe12ebc","name":"","scope":["53e9a19c.b506"],"uncaught":false,"x":980,"y":3060,"wires":[["a5d66d5c.c975f"]]},{"id":"628fb04.068505","type":"inject","z":"22c0437.fe12ebc","name":"Kanal runter","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":290,"y":3300,"wires":[["20bf6ce9.95ee54"]]},{"id":"20bf6ce9.95ee54","type":"function","z":"22c0437.fe12ebc","name":"CHANNEL DOWN","func":"msg.post = '403';\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":3320,"wires":[["44e3a77a.a0c588"]]},{"id":"4423c2c6.24690c","type":"inject","z":"22c0437.fe12ebc","name":"Kanal hoch","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":300,"y":3380,"wires":[["64462802.5122b8"]]},{"id":"64462802.5122b8","type":"function","z":"22c0437.fe12ebc","name":"CHANNEL UP","func":"msg.post = '402';\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":3400,"wires":[["44e3a77a.a0c588"]]},{"id":"3ecc763e.144d2a","type":"inject","z":"22c0437.fe12ebc","name":"runter","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":3460,"wires":[["1f54188c.9d83d7"]]},{"id":"1f54188c.9d83d7","type":"function","z":"22c0437.fe12ebc","name":"DOWN Button","func":"msg.post = '108';\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":3480,"wires":[["44e3a77a.a0c588"]]},{"id":"a0c68503.1d3068","type":"inject","z":"22c0437.fe12ebc","name":"EPG","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":3540,"wires":[["9093585e.72a108"]]},{"id":"9093585e.72a108","type":"function","z":"22c0437.fe12ebc","name":"EPG Button","func":"msg.post = '358';\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":3560,"wires":[["44e3a77a.a0c588"]]},{"id":"f76b5b8e.85d258","type":"inject","z":"22c0437.fe12ebc","name":"Exit","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":3620,"wires":[["9570dbe5.7c6708"]]},{"id":"9570dbe5.7c6708","type":"function","z":"22c0437.fe12ebc","name":"EXIT Button","func":"msg.post = '174';\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":3640,"wires":[["44e3a77a.a0c588"]]},{"id":"94e54fee.6918","type":"inject","z":"22c0437.fe12ebc","name":"links","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":3700,"wires":[["c278d188.1811f"]]},{"id":"c278d188.1811f","type":"function","z":"22c0437.fe12ebc","name":"LEFT Button","func":"msg.post = '105';\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":3720,"wires":[["44e3a77a.a0c588"]]},{"id":"afc0d1f3.0b08f","type":"inject","z":"22c0437.fe12ebc","name":"Menü","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":3780,"wires":[["a1bead98.6b778"]]},{"id":"a1bead98.6b778","type":"function","z":"22c0437.fe12ebc","name":"MENU Button","func":"msg.post = '139';\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":3800,"wires":[["44e3a77a.a0c588"]]},{"id":"2b9e8e4c.964bd2","type":"inject","z":"22c0437.fe12ebc","name":"OK","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":3860,"wires":[["3f422b6b.855914"]]},{"id":"3f422b6b.855914","type":"function","z":"22c0437.fe12ebc","name":"OK Button","func":"msg.post = '352';\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":3880,"wires":[["44e3a77a.a0c588"]]},{"id":"5886c299.5c54ec","type":"inject","z":"22c0437.fe12ebc","name":"Play-Pause","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":290,"y":3940,"wires":[["b73aa3a2.45b8a"]]},{"id":"b73aa3a2.45b8a","type":"function","z":"22c0437.fe12ebc","name":"PLAY-PAUSE Button","func":"msg.post = '164';\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":3960,"wires":[["44e3a77a.a0c588"]]},{"id":"dea2e462.5f4268","type":"inject","z":"22c0437.fe12ebc","name":"Aufnehmen","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":290,"y":4020,"wires":[["3e2deab0.2d0536"]]},{"id":"3e2deab0.2d0536","type":"function","z":"22c0437.fe12ebc","name":"REC. Button","func":"msg.post = '167';\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":4040,"wires":[["44e3a77a.a0c588"]]},{"id":"3b50c9b8.841d96","type":"inject","z":"22c0437.fe12ebc","name":"rechts","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":4100,"wires":[["aaabc20.a490a4"]]},{"id":"aaabc20.a490a4","type":"function","z":"22c0437.fe12ebc","name":"RIGHT Button","func":"msg.post = '106';\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":4120,"wires":[["44e3a77a.a0c588"]]},{"id":"e8bd85b2.a71438","type":"inject","z":"22c0437.fe12ebc","name":"Receiver EIN/AUS","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":270,"y":4180,"wires":[["cb0cea52.6c38a8"]]},{"id":"cb0cea52.6c38a8","type":"function","z":"22c0437.fe12ebc","name":"toggle to Standby","func":"msg.post = '116';\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":4200,"wires":[["44e3a77a.a0c588"]]},{"id":"ceaaabda.6900f8","type":"inject","z":"22c0437.fe12ebc","name":"Stop","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":4260,"wires":[["92093b2f.cce748"]]},{"id":"92093b2f.cce748","type":"function","z":"22c0437.fe12ebc","name":"STOP Button","func":"msg.post = '128';\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":4280,"wires":[["44e3a77a.a0c588"]]},{"id":"6355d480.89801c","type":"inject","z":"22c0437.fe12ebc","name":"TV","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":4340,"wires":[["dc26865b.17fce8"]]},{"id":"dc26865b.17fce8","type":"function","z":"22c0437.fe12ebc","name":"TV Button","func":"msg.post = '377';\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":4360,"wires":[["44e3a77a.a0c588"]]},{"id":"dc67ccc6.4d1b","type":"inject","z":"22c0437.fe12ebc","name":"hoch","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":4420,"wires":[["8d02c11a.fa146"]]},{"id":"8d02c11a.fa146","type":"function","z":"22c0437.fe12ebc","name":"UP Button","func":"msg.post = '103';\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":4440,"wires":[["44e3a77a.a0c588"]]},{"id":"37cf64ce.1cb39c","type":"inject","z":"22c0437.fe12ebc","name":"Remote Control Code","topic":"","payload":"377","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":260,"y":4580,"wires":[["3b13f104.80ff7e"]]},{"id":"3b13f104.80ff7e","type":"function","z":"22c0437.fe12ebc","name":"REMOTE-CONTROL","func":"msg.post = '385';\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":4580,"wires":[["44e3a77a.a0c588"]]},{"id":"1e56ecb6.7756a3","type":"link out","z":"22c0437.fe12ebc","name":"VU Message Antwort Text","links":["76c85dcd.bfd014"],"x":1675,"y":2620,"wires":[]},{"id":"76c85dcd.bfd014","type":"link in","z":"22c0437.fe12ebc","name":"VU Antwort auswerten","links":["1e56ecb6.7756a3"],"x":55,"y":2700,"wires":[["12de5ef5.6ed951"]]},{"id":"12de5ef5.6ed951","type":"switch","z":"22c0437.fe12ebc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Answer is YES!","vt":"str"},{"t":"eq","v":"Antwort lautet JA!","vt":"str"},{"t":"eq","v":"No answer in time","vt":"str"},{"t":"eq","v":"Keine rechtzeitige Antwort","vt":"str"},{"t":"eq","v":"Answer is NO!","vt":"str"},{"t":"eq","v":"Antwort lautet NEIN!","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":330,"y":2700,"wires":[["238fa090.0f93d"],["238fa090.0f93d"],["13cd6e46.2543c2"],["13cd6e46.2543c2"],["c24399e4.405a78"],["c24399e4.405a78"]]},{"id":"238fa090.0f93d","type":"change","z":"22c0437.fe12ebc","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":2660,"wires":[["b7464b4a.7b03c8"]]},{"id":"13cd6e46.2543c2","type":"change","z":"22c0437.fe12ebc","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":2700,"wires":[["b7464b4a.7b03c8"]]},{"id":"c24399e4.405a78","type":"change","z":"22c0437.fe12ebc","name":"2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":2740,"wires":[["b7464b4a.7b03c8"]]},{"id":"df8905de.f86b58","type":"change","z":"22c0437.fe12ebc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"û","fromt":"str","to":"ß","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":640,"wires":[["16051877.44e578"]]},{"id":"16051877.44e578","type":"function","z":"22c0437.fe12ebc","name":"Š = ","func":"msg.payload = (msg.payload).replace(//g, '\\n');\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":640,"wires":[["d1b1e6df.3366c8"]]},{"id":"5f4357c7.deb2b8","type":"link in","z":"22c0437.fe12ebc","name":"TVAUS Scheiben","links":["ad9922ba.000bf"],"x":1315,"y":880,"wires":[["cec9595c.4b14b8"]]},{"id":"3f86d1ff.73af4e","type":"function","z":"22c0437.fe12ebc","name":"\"TV AUS\"","func":"msg.payload = \"TV AUS\";\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":880,"wires":[["ae5b3396.56679"]]},{"id":"cec9595c.4b14b8","type":"delay","z":"22c0437.fe12ebc","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1410,"y":880,"wires":[["3f86d1ff.73af4e"]]},{"id":"ad9922ba.000bf","type":"link out","z":"22c0437.fe12ebc","name":"TV AUS","links":["5f4357c7.deb2b8"],"x":1495,"y":240,"wires":[]},{"id":"85dd219c.9a711","type":"ccu-value","z":"22c0437.fe12ebc","name":"","iface":"CUxD","channel":"CUX4000018:1 VuPlus:EIN/AUS","datapoint":"PRESS_SHORT","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":280,"y":4220,"wires":[["cb0cea52.6c38a8"]]},{"id":"50545806.b6bb18","type":"switch","z":"22c0437.fe12ebc","name":"EIN/AUS","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":3000,"wires":[["f3411ab1.1c5298"],["66123bf0.f8be04"]]},{"id":"f47d6a43.f474a8","type":"ccu-value","z":"22c0437.fe12ebc","name":"","iface":"CUxD","channel":"CUX4000018:2 VuPlus:MUTE","datapoint":"PRESS_SHORT","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":280,"y":3180,"wires":[["880c326d.4274c"]]},{"id":"e546e882.f9cae8","type":"ccu-value","z":"22c0437.fe12ebc","name":"","iface":"CUxD","channel":"CUX4000018:3 VuPlus:RADIO","datapoint":"PRESS_SHORT","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":280,"y":3260,"wires":[["77f0af57.e6f79"]]},{"id":"ec4cfffb.029e3","type":"ccu-value","z":"22c0437.fe12ebc","name":"","iface":"CUxD","channel":"CUX4000018:4 VuPlus:CHANNEL DOWN","datapoint":"PRESS_SHORT","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":250,"y":3340,"wires":[["20bf6ce9.95ee54"]]},{"id":"683c80c3.04e98","type":"ccu-value","z":"22c0437.fe12ebc","name":"","iface":"CUxD","channel":"CUX4000018:5 VuPlus:CHANNEL UP","datapoint":"PRESS_SHORT","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":260,"y":3420,"wires":[["64462802.5122b8"]]},{"id":"1ad60d3e.318a33","type":"ccu-value","z":"22c0437.fe12ebc","name":"","iface":"CUxD","channel":"CUX4000018:6 VuPlus:DOWN/UP","datapoint":"PRESS_SHORT","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":270,"y":3500,"wires":[["1f54188c.9d83d7"]]},{"id":"ef45753b.703de8","type":"ccu-value","z":"22c0437.fe12ebc","name":"","iface":"CUxD","channel":"CUX4000018:7 VuPlus:EPG","datapoint":"PRESS_SHORT","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":290,"y":3580,"wires":[["9093585e.72a108"]]},{"id":"9c5820d3.f9ec2","type":"ccu-value","z":"22c0437.fe12ebc","name":"","iface":"CUxD","channel":"CUX4000018:6 VuPlus:DOWN/UP","datapoint":"PRESS_LONG","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":270,"y":4460,"wires":[["8d02c11a.fa146"]]},{"id":"bb8f5b91.68e048","type":"ccu-value","z":"22c0437.fe12ebc","name":"","iface":"CUxD","channel":"CUX4000018:16 VuPlus:TV","datapoint":"PRESS_SHORT","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":240,"y":4380,"wires":[["dc26865b.17fce8"]]},{"id":"da4c37fb.5c72b8","type":"ccu-value","z":"22c0437.fe12ebc","name":"","iface":"CUxD","channel":"CUX4000018:15 VuPlus:STOP","datapoint":"PRESS_SHORT","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":230,"y":4300,"wires":[["92093b2f.cce748"]]},{"id":"b358dda5.83a95","type":"ccu-value","z":"22c0437.fe12ebc","name":"","iface":"CUxD","channel":"CUX4000018:14 VuPlus:RIGHT","datapoint":"PRESS_SHORT","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":230,"y":4140,"wires":[["aaabc20.a490a4"]]},{"id":"ea60e506.fe1708","type":"ccu-value","z":"22c0437.fe12ebc","name":"","iface":"CUxD","channel":"CUX4000018:13 VuPlus:REC","datapoint":"PRESS_SHORT","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":230,"y":4060,"wires":[["3e2deab0.2d0536"]]},{"id":"d17df310.ba503","type":"ccu-value","z":"22c0437.fe12ebc","name":"","iface":"CUxD","channel":"CUX4000018:12 VuPlus:PLAY-PAUSE","datapoint":"PRESS_SHORT","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":210,"y":3980,"wires":[["b73aa3a2.45b8a"]]},{"id":"3ea0420c.3bf2fe","type":"ccu-value","z":"22c0437.fe12ebc","name":"","iface":"CUxD","channel":"CUX4000018:11 VuPlus:OK","datapoint":"PRESS_SHORT","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":240,"y":3900,"wires":[["3f422b6b.855914"]]},{"id":"bc73dea7.9fbcd","type":"ccu-value","z":"22c0437.fe12ebc","name":"","iface":"CUxD","channel":"CUX4000018:10 VuPlus:MENU","datapoint":"PRESS_SHORT","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":230,"y":3820,"wires":[["a1bead98.6b778"]]},{"id":"3a4a8d71.f856a2","type":"ccu-value","z":"22c0437.fe12ebc","name":"","iface":"CUxD","channel":"CUX4000018:9 VuPlus:LEFT","datapoint":"PRESS_SHORT","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":290,"y":3740,"wires":[["c278d188.1811f"]]},{"id":"de9a38b1.67b6a8","type":"ccu-value","z":"22c0437.fe12ebc","name":"","iface":"CUxD","channel":"CUX4000018:8 VuPlus:EXIT","datapoint":"PRESS_SHORT","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":290,"y":3660,"wires":[["9570dbe5.7c6708"]]},{"id":"34b52b2e.bc42f4","type":"link out","z":"22c0437.fe12ebc","name":"Frage erfolgreich beantwortet","links":["d13b7a9.aaad688"],"x":1675,"y":2460,"wires":[]},{"id":"fba9fc37.b0916","type":"http request","z":"22c0437.fe12ebc","name":"REMOTE_CONTROL","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{ipadresse}}:81/web/vol?set=set{{post}}","tls":"","proxy":"","x":1020,"y":4720,"wires":[["f1b10583.8b6128"]]},{"id":"f1b10583.8b6128","type":"xml","z":"22c0437.fe12ebc","name":"","property":"payload","attr":"","chr":"","x":1270,"y":4720,"wires":[["172d195b.0d61a7"]]},{"id":"66b46a97.b56bb4","type":"switch","z":"22c0437.fe12ebc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"Wahr","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":1650,"y":4720,"wires":[["4d5af018.c4147"],["4d5af018.c4147"],["4d5af018.c4147"],["567f7e50.75eb1"]]},{"id":"172d195b.0d61a7","type":"function","z":"22c0437.fe12ebc","name":"e2volume.e2result","func":"msg.payload = msg.payload.e2volume.e2result[0];\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":4720,"wires":[["66b46a97.b56bb4"]]},{"id":"567f7e50.75eb1","type":"debug","z":"22c0437.fe12ebc","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1970,"y":4740,"wires":[]},{"id":"4d5af018.c4147","type":"function","z":"22c0437.fe12ebc","name":"erfolgreich","func":"msg.payload = 'Lautstärke Befehl auf ' + msg.post + ' % gesetzt';\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":4700,"wires":[["567f7e50.75eb1"]]},{"id":"45a42abd.bdaea4","type":"function","z":"22c0437.fe12ebc","name":"Fehler","func":"msg.payload = \"Fehler!\";\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":4780,"wires":[["567f7e50.75eb1"]]},{"id":"15099733.f50f59","type":"catch","z":"22c0437.fe12ebc","name":"","scope":["fba9fc37.b0916"],"uncaught":false,"x":1060,"y":4780,"wires":[["45a42abd.bdaea4"]]},{"id":"8a987744.895248","type":"function","z":"22c0437.fe12ebc","name":"SET VOLUME","func":"var Volume = Math.round(msg.payload * 100);\nmsg.post = Volume;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":4720,"wires":[["4a57881a.264b98"]]},{"id":"49d31e45.e6a2d","type":"ccu-value","z":"22c0437.fe12ebc","name":"","iface":"CUxD","channel":"CUX2802001:2 VU+ Volume Wohnzimmer","datapoint":"LEVEL","mode":"","start":true,"change":false,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"38263145.35ea0e","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":240,"y":4680,"wires":[["8a987744.895248"]]},{"id":"fb6017c1.213798","type":"switch","z":"22c0437.fe12ebc","name":"Movie","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"1_0_0_0_0_0_0_0_0_0_","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1250,"y":820,"wires":[["db0df0f.1a7921"],["9b8c1879.e7ce28"]]},{"id":"db0df0f.1a7921","type":"function","z":"22c0437.fe12ebc","name":"Movie","func":"msg.payload = \"Movie\";\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":800,"wires":[["9b8c1879.e7ce28"]]},{"id":"46a08b6c.c6aa04","type":"debug","z":"22c0437.fe12ebc","name":"Variable Standby","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1590,"y":320,"wires":[]},{"id":"da7f6df3.718c8","type":"debug","z":"22c0437.fe12ebc","name":"Variable SENDER","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1750,"y":580,"wires":[]},{"id":"f4c667de.ca6f68","type":"debug","z":"22c0437.fe12ebc","name":"Variable EVENTBESCHREIBUNG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1800,"y":640,"wires":[]},{"id":"c25678f1.58b588","type":"debug","z":"22c0437.fe12ebc","name":"Variable Programminfo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1760,"y":700,"wires":[]},{"id":"ae5b3396.56679","type":"debug","z":"22c0437.fe12ebc","name":"Variable Senderlogo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1760,"y":820,"wires":[]},{"id":"30dc95f5.61a89a","type":"debug","z":"22c0437.fe12ebc","name":"Variable Programm","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1750,"y":940,"wires":[]},{"id":"12616749.e01d59","type":"debug","z":"22c0437.fe12ebc","name":"Variable Verstrichene Programm Laufzeit","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1820,"y":1500,"wires":[]},{"id":"a47d02b1.855b9","type":"debug","z":"22c0437.fe12ebc","name":"Variable Programm Laufzeit","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1780,"y":1120,"wires":[]},{"id":"df272a8.d6271d8","type":"debug","z":"22c0437.fe12ebc","name":"Variable Programm Start","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":1340,"wires":[]},{"id":"505affec.23f44","type":"debug","z":"22c0437.fe12ebc","name":"Variable Programm Ende","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":1420,"wires":[]},{"id":"efe028e2.bee858","type":"debug","z":"22c0437.fe12ebc","name":"Variable HDD1 Speichergröße","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1790,"y":1720,"wires":[]},{"id":"5ec13499.57d6cc","type":"debug","z":"22c0437.fe12ebc","name":"Variable HDD2 Speichergröße","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1790,"y":1840,"wires":[]},{"id":"2e20d456.de089c","type":"debug","z":"22c0437.fe12ebc","name":"Variable HDD1 Speichergröße Frei","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1800,"y":1780,"wires":[]},{"id":"e51c2bf8.188768","type":"debug","z":"22c0437.fe12ebc","name":"Variable HDD2 Speichergröße","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1790,"y":1900,"wires":[]},{"id":"f2728c2d.a13e8","type":"debug","z":"22c0437.fe12ebc","name":"Variable Lautstärke","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1750,"y":2100,"wires":[]},{"id":"270c0e78.0af7d2","type":"debug","z":"22c0437.fe12ebc","name":"Variable Ton aus","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1740,"y":2160,"wires":[]},{"id":"7c72a034.43276","type":"debug","z":"22c0437.fe12ebc","name":"Variable Nachricht Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":2500,"wires":[]},{"id":"75c4fa6b.535134","type":"debug","z":"22c0437.fe12ebc","name":"Variable Nachricht Antwort Text","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1790,"y":2560,"wires":[]},{"id":"b7464b4a.7b03c8","type":"debug","z":"22c0437.fe12ebc","name":"Variable Nachricht Antwort Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1800,"y":2700,"wires":[]},{"id":"d2e7e3d9.801f2","type":"comment","z":"22c0437.fe12ebc","name":"https://dream.reichholf.net/wiki/Enigma2:WebInterface#RemoteControl","info":"","x":410,"y":4540,"wires":[]},{"id":"e48b8249.48621","type":"comment","z":"22c0437.fe12ebc","name":"Wert von 0-100","info":"","x":280,"y":4640,"wires":[]},{"id":"c6c1c2a.ed56d4","type":"inject","z":"22c0437.fe12ebc","name":"30%","topic":"","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":4720,"wires":[["8a987744.895248"]]},{"id":"7cd4793b.f38448","type":"function","z":"22c0437.fe12ebc","name":"msg.ipadresse fest","func":"msg.ipadresse = \"192.168.xx.xx:80\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":3000,"wires":[["53e9a19c.b506"]]},{"id":"84c576f6.359a68","type":"comment","z":"22c0437.fe12ebc","name":"IP Adresse:Port festegen","info":"","x":820,"y":2960,"wires":[]},{"id":"44e3a77a.a0c588","type":"function","z":"22c0437.fe12ebc","name":"msg.ipadresse fest","func":"msg.ipadresse = \"192.168.xx.xx:80\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":3160,"wires":[["bd7982ed.725d8"]]},{"id":"20c5d85.53cbb28","type":"comment","z":"22c0437.fe12ebc","name":"IP Adresse:Port festegen","info":"","x":820,"y":3120,"wires":[]},{"id":"4a57881a.264b98","type":"function","z":"22c0437.fe12ebc","name":"msg.ipadresse fest","func":"msg.ipadresse = \"192.168.xx.xx:80\";\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":4720,"wires":[["fba9fc37.b0916"]]},{"id":"9d0355ab.1444b8","type":"comment","z":"22c0437.fe12ebc","name":"IP Adresse:Port festegen","info":"","x":740,"y":4680,"wires":[]},{"id":"38263145.35ea0e","type":"ccu-connection","z":"","name":"Raspberry Matic","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":false,"bcwiEnabled":false,"cuxdEnabled":true,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"127.0.0.1","rpcServerHost":"127.0.0.1","rpcBinPort":"2047","rpcXmlPort":"2048","queueTimeout":"5000","queuePause":"250","contextStore":""}]
