enigma2-BSP-Flow.json
[{"id":"73ce8e95.c8bef","type":"subflow","name":"Enigma2 Receiver","info":"![Logo](https://raw.githubusercontent.com/Matten-Matten/ioBroker.enigma2/master/admin/enigma2.png)\n# **Enigma2 Subflow**\n## `V.0.0.7`\n\n - Subflow for Nodered to retrieve information from an enigma2 receiver and send commands.\n - (DE) Subflow für Nodered um Informationen von einem enigma2 Receiver abzufragen und Befehle zu senden\n\n---\n\n# **Input:**\n\n`manuell Polling`\n\n---\n### _msg.message:_\n\n\n- Message **Type**: **0**= Yes/No, **1**= Info, **2**=Message, **3**=Attention\n\n**`Beispiel: `**\n_`msg.message = {`_**`text`**_`:\"Das ist eine Testnachricht!\",`_**`Type`**_`:0,`_**`Timeout`**_`:30};`_\n\n---\n### _msg.command:_\n\n`REMOTE-CONTROL-(Number)`\n\n - 116 Key \"Power\"\t\n - 2   Key \"1\"\t \n - 3   Key \"2\"\t\n - 4   Key \"3\"\t\n - 5   Key \"4\"\t\n - 6   Key \"5\"\t\n - 7   Key \"6\"\t\n - 8   Key \"7\"\t\n - 9   Key \"8\"\t\n - 10  Key \"1\"\t\n - 11  Key \"0\"\t\n - 412 Key \"previous\"\t\n - 407 Key \"next\t\n - 115 Key \"volume up\"\t\n - 113 Key \"mute\"\t\n - 402 Key \"bouquet up\"\t\n - 114 Key \"volume down\"\t\n - 174 Key \"lame\"\t\n - 403 Key \"bouquet down\"\t\n - 358 Key \"info\"\t\n - 103 Key \"up\"\t\n - 139 Key \"menu\"\t\n - 105 Key \"left\"\t\n - 352 Key \"OK\"\t\n - 106 Key \"right\"\t\n - 392 Key \"audio\"\t\n - 108 Key \"down\"\t\n - 393 Key \"video\"\t\n - 398 Key \"red\"\t\n - 399 Key \"green\"\t\n - 400 Key \"yellow\"\t\n - 401 Key \"blue\"\t\n - 377 Key \"tv\"\t\n - 385 Key \"radio\"\t\n - 388 Key \"text\"\t\n - 138 Key \"help\"\t\n\n---\n### _msg.command:_\n\n - `MUTE_TOGGLE`\n \n - `RADIO`\n \n - `CHANNEL_DOWN`\n \n - `CHANNEL_UP`\n \n - `DOWN`\n \n - `EPG`\n \n - `EXIT`\n \n - `LEFT`\n \n - `MENU`\n \n - `OK`\n \n - `PLAY_PAUSE`\n \n - `REC`\n \n - `STANDBY_TOGGLE`\n \n - `STOP`\n \n - `TV`\n \n - `UP`\n\n - `VOL_UP`\n \n - `VOL_DOWN`\n \n - `MEDIA`\n\n - `REWIND`\n\n - `VORWARD`\n\n---\n### _msg.zap:_\n\n - `\"servicereference\"`\n\n---\n### _msg.volume:_\n\n - `0-100`\n\n---\n### _msg.main__command:_\n\n - `WAKEUP_FROM_STANDBY`\n \n - `IN_STANDBY`\n \n - `DEEP_STANDBY`\n \n - `REBOOT`\n \n - `RESTART_GUI`\n\n\n---\n\n### **Output:**\n\n * `Einschaltstatus`\n \n * `Message Answer`\n \n * `Festplatte 1 Speicher Größe`\n \n * `Festplatte 1 Speicher Frei`\n \n * `Festplatte 2 Speicher Größe`\n \n * `Festplatte 2 Speicher Frei`\n \n * `Volume - e2volume`\n \n * `Mute - e2ismuted`\n \n * `Channel - e2servicename`\n \n * `Event Description - e2eventdescription`\n \n * `Event Description Extended - e2eventdescriptionextended`\n \n * `Event Name`\n \n * `Servicereference (Sender ID)`\n \n * `Picon Path (only OpenWebInterface)`\n \n * `Event Time Passed`\n \n * `Event Progress Percent (Sendezeit)`\n \n * `Eventduration`\n \n * `Event Start`\n \n * `Event End`\n \n * `Eventremaining`\n \n * `Is Record (Aufnahme aktiv)`\n\n---\nmade by [Matten Matten](https://github.com/Matten-Matten/node-red-enigma2-flow/blob/master/README.md)","category":"Device","in":[{"x":20,"y":160,"wires":[{"id":"39f5c82e.bcb138"}]}],"out":[{"x":1680,"y":100,"wires":[{"id":"fef9901a.5c109","port":0},{"id":"a9bd8a92.e91b78","port":0}]},{"x":1660,"y":3940,"wires":[{"id":"505ff1a.6cb521","port":0},{"id":"b79641d8.ed92c","port":0}]},{"x":1720,"y":680,"wires":[{"id":"48cf227e.9eeabc","port":0}]},{"x":1720,"y":740,"wires":[{"id":"6bf33a66.137d44","port":0}]},{"x":1720,"y":800,"wires":[{"id":"224ec4cc.00817c","port":0}]},{"x":1720,"y":860,"wires":[{"id":"2f57e8d7.2a3fa8","port":0}]},{"x":1720,"y":1060,"wires":[{"id":"4295070c.1ca878","port":0}]},{"x":1720,"y":1120,"wires":[{"id":"2c16da2d.d54936","port":0}]},{"x":1760,"y":1440,"wires":[{"id":"9468cedf.22f49","port":0}]},{"x":1760,"y":1500,"wires":[{"id":"48568e5b.8553","port":0}]},{"x":1760,"y":1560,"wires":[{"id":"ed7437bd.066878","port":0}]},{"x":1760,"y":1620,"wires":[{"id":"3bfa7799.2cb3e8","port":0}]},{"x":1760,"y":1680,"wires":[{"id":"b3659381.df417","port":0},{"id":"60bc2f02.7ec","port":0}]},{"x":1760,"y":1740,"wires":[{"id":"5bf148a0.38f568","port":0},{"id":"edae0248.802cd","port":0}]},{"x":1760,"y":1880,"wires":[{"id":"96704835.54cdb8","port":0}]},{"x":1760,"y":2040,"wires":[{"id":"d0e009a9.c509a8","port":0}]},{"x":1760,"y":2200,"wires":[{"id":"cf932304.fcc14","port":0}]},{"x":1760,"y":2280,"wires":[{"id":"af3174f3.42e798","port":0}]},{"x":1760,"y":2400,"wires":[{"id":"a9f0444f.ceeff8","port":0}]},{"x":1760,"y":2520,"wires":[{"id":"fd6a7e4a.8d04f","port":0}]},{"x":1760,"y":2640,"wires":[{"id":"c7554c78.07b0c","port":0}]}],"env":[{"name":"IP","type":"str","value":"192.168.178.1","ui":{"icon":"font-awesome/fa-sitemap","label":{"en-US":"IP Adresse"},"type":"input","opts":{"types":["str"]}}},{"name":"PORT","type":"num","value":"80","ui":{"icon":"font-awesome/fa-anchor","label":{"en-US":"Port"},"type":"spinner","opts":{"min":80,"max":1000}}},{"name":"WEBIF","type":"str","value":"false","ui":{"icon":"font-awesome/fa-television","label":{"en-US":"Interface"},"type":"select","opts":{"opts":[{"l":{"en-US":"Open Web Interface"},"v":"true"},{"l":{"en-US":"Standard Web Interface"},"v":"false"}]}}},{"name":"ACTIV","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-unlock-alt","label":{"en-US":"User & Passwort Vergabe"},"type":"checkbox","opts":{}}},{"name":"USER","type":"str","value":"root","ui":{"icon":"font-awesome/fa-user-circle","label":{"en-US":"User"},"type":"input","opts":{"types":["str"]}}},{"name":"PASS","type":"str","value":"dreambox","ui":{"icon":"font-awesome/fa-key","label":{"en-US":"Passwort"},"type":"input","opts":{"types":["str"]}}},{"name":"AUTOPOLL","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-repeat","label":{"en-US":"Polling"},"type":"checkbox","opts":{}}},{"name":"POLL","type":"str","value":"5","ui":{"icon":"font-awesome/fa-retweet","label":{"en-US":"Poll Intervall"},"type":"select","opts":{"opts":[{"l":{"en-US":"3 sec. Intervall"},"v":"3"},{"l":{"en-US":"5 sec. Intervall"},"v":"5"},{"l":{"en-US":"10 sec. Intervall"},"v":"10"},{"l":{"en-US":"15 sec. Intervall"},"v":"15"},{"l":{"en-US":"20 sec. Intervall"},"v":"20"},{"l":{"en-US":"25 sec. Intervall"},"v":"25"},{"l":{"en-US":"30 sec. Intervall"},"v":"35"},{"l":{"en-US":"1 min Intervall"},"v":"60"}]}}},{"name":"DEBUG","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-bug","label":{"en-US":"Debug"},"type":"checkbox","opts":{}}}],"color":"#D8BFF8","inputLabels":["manuell Polling"],"outputLabels":["Einschaltstatus","Message Answer","Festplatte 1 Speicher Größe","Festplatte 1 Speicher Frei","Festplatte 2 Speicher Größe","Festplatte 2 Speicher Frei","Volume - e2volume","Mute - e2ismuted","Channel - e2servicename","Event Description - e2eventdescription","Event Description Extended - e2eventdescriptionextended","Event Name","Servicereference (Sender ID)","Picon Path","Event Time Passed","Event Progress Percent (Sendezeit)","Eventduration","Event Start","Event End","Eventremaining","Is Record (Aufnahme aktiv)"],"icon":"font-awesome/fa-desktop","status":{"x":1880,"y":580,"wires":[{"id":"a2a7a9ec.248a28","port":0},{"id":"50be90b7.f8ae4","port":0},{"id":"5c3b2f8d.28876","port":0},{"id":"1f8b58f.b0c74a7","port":0},{"id":"60c34cdd.d453d4","port":0},{"id":"737bffe7.48564","port":0},{"id":"4328d7fe.4336a8","port":0},{"id":"e8b353d1.11385","port":0},{"id":"f13cf568.05d108","port":0},{"id":"7802dc6f.210814","port":0}]}},{"id":"1be59d05.5486e3","type":"http request","z":"73ce8e95.c8bef","name":"powerstate","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{IP}}:{{PORT}}/web/powerstate","tls":"","persist":false,"proxy":"","authType":"basic","x":990,"y":140,"wires":[["f6fc4a93.c9bb98"]]},{"id":"8a225228.4686b","type":"change","z":"73ce8e95.c8bef","name":"IP>PORT...","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"PORT","pt":"msg","to":"PORT","tot":"env"},{"t":"set","p":"WEBIF","pt":"msg","to":"WEBIF","tot":"env"},{"t":"set","p":"payload","pt":"msg","to":"ACTIV","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":160,"wires":[["eed4269c.81ea48"]]},{"id":"eed4269c.81ea48","type":"switch","z":"73ce8e95.c8bef","name":"ACTIV","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"false","repair":false,"outputs":2,"x":830,"y":160,"wires":[["1be59d05.5486e3"],["33003481.f3c2dc"]]},{"id":"81e6f36c.1603f","type":"xml","z":"73ce8e95.c8bef","name":"","property":"payload","attr":"","chr":"","x":1390,"y":160,"wires":[["26bb9d45.d06b52"]]},{"id":"21b830b1.6702d","type":"catch","z":"73ce8e95.c8bef","name":"","scope":["1be59d05.5486e3","33003481.f3c2dc","90875983.834518","738c1b1d.a5f804","2f2e56b1.5bab8a","6384942f.a9cc8c","6db20068.e1cbd","288d7a5.1926d86","2455998d.fcf736"],"uncaught":false,"x":940,"y":340,"wires":[["7b5fead2.15b6c4","5c9f528e.01c64c","391f5fae.9ceb3","8e5e861c.d41c88"]]},{"id":"fa51da1f.d74328","type":"status","z":"73ce8e95.c8bef","name":"","scope":["1be59d05.5486e3","6f333d9.5b9cbc4"],"x":940,"y":280,"wires":[["e1ca5b9f.32fed8"]]},{"id":"7b5fead2.15b6c4","type":"change","z":"73ce8e95.c8bef","name":"","rules":[{"t":"move","p":"error.message","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":380,"wires":[["e5c6a994.398308"]]},{"id":"e1ca5b9f.32fed8","type":"change","z":"73ce8e95.c8bef","name":"","rules":[{"t":"move","p":"status.text","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":280,"wires":[[]]},{"id":"33003481.f3c2dc","type":"http request","z":"73ce8e95.c8bef","name":"powerstate","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{USER}}:{{PASS}}@{{IP}}:{{PORT}}/web/powerstate","tls":"","persist":false,"proxy":"","authType":"basic","x":990,"y":180,"wires":[["f6fc4a93.c9bb98"]]},{"id":"edd96aac.839a38","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1170,"y":80,"wires":[["1e0d064c.5a304a"]]},{"id":"1e0d064c.5a304a","type":"switch","z":"73ce8e95.c8bef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":80,"wires":[["fef9901a.5c109"],["a9bd8a92.e91b78"]]},{"id":"fef9901a.5c109","type":"change","z":"73ce8e95.c8bef","name":"Bool:false TV AUS","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":60,"wires":[["41f174c.715618c"]]},{"id":"a9bd8a92.e91b78","type":"change","z":"73ce8e95.c8bef","name":"Bool:false TV EIN","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":100,"wires":[[]]},{"id":"a2a7a9ec.248a28","type":"function","z":"73ce8e95.c8bef","name":"Send Message","func":"msg.payload = {fill:\"yellow\",shape:\"ring\",text:\"Send Message\"};\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":260,"wires":[[]]},{"id":"50be90b7.f8ae4","type":"function","z":"73ce8e95.c8bef","name":"nicht Verbunden","func":"//msg.payload = 'nicht Verbunden!';\nmsg.payload = {fill:\"red\",shape:\"dot\",text:'nicht Verbunden!'};\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":340,"wires":[[]]},{"id":"1b39edd3.262132","type":"delay","z":"73ce8e95.c8bef","name":"1msg pro 1min","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2560,"y":140,"wires":[["6384942f.a9cc8c"]]},{"id":"352696fe.0e761a","type":"switch","z":"73ce8e95.c8bef","name":"in Standby","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":2010,"y":20,"wires":[["2991f834.4fb988"],["2991f834.4fb988","7a9a64c9.9c23dc"]]},{"id":"1f392e17.4335b2","type":"delay","z":"73ce8e95.c8bef","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2370,"y":20,"wires":[["90875983.834518"]]},{"id":"818da9d.671b758","type":"link out","z":"73ce8e95.c8bef","name":"Http Abfrage","links":["5a66f01f.71a71"],"x":2895,"y":140,"wires":[]},{"id":"90875983.834518","type":"http request","z":"73ce8e95.c8bef","name":"/web/getcurrent","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{USER}}:{{PASS}}@{{IP}}:{{PORT}}/web/getcurrent","tls":"","persist":false,"proxy":"","authType":"basic","x":2560,"y":20,"wires":[["46c3ea3e.fa97a4"]]},{"id":"2547c57c.8acc4a","type":"xml","z":"73ce8e95.c8bef","name":"","property":"payload","attr":"","chr":"","x":190,"y":1440,"wires":[["c199d6e8.f08818","9dff32f2.a4a74","3f8b4dd1.e265d2","f3850cb4.7bd2b","bc5d1536.e45a78","6dfa1a8c.11ef64","b4c97ce2.f18bb","3e031d9f.48fdc2","60bad71f.df0fe8","eef6a46f.69bec8","e2cf4cc5.87376"]]},{"id":"c199d6e8.f08818","type":"function","z":"73ce8e95.c8bef","name":"e2servicename","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventservicename[0];\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1440,"wires":[["ce7bd619.eb23e8"]]},{"id":"9dff32f2.a4a74","type":"function","z":"73ce8e95.c8bef","name":"e2servicereference","func":"msg.payload = msg.payload.e2currentserviceinformation.e2service[0].e2servicereference[0];\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1680,"wires":[["1724d425.ff7dac"]]},{"id":"4ae4ec2d.b96754","type":"function","z":"73ce8e95.c8bef","name":"slice(0,-1)","func":"msg.payload = msg.payload.slice(0,-1);\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":1720,"wires":[["b3659381.df417"]]},{"id":"3f8b4dd1.e265d2","type":"function","z":"73ce8e95.c8bef","name":"e2eventname","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventname[0];\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1620,"wires":[["814c9f79.64c13"]]},{"id":"f3850cb4.7bd2b","type":"function","z":"73ce8e95.c8bef","name":"e2eventdescription","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventdescription[0];\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1500,"wires":[["140697f3.298ca8"]]},{"id":"3bfa7799.2cb3e8","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1630,"y":1620,"wires":[[]]},{"id":"48568e5b.8553","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1630,"y":1500,"wires":[[]]},{"id":"b3659381.df417","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1630,"y":1680,"wires":[[]]},{"id":"9468cedf.22f49","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1630,"y":1440,"wires":[[]]},{"id":"bc5d1536.e45a78","type":"function","z":"73ce8e95.c8bef","name":"e2eventduration","func":"msg.payload = parseFloat(msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventduration[0]);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1880,"wires":[["9418ef78.c6285","e4fe89f2.ccd558","cb702922.b8d438"]]},{"id":"9418ef78.c6285","type":"function","z":"73ce8e95.c8bef","name":"sec2HMS","func":"function sec2HMS(sec) {\n\tif (sec  === 0) {\n        return '0';\n    }\n\n    const sec_num = parseInt(sec, 10);\n    let hours   = Math.floor(sec_num / 3600);\n    let minutes = Math.floor((sec_num - (hours * 3600)) / 60);\n    let seconds = sec_num - (hours * 3600) - (minutes * 60);\n\n    if (minutes < 10) {minutes = '0' + minutes;}\n    if (seconds < 10) {seconds = '0' + seconds;}\n    if (hours === 0) {\n        return minutes + ':' + seconds;\n    }\n\n    if (hours < 10) {hours = '0' + hours;}\n    return hours + ':' + minutes + ':' + seconds;\n}\n\nmsg.payload = sec2HMS(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1880,"wires":[["425e883d.0001c8"]]},{"id":"6dfa1a8c.11ef64","type":"function","z":"73ce8e95.c8bef","name":"e2eventremaining","func":"msg.payload = parseFloat(msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventremaining[0]);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":2180,"wires":[["cf10153.30a30e8","78c33a82.2c3414","cdca5868.83d888"]]},{"id":"cdca5868.83d888","type":"function","z":"73ce8e95.c8bef","name":"sec2HMS","func":"function sec2HMS(sec) {\n\tif (sec  === 0) {\n        return '0';\n    }\n\n    const sec_num = parseInt(sec, 10);\n    let hours   = Math.floor(sec_num / 3600);\n    let minutes = Math.floor((sec_num - (hours * 3600)) / 60);\n    let seconds = sec_num - (hours * 3600) - (minutes * 60);\n\n    if (minutes < 10) {minutes = '0' + minutes;}\n    if (seconds < 10) {seconds = '0' + seconds;}\n    if (hours === 0) {\n        return minutes + ':' + seconds;\n    }\n\n    if (hours < 10) {hours = '0' + hours;}\n    return hours + ':' + minutes + ':' + seconds;\n}\n\nmsg.payload = sec2HMS(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":2200,"wires":[["87c4bca8.d7616"]]},{"id":"425e883d.0001c8","type":"change","z":"73ce8e95.c8bef","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"NaN:NaN:NaN","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1880,"wires":[["96704835.54cdb8"]]},{"id":"87c4bca8.d7616","type":"change","z":"73ce8e95.c8bef","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"NaN:NaN:NaN","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2200,"wires":[["94ca32ae.7511b"]]},{"id":"b4c97ce2.f18bb","type":"function","z":"73ce8e95.c8bef","name":"e2eventdescriptionextended","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventdescriptionextended[0];\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1560,"wires":[["2a1b5323.96177c"]]},{"id":"ed7437bd.066878","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1630,"y":1560,"wires":[[]]},{"id":"eb1e4b65.5b3b68","type":"http request","z":"73ce8e95.c8bef","name":"REMOTE_CONTROL","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{USER}}:{{PASS}}@{{IP}}:{{PORT}}/web/remotecontrol?command={{post}}&rcu=advanced","tls":"","persist":false,"proxy":"","authType":"","x":3800,"y":800,"wires":[["e1694236.39334"]]},{"id":"414e3653.6dbb78","type":"function","z":"73ce8e95.c8bef","name":"RADIO","func":"msg.post = '385';\nreturn msg;","outputs":1,"noerr":0,"x":3180,"y":880,"wires":[["c0dc86ce.bce368"]]},{"id":"e1694236.39334","type":"xml","z":"73ce8e95.c8bef","name":"","property":"payload","attr":"","chr":"","x":4050,"y":800,"wires":[["addf940b.208058"]]},{"id":"bb8774bf.ff9c58","type":"function","z":"73ce8e95.c8bef","name":"MUTE_TOGGLE","func":"msg.post = '113';\nreturn msg;","outputs":1,"noerr":0,"x":3150,"y":840,"wires":[["c0dc86ce.bce368"]]},{"id":"e2bacd51.6879c","type":"function","z":"73ce8e95.c8bef","name":"IN_STANDBY","func":"msg.post = '5';\nreturn msg;","outputs":1,"noerr":0,"x":3160,"y":600,"wires":[["d796b6c6.be8de8"]]},{"id":"cb4d17bb.ade9e8","type":"function","z":"73ce8e95.c8bef","name":"WAKEUP_FROM_STANDBY","func":"msg.post = '4';\nreturn msg;","outputs":1,"noerr":0,"x":3120,"y":560,"wires":[["d796b6c6.be8de8"]]},{"id":"1d4350df.ad233f","type":"switch","z":"73ce8e95.c8bef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"Wahr","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":4470,"y":800,"wires":[["4bc80062.7fa6"],["4bc80062.7fa6"],["4bc80062.7fa6"],[]]},{"id":"addf940b.208058","type":"function","z":"73ce8e95.c8bef","name":"e2remotecontrol.e2result","func":"msg.payload = msg.payload.e2remotecontrol.e2result[0];\nreturn msg;","outputs":1,"noerr":0,"x":4250,"y":800,"wires":[["1d4350df.ad233f"]]},{"id":"d6f21ecd.0612d","type":"debug","z":"73ce8e95.c8bef","d":true,"name":"befehl","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4850,"y":840,"wires":[]},{"id":"4bc80062.7fa6","type":"function","z":"73ce8e95.c8bef","name":"erfolgreich","func":"msg.payload = 'FB Befehl ' + msg.post + ' wurde erfolgreich abgesetzt';\nreturn msg;","outputs":1,"noerr":0,"x":4650,"y":780,"wires":[["d6f21ecd.0612d"]]},{"id":"6f606de5.451b14","type":"function","z":"73ce8e95.c8bef","name":"Fehler","func":"msg.payload = \"Fehler!\";\nreturn msg;","outputs":1,"noerr":0,"x":4670,"y":840,"wires":[["d6f21ecd.0612d"]]},{"id":"2dd18a13.c61a26","type":"comment","z":"73ce8e95.c8bef","name":"++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ commands ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++","info":"","x":3570,"y":520,"wires":[]},{"id":"96704835.54cdb8","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1630,"y":1880,"wires":[[]]},{"id":"cf932304.fcc14","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1630,"y":2200,"wires":[[]]},{"id":"46c3ea3e.fa97a4","type":"link out","z":"73ce8e95.c8bef","name":"Http Abfrage","links":["793ad7e1.5b79e8"],"x":2895,"y":20,"wires":[]},{"id":"793ad7e1.5b79e8","type":"link in","z":"73ce8e95.c8bef","name":"/web/getcurrent XML Analyse","links":["46c3ea3e.fa97a4","ff4bd4c7.a2e648"],"x":95,"y":1440,"wires":[["2547c57c.8acc4a"]]},{"id":"bd04beb0.83aeb","type":"comment","z":"73ce8e95.c8bef","name":"/web/getcurrent","info":"","x":160,"y":1400,"wires":[]},{"id":"5037609d.2d223","type":"comment","z":"73ce8e95.c8bef","name":"/web/deviceinfo","info":"","x":160,"y":560,"wires":[]},{"id":"32a77003.8200e","type":"function","z":"73ce8e95.c8bef","name":"Š = ","func":"msg.payload = (msg.payload).replace(//g, '\\n');\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1560,"wires":[["ed7437bd.066878"]]},{"id":"3e031d9f.48fdc2","type":"function","z":"73ce8e95.c8bef","d":true,"name":"e2eventtitle","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventtitle[0];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1820,"wires":[["9c4909db.6462e8"]]},{"id":"5bf148a0.38f568","type":"rbe","z":"73ce8e95.c8bef","d":true,"name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1630,"y":1820,"wires":[[]]},{"id":"9c4909db.6462e8","type":"change","z":"73ce8e95.c8bef","d":true,"name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"û","fromt":"str","to":"ß","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"N/A","fromt":"str","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1820,"wires":[["a74a8ac2.3e0668"]]},{"id":"a74a8ac2.3e0668","type":"function","z":"73ce8e95.c8bef","d":true,"name":"Š = ","func":"msg.payload = (msg.payload).replace(//g, '\\n');\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1820,"wires":[["5bf148a0.38f568"]]},{"id":"d0e009a9.c509a8","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1630,"y":2040,"wires":[[]]},{"id":"ad46b07d.3e55b","type":"function","z":"73ce8e95.c8bef","name":"/60","func":"var\tWert2 = { };\nWert2.payload = Math.round((msg.payload) / (60));\nmsg.payload = Wert2.payload;\nmsg.topic = \"wert1\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":2080,"wires":[["dcefd4f0.1520c8"]]},{"id":"6a5f330a.2b35bc","type":"function","z":"73ce8e95.c8bef","name":"/60","func":"var\tWert1 = { };\nWert1.payload = Math.round((msg.payload) / (60));\nmsg.payload = Wert1.payload;\nmsg.topic = \"wert2\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":2000,"wires":[["dcefd4f0.1520c8"]]},{"id":"c149ba0c.df6c18","type":"function","z":"73ce8e95.c8bef","name":"e2eventduration/60","func":"var xx = msg.payload.wert2;\nvar yy = msg.payload.wert1;\nvar\tStep1 = { };\nvar Step2 = { };\nvar Step3 = { };\nStep1.payload = ((xx) - (yy));\nStep2.payload = ((Step1.payload) / (xx));\nStep3.payload = (Math.round(Step2.payload * 100));\nmsg.payload = Step3.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":2040,"wires":[["d0e009a9.c509a8"]]},{"id":"dcefd4f0.1520c8","type":"join","z":"73ce8e95.c8bef","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":2040,"wires":[["c149ba0c.df6c18"]]},{"id":"e4fe89f2.ccd558","type":"switch","z":"73ce8e95.c8bef","name":">0","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1940,"wires":[["6a5f330a.2b35bc","c5b69b08.a37a18"]]},{"id":"78c33a82.2c3414","type":"switch","z":"73ce8e95.c8bef","name":">0","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":2160,"wires":[["ad46b07d.3e55b","26e024c8.122dfc"],["dae8148d.d0ebd8","3f814416.d6876c"]]},{"id":"dae8148d.d0ebd8","type":"function","z":"73ce8e95.c8bef","name":"0%","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":2080,"wires":[["d0e009a9.c509a8"]]},{"id":"b5a6242f.650fd8","type":"xml","z":"73ce8e95.c8bef","name":"","property":"payload","attr":"","chr":"","x":190,"y":620,"wires":[["dd8d7b65.a96b18","c5a4395b.590028","1375c8a1.e852f7","e54d1da0.8c2b5","29146e18.46e762"]]},{"id":"dd8d7b65.a96b18","type":"function","z":"73ce8e95.c8bef","name":"e2capacity","func":"msg.payload = msg.payload.e2deviceinfo.e2hdds[0].e2hdd[0].e2capacity[0];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":680,"wires":[["48cf227e.9eeabc"]]},{"id":"c5a4395b.590028","type":"function","z":"73ce8e95.c8bef","name":"e2free","func":"msg.payload = msg.payload.e2deviceinfo.e2hdds[0].e2hdd[0].e2free[0];\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":740,"wires":[["6bf33a66.137d44"]]},{"id":"6bf33a66.137d44","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1610,"y":740,"wires":[[]]},{"id":"48cf227e.9eeabc","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1610,"y":680,"wires":[[]]},{"id":"5a66f01f.71a71","type":"link in","z":"73ce8e95.c8bef","name":"/web/deviceinfo XML Analyse","links":["818da9d.671b758","adf603bb.09161","ea8589e.435e478"],"x":95,"y":620,"wires":[["b5a6242f.650fd8"]]},{"id":"b9e0457e.d43fb8","type":"link in","z":"73ce8e95.c8bef","name":"zu den Web/get...","links":["56c500ba.2c816","7a9a64c9.9c23dc"],"x":2375,"y":80,"wires":[["90875983.834518","738c1b1d.a5f804","32ec9f78.42965"]]},{"id":"60bad71f.df0fe8","type":"function","z":"73ce8e95.c8bef","name":"e2Eventstart","func":"msg.payload = parseFloat(msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventstart[0]);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":2280,"wires":[["96193368.31378"]]},{"id":"eef6a46f.69bec8","type":"function","z":"73ce8e95.c8bef","name":"e2Eventende","func":"msg.payload = parseFloat(msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[1].e2eventstart[0]);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":2400,"wires":[["5cb8f6cf.2aa188"]]},{"id":"a9f0444f.ceeff8","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1630,"y":2400,"wires":[[]]},{"id":"ac5fc3d7.05a0f","type":"function","z":"73ce8e95.c8bef","name":"formattedTime H:M","func":"var\tdate = { };\nvar hours = { };\nvar minutes = { };\nvar formattedTime = { };\ndate.payload = new Date(msg.payload * 1000);\nhours.payload = date.payload.getHours();\nminutes.payload = \"0\" + date.payload.getMinutes();\nformattedTime.payload = hours.payload + ':' + minutes.payload.substr(-2);\nmsg.payload = formattedTime.payload;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":2260,"wires":[["af3174f3.42e798"]]},{"id":"1724d425.ff7dac","type":"change","z":"73ce8e95.c8bef","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":":","fromt":"str","to":"_","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1680,"wires":[["84590d60.dbd85","114c17c5.8dedf8"]]},{"id":"2a1b5323.96177c","type":"change","z":"73ce8e95.c8bef","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"û","fromt":"str","to":"ß","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1560,"wires":[["32a77003.8200e"]]},{"id":"814c9f79.64c13","type":"change","z":"73ce8e95.c8bef","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"û","fromt":"str","to":"ß","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"N/A","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1620,"wires":[["428221d4.68ede"]]},{"id":"428221d4.68ede","type":"function","z":"73ce8e95.c8bef","name":"Š = ","func":"msg.payload = (msg.payload).replace(//g, '\\n');\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1620,"wires":[["3bfa7799.2cb3e8"]]},{"id":"94ca32ae.7511b","type":"delay","z":"73ce8e95.c8bef","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1220,"y":2200,"wires":[["cf932304.fcc14"]]},{"id":"af3174f3.42e798","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1630,"y":2280,"wires":[[]]},{"id":"5cb8f6cf.2aa188","type":"switch","z":"73ce8e95.c8bef","name":">0","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":2400,"wires":[["79427f16.1dc77"],["d3bc3cf4.7a6da"]]},{"id":"79427f16.1dc77","type":"function","z":"73ce8e95.c8bef","name":"formattedTime H:M","func":"var\tdate = { };\nvar hours = { };\nvar minutes = { };\nvar formattedTime = { };\ndate.payload = new Date(msg.payload * 1000);\nhours.payload = date.payload.getHours();\nminutes.payload = \"0\" + date.payload.getMinutes();\nformattedTime.payload = hours.payload + ':' + minutes.payload.substr(-2);\nmsg.payload = formattedTime.payload;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":2380,"wires":[["a9f0444f.ceeff8"]]},{"id":"96193368.31378","type":"switch","z":"73ce8e95.c8bef","name":">0","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":2280,"wires":[["ac5fc3d7.05a0f"],["3f824fa2.73666"]]},{"id":"3f824fa2.73666","type":"function","z":"73ce8e95.c8bef","name":"leer","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":2300,"wires":[["af3174f3.42e798","378969ba.ce9a96"]]},{"id":"d3bc3cf4.7a6da","type":"function","z":"73ce8e95.c8bef","name":"leer","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":2420,"wires":[["a9f0444f.ceeff8"]]},{"id":"3f814416.d6876c","type":"function","z":"73ce8e95.c8bef","name":"leer","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":2160,"wires":[["cf932304.fcc14","e851c281.08279"]]},{"id":"e7ae61ce.5c565","type":"function","z":"73ce8e95.c8bef","name":"e2eventtimepassed","func":"var xx = msg.payload.wert2;\nvar yy = msg.payload.wert1;\nvar\tStep1 = { };\nvar Step2 = { };\nvar Step3 = { };\nStep1.payload = ((xx) - (yy));\nmsg.payload = Step1.payload;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":2520,"wires":[["58c559e0.b982b8"]]},{"id":"fd6a7e4a.8d04f","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1630,"y":2520,"wires":[[]]},{"id":"50ad1e95.816b7","type":"join","z":"73ce8e95.c8bef","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":2520,"wires":[["e7ae61ce.5c565"]]},{"id":"9596e471.0e0dc8","type":"function","z":"73ce8e95.c8bef","name":"wert2","func":"msg.payload = msg.payload;\nmsg.topic = \"wert2\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":2480,"wires":[["50ad1e95.816b7"]]},{"id":"3d5acdf1.855082","type":"function","z":"73ce8e95.c8bef","name":"wert1","func":"msg.payload = msg.payload;\nmsg.topic = \"wert1\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":2560,"wires":[["50ad1e95.816b7"]]},{"id":"58c559e0.b982b8","type":"function","z":"73ce8e95.c8bef","name":"sec2HMS","func":"function sec2HMS(sec) {\n\tif (sec  === 0) {\n        return '0';\n    }\n\n    const sec_num = parseInt(sec, 10);\n    let hours   = Math.floor(sec_num / 3600);\n    let minutes = Math.floor((sec_num - (hours * 3600)) / 60);\n    let seconds = sec_num - (hours * 3600) - (minutes * 60);\n\n    if (minutes < 10) {minutes = '0' + minutes;}\n    if (seconds < 10) {seconds = '0' + seconds;}\n    if (hours === 0) {\n        return minutes + ':' + seconds;\n    }\n\n    if (hours < 10) {hours = '0' + hours;}\n    return hours + ':' + minutes + ':' + seconds;\n}\n\nmsg.payload = sec2HMS(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":2520,"wires":[["6bdd0e1d.19749"]]},{"id":"6bdd0e1d.19749","type":"delay","z":"73ce8e95.c8bef","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1430,"y":2520,"wires":[["fd6a7e4a.8d04f"]]},{"id":"c14839e4.dfa6d8","type":"link in","z":"73ce8e95.c8bef","name":"wert1","links":["26e024c8.122dfc"],"x":295,"y":2560,"wires":[["3d5acdf1.855082"]]},{"id":"80ca1a55.3e2788","type":"link in","z":"73ce8e95.c8bef","name":"wert2","links":["c5b69b08.a37a18"],"x":295,"y":2480,"wires":[["9596e471.0e0dc8"]]},{"id":"c5b69b08.a37a18","type":"link out","z":"73ce8e95.c8bef","name":"eventduration","links":["80ca1a55.3e2788"],"x":715,"y":1940,"wires":[]},{"id":"26e024c8.122dfc","type":"link out","z":"73ce8e95.c8bef","name":"eventremaiming","links":["c14839e4.dfa6d8"],"x":715,"y":2120,"wires":[]},{"id":"e851c281.08279","type":"link out","z":"73ce8e95.c8bef","name":"<=0","links":["6a43b01a.4d5ab"],"x":1595,"y":2120,"wires":[]},{"id":"6a43b01a.4d5ab","type":"link in","z":"73ce8e95.c8bef","name":"e2eventtimepassed leer","links":["e851c281.08279"],"x":1535,"y":2480,"wires":[["fd6a7e4a.8d04f"]]},{"id":"935bdf71.03113","type":"catch","z":"73ce8e95.c8bef","name":"","scope":["dd8d7b65.a96b18","c5a4395b.590028","65fcb46d.b7888c"],"uncaught":false,"x":560,"y":740,"wires":[["65087ed0.69306"]]},{"id":"65087ed0.69306","type":"function","z":"73ce8e95.c8bef","name":"Keine Festplatte ","func":"msg.payload = \"Keine Festplatte verbunden\";\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":720,"wires":[["48cf227e.9eeabc","6bf33a66.137d44"]]},{"id":"26007382.150cfc","type":"catch","z":"73ce8e95.c8bef","name":"","scope":["c5a4395b.590028","65fcb46d.b7888c"],"uncaught":false,"x":560,"y":680,"wires":[["65087ed0.69306"]]},{"id":"1375c8a1.e852f7","type":"function","z":"73ce8e95.c8bef","name":"e2capacity1","func":"msg.payload = msg.payload.e2deviceinfo.e2hdds[0].e2hdd[1].e2capacity[0];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":800,"wires":[["224ec4cc.00817c"]]},{"id":"e54d1da0.8c2b5","type":"function","z":"73ce8e95.c8bef","name":"e2free1","func":"msg.payload = msg.payload.e2deviceinfo.e2hdds[0].e2hdd[1].e2free[0];\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":860,"wires":[["2f57e8d7.2a3fa8"]]},{"id":"2f57e8d7.2a3fa8","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1610,"y":860,"wires":[[]]},{"id":"224ec4cc.00817c","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1610,"y":800,"wires":[[]]},{"id":"c1387918.3cc678","type":"catch","z":"73ce8e95.c8bef","name":"","scope":["1375c8a1.e852f7","e54d1da0.8c2b5","65fcb46d.b7888c"],"uncaught":false,"x":560,"y":800,"wires":[["e029d61a.8f5e58"]]},{"id":"8d181d8.45c97e","type":"catch","z":"73ce8e95.c8bef","name":"","scope":["e54d1da0.8c2b5","65fcb46d.b7888c"],"uncaught":false,"x":560,"y":860,"wires":[["e029d61a.8f5e58"]]},{"id":"e029d61a.8f5e58","type":"function","z":"73ce8e95.c8bef","name":"Keine Festplatte ","func":"msg.payload = \"Keine Festplatte verbunden\";\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":840,"wires":[["224ec4cc.00817c","2f57e8d7.2a3fa8"]]},{"id":"ec1dd135.18f95","type":"comment","z":"73ce8e95.c8bef","name":"/web/vol","info":"","x":140,"y":940,"wires":[]},{"id":"93bd773f.7f2ee8","type":"xml","z":"73ce8e95.c8bef","name":"","property":"payload","attr":"","chr":"","x":190,"y":1000,"wires":[["952b0124.bc8f2","c0e9cba1.199568","4b61c7dd.2c7488"]]},{"id":"a232c58a.91b548","type":"link in","z":"73ce8e95.c8bef","name":"/web/vol XML Analyse","links":["748fc4b0.eec82c","5c3f2b2f.5f8bf4"],"x":95,"y":1000,"wires":[["93bd773f.7f2ee8"]]},{"id":"738c1b1d.a5f804","type":"http request","z":"73ce8e95.c8bef","name":"/web/vol","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{USER}}:{{PASS}}@{{IP}}:{{PORT}}/web/vol","tls":"","persist":false,"proxy":"","authType":"basic","x":2540,"y":60,"wires":[["748fc4b0.eec82c"]]},{"id":"748fc4b0.eec82c","type":"link out","z":"73ce8e95.c8bef","name":"/web/vol Http Abfrage","links":["a232c58a.91b548"],"x":2895,"y":60,"wires":[]},{"id":"952b0124.bc8f2","type":"function","z":"73ce8e95.c8bef","name":"e2volume.e2current","func":"//msg.payload = parseFloat(msg.payload.e2volume.e2current[0]);\nmsg.payload = parseFloat(msg.payload.e2volume.e2current[0]);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1060,"wires":[["4295070c.1ca878"]]},{"id":"4295070c.1ca878","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1610,"y":1060,"wires":[[]]},{"id":"c0e9cba1.199568","type":"function","z":"73ce8e95.c8bef","name":"e2ismuted","func":"msg.payload = msg.payload.e2volume.e2ismuted[0];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1120,"wires":[["7bb7af5c.418dc"]]},{"id":"2c16da2d.d54936","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1610,"y":1120,"wires":[[]]},{"id":"7bb7af5c.418dc","type":"change","z":"73ce8e95.c8bef","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"True","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"False","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":1120,"wires":[["2c16da2d.d54936"]]},{"id":"ce7bd619.eb23e8","type":"change","z":"73ce8e95.c8bef","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"û","fromt":"str","to":"ß","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"&lt;n/a&gt;","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1440,"wires":[["9468cedf.22f49"]]},{"id":"2f2e56b1.5bab8a","type":"http request","z":"73ce8e95.c8bef","name":"/web/about","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{USER}}:{{PASS}}@{{IP}}:{{PORT}}/web/about","tls":"","persist":false,"proxy":"","authType":"basic","x":2790,"y":100,"wires":[["6cf4244c.dd916c"]]},{"id":"6399bcf.d29de44","type":"comment","z":"73ce8e95.c8bef","name":"/web/about","info":"","x":220,"y":2780,"wires":[]},{"id":"73b590b5.d0dcf","type":"xml","z":"73ce8e95.c8bef","name":"","property":"payload","attr":"","chr":"","x":410,"y":2840,"wires":[["8964a338.27d01"]]},{"id":"499bc3.5c74c43c","type":"link in","z":"73ce8e95.c8bef","name":"/web/about XML Analyse","links":["6cf4244c.dd916c","6663006e.244d3"],"x":175,"y":2840,"wires":[["73b590b5.d0dcf"]]},{"id":"9b0b66f7.ccc238","type":"comment","z":"73ce8e95.c8bef","name":"/web/messageanswer?getanswer=now","info":"","x":270,"y":3900,"wires":[]},{"id":"332d0c92.7b4b64","type":"xml","z":"73ce8e95.c8bef","name":"","property":"payload","attr":"","chr":"","x":690,"y":3940,"wires":[["7426d63f.a5f198","9eef5911.94aa08","8666c2ae.4033b"]]},{"id":"6cf4244c.dd916c","type":"link out","z":"73ce8e95.c8bef","name":"/web/about ","links":["499bc3.5c74c43c"],"x":2895,"y":100,"wires":[]},{"id":"32ec9f78.42965","type":"delay","z":"73ce8e95.c8bef","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2590,"y":100,"wires":[["2f2e56b1.5bab8a"]]},{"id":"8666c2ae.4033b","type":"function","z":"73ce8e95.c8bef","name":"e2statetext","func":"msg.payload = msg.payload.e2simplexmlresult.e2statetext[0];\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":4000,"wires":[["31207da3.20a6d2"]]},{"id":"8394d694.b06bf8","type":"http request","z":"73ce8e95.c8bef","name":"/web/message?text=&type=&timeout=","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{USER}}:{{PASS}}@{{IP}}:{{PORT}}/web/message?text={{messagetext}}&type={{messagetype}}&timeout={{messagetimeout}}","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":3740,"wires":[["897ca120.30225","4a9ae24b.2b483c"]]},{"id":"897ca120.30225","type":"xml","z":"73ce8e95.c8bef","name":"","property":"payload","attr":"","chr":"","x":1170,"y":3740,"wires":[["ada39ade.ec50b8","16dc1d8c.a159c2"]]},{"id":"ada39ade.ec50b8","type":"function","z":"73ce8e95.c8bef","name":"e2simplexmlresult","func":"msg.payload = msg.payload.e2simplexmlresult.e2state[0];\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":3740,"wires":[["4145c4f1.f5332c"]]},{"id":"d00b175.9f0d4e8","type":"comment","z":"73ce8e95.c8bef","name":"Message Type: 0= Yes/No, 1= Info, 2=Message, 3=Attention","info":"No answer in time\nFalse\nTrue\n\"Answer is YES!\"\n\"Die Nachricht wurde erfolgreich gesendet!\"\nAnswer is NO!\n","x":280,"y":3660,"wires":[]},{"id":"5f145a4.f5a1da4","type":"catch","z":"73ce8e95.c8bef","name":"","scope":["eb1e4b65.5b3b68","d40d414d.aba4c"],"uncaught":false,"x":3760,"y":840,"wires":[["6f606de5.451b14"]]},{"id":"6e9fb0c0.18567","type":"join","z":"73ce8e95.c8bef","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":1940,"wires":[["7100af6d.92c9"]]},{"id":"cb702922.b8d438","type":"function","z":"73ce8e95.c8bef","name":"wert2","func":"var\tWert1 = { };\nWert1.payload = msg.payload;\nmsg.payload = Wert1.payload;\nmsg.topic = \"wert2\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":2020,"wires":[["6df471c.e30259"]]},{"id":"cf10153.30a30e8","type":"function","z":"73ce8e95.c8bef","name":"wert1","func":"var\tWert2 = { };\nWert2.payload = msg.payload;\nmsg.payload = Wert2.payload;\nmsg.topic = \"wert1\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":2060,"wires":[["6df471c.e30259"]]},{"id":"7100af6d.92c9","type":"function","z":"73ce8e95.c8bef","name":"Film","func":"var xx = msg.payload.wert2;\nvar yy = msg.payload.wert1;\nif (xx !== 0 && xx === yy) {\nmsg.payload = true;\nreturn msg;\n} else if (xx === 0) {\nmsg.payload = true;\nreturn msg;\n} else {\nmsg.payload = false;\nreturn msg;\n}","outputs":1,"noerr":0,"x":1050,"y":1940,"wires":[["dc435c0b.02647"]]},{"id":"fa2b5d0f.bb704","type":"link in","z":"73ce8e95.c8bef","name":"Film","links":["6df471c.e30259"],"x":815,"y":1940,"wires":[["6e9fb0c0.18567"]]},{"id":"6df471c.e30259","type":"link out","z":"73ce8e95.c8bef","name":"wert12","links":["fa2b5d0f.bb704"],"x":675,"y":2040,"wires":[]},{"id":"c2932a7d.0c08f8","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1630,"y":1940,"wires":[["ace5e68c.0842b8"]]},{"id":"8b4fc89e.7c4008","type":"link out","z":"73ce8e95.c8bef","name":"Film Ausgabe","links":["e674fd5f.6a01e"],"x":1875,"y":1940,"wires":[]},{"id":"e674fd5f.6a01e","type":"link in","z":"73ce8e95.c8bef","name":"Movie","links":["8b4fc89e.7c4008"],"x":1935,"y":1940,"wires":[["357c5a7f.7bb9b6"]]},{"id":"ec503902.ea2488","type":"function","z":"73ce8e95.c8bef","name":"Movie","func":"msg.payload = \"Movie\";\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":1940,"wires":[[]]},{"id":"357c5a7f.7bb9b6","type":"delay","z":"73ce8e95.c8bef","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2010,"y":1940,"wires":[["ec503902.ea2488"]]},{"id":"dc435c0b.02647","type":"change","z":"73ce8e95.c8bef","name":"","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":1940,"wires":[["c2932a7d.0c08f8"]]},{"id":"ace5e68c.0842b8","type":"function","z":"73ce8e95.c8bef","name":"true","func":"var xx = msg.payload;\nif (xx === true || xx === \"true\") {\nmsg.payload = true;\nreturn msg;\n}","outputs":1,"noerr":0,"x":1770,"y":1940,"wires":[["8b4fc89e.7c4008"]]},{"id":"ec739a39.cdee98","type":"function","z":"73ce8e95.c8bef","name":"CHANNEL_DOWN","func":"msg.post = '403';\nreturn msg;","outputs":1,"noerr":0,"x":3150,"y":920,"wires":[["c0dc86ce.bce368"]]},{"id":"ed7e7c91.752d","type":"function","z":"73ce8e95.c8bef","name":"CHANNEL_UP","func":"msg.post = '402';\nreturn msg;","outputs":1,"noerr":0,"x":3160,"y":960,"wires":[["c0dc86ce.bce368"]]},{"id":"c114a53a.b822c8","type":"function","z":"73ce8e95.c8bef","name":"DOWN","func":"msg.post = '108';\nreturn msg;","outputs":1,"noerr":0,"x":3180,"y":1000,"wires":[["c0dc86ce.bce368"]]},{"id":"3ad4786f.853908","type":"function","z":"73ce8e95.c8bef","name":"EPG","func":"msg.post = '358';\nreturn msg;","outputs":1,"noerr":0,"x":3190,"y":1040,"wires":[["c0dc86ce.bce368"]]},{"id":"45742678.b4b028","type":"function","z":"73ce8e95.c8bef","name":"EXIT","func":"msg.post = '174';\nreturn msg;","outputs":1,"noerr":0,"x":3190,"y":1080,"wires":[["c0dc86ce.bce368"]]},{"id":"5e484f94.ef083","type":"function","z":"73ce8e95.c8bef","name":"LEFT","func":"msg.post = '105';\nreturn msg;","outputs":1,"noerr":0,"x":3190,"y":1120,"wires":[["c0dc86ce.bce368"]]},{"id":"9ce5f22b.7f692","type":"function","z":"73ce8e95.c8bef","name":"MENU","func":"msg.post = '139';\nreturn msg;","outputs":1,"noerr":0,"x":3190,"y":1160,"wires":[["c0dc86ce.bce368"]]},{"id":"879912ff.0e74e","type":"function","z":"73ce8e95.c8bef","name":"OK","func":"msg.post = '352';\nreturn msg;","outputs":1,"noerr":0,"x":3190,"y":1200,"wires":[["c0dc86ce.bce368"]]},{"id":"7eca4b3c.fa9b04","type":"function","z":"73ce8e95.c8bef","name":"PLAY_PAUSE","func":"msg.post = '164';\nreturn msg;","outputs":1,"noerr":0,"x":3160,"y":1240,"wires":[["c0dc86ce.bce368"]]},{"id":"53ca5528.c342dc","type":"function","z":"73ce8e95.c8bef","name":"REC","func":"msg.post = '167';\nreturn msg;","outputs":1,"noerr":0,"x":3190,"y":1280,"wires":[["c0dc86ce.bce368"]]},{"id":"f2f91b58.d4b4c8","type":"function","z":"73ce8e95.c8bef","name":"RIGHT","func":"msg.post = '106';\nreturn msg;","outputs":1,"noerr":0,"x":3190,"y":1320,"wires":[["c0dc86ce.bce368"]]},{"id":"f8a5d430.5d3008","type":"function","z":"73ce8e95.c8bef","name":"STANDBY_TOGGLE","func":"msg.post = '116';\nreturn msg;","outputs":1,"noerr":0,"x":3140,"y":1360,"wires":[["c0dc86ce.bce368"]]},{"id":"9b3e358.dd227c8","type":"function","z":"73ce8e95.c8bef","name":"STOP","func":"msg.post = '128';\nreturn msg;","outputs":1,"noerr":0,"x":3190,"y":1400,"wires":[["c0dc86ce.bce368"]]},{"id":"21480a50.308196","type":"function","z":"73ce8e95.c8bef","name":"TV","func":"msg.post = '377';\nreturn msg;","outputs":1,"noerr":0,"x":3190,"y":1440,"wires":[["c0dc86ce.bce368"]]},{"id":"3193f793.e07018","type":"function","z":"73ce8e95.c8bef","name":"UP","func":"msg.post = '103';\nreturn msg;","outputs":1,"noerr":0,"x":3190,"y":1480,"wires":[["c0dc86ce.bce368"]]},{"id":"cd5ff887.b7e1b8","type":"function","z":"73ce8e95.c8bef","name":"REMOTE-CONTROL","func":"msg.post = msg.command;\nreturn msg;","outputs":1,"noerr":0,"x":3140,"y":800,"wires":[["c0dc86ce.bce368"]]},{"id":"7d4077d5.788848","type":"inject","z":"73ce8e95.c8bef","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":3030,"y":1900,"wires":[["a2a2e2c5.395cd"]]},{"id":"a2a2e2c5.395cd","type":"function","z":"73ce8e95.c8bef","name":"ZAP","func":"msg.post = '1:0:19:C39C:2727:F001:FFFF0000:0:0:0';\nreturn msg;","outputs":1,"noerr":0,"x":3190,"y":1900,"wires":[["c0dc86ce.bce368"]]},{"id":"140697f3.298ca8","type":"change","z":"73ce8e95.c8bef","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"û","fromt":"str","to":"ß","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1500,"wires":[["3437e707.63d7b8"]]},{"id":"3437e707.63d7b8","type":"function","z":"73ce8e95.c8bef","name":"Š = ","func":"msg.payload = (msg.payload).replace(//g, '\\n');\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1500,"wires":[["48568e5b.8553"]]},{"id":"b9bf9bb5.fc3578","type":"link in","z":"73ce8e95.c8bef","name":"TVAUS Scheiben","links":["41f174c.715618c"],"x":1195,"y":1400,"wires":[["c119d230.72fa6"]]},{"id":"60bc2f02.7ec","type":"function","z":"73ce8e95.c8bef","name":"\"TV AUS\"","func":"msg.payload = \"TV AUS\";\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":1400,"wires":[[]]},{"id":"c119d230.72fa6","type":"delay","z":"73ce8e95.c8bef","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1310,"y":1400,"wires":[["60bc2f02.7ec"]]},{"id":"41f174c.715618c","type":"link out","z":"73ce8e95.c8bef","name":"TV AUS","links":["b9bf9bb5.fc3578"],"x":1675,"y":60,"wires":[]},{"id":"1c112a24.d2f246","type":"inject","z":"73ce8e95.c8bef","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1060,"y":1400,"wires":[["60bc2f02.7ec"]]},{"id":"513a8d18.2b20e4","type":"delay","z":"73ce8e95.c8bef","name":"msg.delay","pauseType":"delayv","timeout":"0","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1450,"y":3820,"wires":[["7cb3a828.e8ebc8","f695c8a0.f4de98","8ab0cedc.eb40d","dd031554.7134b8"]]},{"id":"6a646db3.af2a54","type":"function","z":"73ce8e95.c8bef","name":"to delay","func":"var time = msg.messagetimeout;\n//var minus2sec = parseFloat(time) - 1;\nvar millisec = time*1000;\nmsg.delay = millisec-900;\nmsg.payload = \"Message Timeout\";\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":3820,"wires":[["513a8d18.2b20e4"]]},{"id":"4145c4f1.f5332c","type":"switch","z":"73ce8e95.c8bef","name":"erfolgreich gesendet","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1560,"y":3740,"wires":[["e5335bb1.3a8aa8"]]},{"id":"998eb4a0.51fa38","type":"switch","z":"73ce8e95.c8bef","name":"timeout > 0","property":"messagetimeout","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":990,"y":3820,"wires":[["6a646db3.af2a54"]]},{"id":"eeac5aab.f758f8","type":"link in","z":"73ce8e95.c8bef","name":"abfrage auswerten","links":["f565ee51.56aae"],"x":75,"y":3940,"wires":[["99c065a8.7eab18"]]},{"id":"f565ee51.56aae","type":"link out","z":"73ce8e95.c8bef","name":"Abfrage gesendet","links":["eeac5aab.f758f8"],"x":2215,"y":3820,"wires":[]},{"id":"5fc9a0c6.00e4c","type":"http request","z":"73ce8e95.c8bef","name":"/web/vol?set=set","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{USER}}:{{PASS}}@{{IP}}:{{PORT}}/web/vol?set=set{{post}}","tls":"","persist":false,"proxy":"","authType":"","x":3710,"y":2060,"wires":[["d91b0a60.dcfec8"]]},{"id":"d91b0a60.dcfec8","type":"xml","z":"73ce8e95.c8bef","name":"","property":"payload","attr":"","chr":"","x":3870,"y":2060,"wires":[["6ee52dd1.00a324","1adc5e1d.0f4872"]]},{"id":"6ee52dd1.00a324","type":"debug","z":"73ce8e95.c8bef","name":"xml","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4030,"y":2020,"wires":[]},{"id":"aba48439.0a4c48","type":"switch","z":"73ce8e95.c8bef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"true","vt":"str","case":true},{"t":"regex","v":"Wahr","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":4250,"y":2060,"wires":[["7376aa16.75d504"],["7376aa16.75d504"],[]]},{"id":"1adc5e1d.0f4872","type":"function","z":"73ce8e95.c8bef","name":"e2volume.e2result","func":"msg.payload = msg.payload.e2volume.e2result[0];\nreturn msg;","outputs":1,"noerr":0,"x":4070,"y":2060,"wires":[["aba48439.0a4c48"]]},{"id":"635e6d0c.3f3494","type":"debug","z":"73ce8e95.c8bef","d":true,"name":"vol","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4610,"y":2060,"wires":[]},{"id":"7376aa16.75d504","type":"function","z":"73ce8e95.c8bef","name":"erfolgreich","func":"msg.payload = 'Lautstärke Befehl auf ' + msg.post + ' % gesetzt';\nreturn msg;","outputs":1,"noerr":0,"x":4410,"y":2060,"wires":[["635e6d0c.3f3494"]]},{"id":"ca04b3b4.8ef49","type":"function","z":"73ce8e95.c8bef","name":"Fehler","func":"msg.payload = \"Fehler!\";\nreturn msg;","outputs":1,"noerr":0,"x":4430,"y":2120,"wires":[["635e6d0c.3f3494"]]},{"id":"45bd56cd.4eaad8","type":"catch","z":"73ce8e95.c8bef","name":"","scope":["5fc9a0c6.00e4c"],"uncaught":false,"x":3680,"y":2120,"wires":[["ca04b3b4.8ef49"]]},{"id":"114c17c5.8dedf8","type":"switch","z":"73ce8e95.c8bef","name":"Movie","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"1_0_0_0_0_0_0_0_0_0_","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1030,"y":1680,"wires":[["17dabf2f.4a71f1","b3659381.df417"],["7616e04.e829d2"],["4ae4ec2d.b96754"]]},{"id":"17dabf2f.4a71f1","type":"function","z":"73ce8e95.c8bef","d":true,"name":"Movie","func":"msg.payload = \"Movie\";\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1640,"wires":[["b3659381.df417"]]},{"id":"7616e04.e829d2","type":"function","z":"73ce8e95.c8bef","name":"VMC","func":"msg.payload = \"VMC\";\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1680,"wires":[[]]},{"id":"81824b22.f1a258","type":"inject","z":"73ce8e95.c8bef","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":4640,"wires":[["ff3ea4f3.bc4658"]]},{"id":"ff3ea4f3.bc4658","type":"http request","z":"73ce8e95.c8bef","name":"/api/statusinfo","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.27.40:278/api/statusinfo","tls":"","proxy":"","x":460,"y":4640,"wires":[["df385258.a7379"]]},{"id":"c45b8e6.e68ae7","type":"debug","z":"73ce8e95.c8bef","name":"/api/statusinfo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1400,"y":4640,"wires":[]},{"id":"df385258.a7379","type":"json","z":"73ce8e95.c8bef","name":"","property":"payload","action":"","pretty":false,"x":630,"y":4640,"wires":[["c45b8e6.e68ae7","7eb16322.40899c","7347f479.cd8eec","5e5cb05f.4ab8c"]]},{"id":"3156dbc5.255b04","type":"debug","z":"73ce8e95.c8bef","name":"payload.isRecording","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1420,"y":4700,"wires":[]},{"id":"7eb16322.40899c","type":"change","z":"73ce8e95.c8bef","name":"payload.isRecording","rules":[{"t":"move","p":"payload.isRecording","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":4700,"wires":[["3156dbc5.255b04"]]},{"id":"7347f479.cd8eec","type":"change","z":"73ce8e95.c8bef","name":"payload.currservice_serviceref","rules":[{"t":"move","p":"payload.currservice_serviceref","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":4760,"wires":[["24ff620.707f49e"]]},{"id":"24ff620.707f49e","type":"debug","z":"73ce8e95.c8bef","name":"streame","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1380,"y":4760,"wires":[]},{"id":"5e5cb05f.4ab8c","type":"switch","z":"73ce8e95.c8bef","name":"payload.currservice_serviceref","property":"payload.currservice_serviceref","propertyType":"msg","rules":[{"t":"cont","v":"1:0:0:0:0:0:0:0:0:0:","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":4880,"wires":[["71e44b7.133b8b4","6f2923b8.c0deac"],["1fcba48d.f32ddb","acfadd68.b1679"]]},{"id":"71e44b7.133b8b4","type":"change","z":"73ce8e95.c8bef","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":4800,"wires":[["24ff620.707f49e"]]},{"id":"1fcba48d.f32ddb","type":"change","z":"73ce8e95.c8bef","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":4940,"wires":[["24ff620.707f49e"]]},{"id":"acfadd68.b1679","type":"debug","z":"73ce8e95.c8bef","name":"currservice_serviceref:","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1420,"y":4880,"wires":[]},{"id":"6f2923b8.c0deac","type":"change","z":"73ce8e95.c8bef","name":"1:0:0:0:0:0:0:0:0:0","rules":[{"t":"set","p":"payload","pt":"msg","to":"1:0:0:0:0:0:0:0:0:0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":4860,"wires":[["acfadd68.b1679"]]},{"id":"e5c6a994.398308","type":"switch","z":"73ce8e95.c8bef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Error","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1410,"y":380,"wires":[["dfa8b50b.3699f8","a0ec94ef.d23b08"]]},{"id":"6384942f.a9cc8c","type":"http request","z":"73ce8e95.c8bef","name":"/web/deviceinfo","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{USER}}:{{PASS}}@{{IP}}:{{PORT}}/web/deviceinfo","tls":"","persist":false,"proxy":"","authType":"basic","x":2780,"y":140,"wires":[["818da9d.671b758"]]},{"id":"c16be416.b718a8","type":"link in","z":"73ce8e95.c8bef","name":"","links":["da388344.4b238"],"x":1895,"y":20,"wires":[["352696fe.0e761a"]]},{"id":"da388344.4b238","type":"link out","z":"73ce8e95.c8bef","name":"","links":["c16be416.b718a8","72fe7601.27bd98","978361f5.547a5","56a94c33.dead84"],"x":1135,"y":20,"wires":[]},{"id":"7a9a64c9.9c23dc","type":"link out","z":"73ce8e95.c8bef","name":"TV Ein","links":["b9e0457e.d43fb8"],"x":2215,"y":80,"wires":[]},{"id":"2991f834.4fb988","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":2250,"y":20,"wires":[["1f392e17.4335b2"]]},{"id":"dfa8b50b.3699f8","type":"delay","z":"73ce8e95.c8bef","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1550,"y":380,"wires":[["5c3b2f8d.28876"]]},{"id":"5c3b2f8d.28876","type":"function","z":"73ce8e95.c8bef","name":"nicht Verbunden","func":"//msg.payload = 'Konfiguration überprüfen!';\nmsg.payload = {fill:\"yellow\",shape:\"ring\",text:\"Konfiguration überprüfen!\"};\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":380,"wires":[[]]},{"id":"a0ec94ef.d23b08","type":"delay","z":"73ce8e95.c8bef","name":"6s","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1550,"y":420,"wires":[["1f8b58f.b0c74a7"]]},{"id":"1f8b58f.b0c74a7","type":"function","z":"73ce8e95.c8bef","name":"nicht Verbunden","func":"//msg.payload = 'Netzwerk Verbindung prüfen!';\nmsg.payload = {fill:\"yellow\",shape:\"ring\",text:\"Netzwerk Verbindung prüfen!\"};\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":420,"wires":[[]]},{"id":"5c9f528e.01c64c","type":"trigger","z":"73ce8e95.c8bef","op1":"true","op2":"true","op1type":"bool","op2type":"bool","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"10s","x":1550,"y":340,"wires":[["50be90b7.f8ae4"]]},{"id":"e5522bd0.b74e08","type":"change","z":"73ce8e95.c8bef","name":"polling","rules":[{"t":"set","p":"payload","pt":"msg","to":"polling","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":460,"wires":[["60c34cdd.d453d4"]]},{"id":"e19b7909.8ce668","type":"switch","z":"73ce8e95.c8bef","name":"start","property":"start","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":160,"wires":[["5f837a9b.9ab704","34087cef.70ecf4"]]},{"id":"80d7d91a.2c6f48","type":"switch","z":"73ce8e95.c8bef","name":"volume","property":"volume","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":120,"wires":[["6e8f1ca1.a14cf4"]]},{"id":"6e8f1ca1.a14cf4","type":"link out","z":"73ce8e95.c8bef","name":"set volume","links":["b8965016.88f2b"],"x":375,"y":120,"wires":[]},{"id":"40e126dc.52f478","type":"comment","z":"73ce8e95.c8bef","name":"/web/vol?set","info":"","x":150,"y":1180,"wires":[]},{"id":"b8965016.88f2b","type":"link in","z":"73ce8e95.c8bef","name":"/web/vol?set","links":["6e8f1ca1.a14cf4"],"x":320,"y":1220,"wires":[["f5b45815.f37e88"]]},{"id":"f5b45815.f37e88","type":"change","z":"73ce8e95.c8bef","name":"IP>PORT>WEBIF>ACTIV>USER>PASS","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"PORT","pt":"msg","to":"PORT","tot":"env"},{"t":"set","p":"WEBIF","pt":"msg","to":"WEBIF","tot":"env"},{"t":"set","p":"payload","pt":"msg","to":"ACTIV","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1220,"wires":[["573f4746.ed1f18"]]},{"id":"573f4746.ed1f18","type":"switch","z":"73ce8e95.c8bef","name":"ACTIV","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"false","repair":false,"outputs":2,"x":950,"y":1220,"wires":[["41564331.9f9aec"],["8e191059.96a3a"]]},{"id":"8e191059.96a3a","type":"http request","z":"73ce8e95.c8bef","name":"/web/powerstate","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{USER}}:{{PASS}}@{{IP}}:{{PORT}}/web/vol?set=set{{volume}}","tls":"","persist":false,"proxy":"","authType":"basic","x":1120,"y":1240,"wires":[["a64d4e.078702b"]]},{"id":"41564331.9f9aec","type":"http request","z":"73ce8e95.c8bef","name":"/web/powerstate","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{IP}}:{{PORT}}/web/vol?set=set{{volume}}","tls":"","persist":false,"proxy":"","authType":"basic","x":1120,"y":1200,"wires":[["a64d4e.078702b"]]},{"id":"ea6a3c06.6eefe","type":"link out","z":"73ce8e95.c8bef","name":"DEBUG","links":["eb904597.ec88b8"],"x":1395,"y":1180,"wires":[]},{"id":"a64d4e.078702b","type":"xml","z":"73ce8e95.c8bef","name":"","property":"payload","attr":"","chr":"","x":1290,"y":1220,"wires":[["7881e9a1.e5b098","ea6a3c06.6eefe"]]},{"id":"7881e9a1.e5b098","type":"change","z":"73ce8e95.c8bef","name":"payload.e2volume.e2resulttext[0]","rules":[{"t":"move","p":"payload.e2volume.e2resulttext[0]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1220,"wires":[[]]},{"id":"391eda54.0cc476","type":"switch","z":"73ce8e95.c8bef","name":"stop","property":"stop","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":260,"wires":[["44e1925e.62ce3c"]]},{"id":"737bffe7.48564","type":"function","z":"73ce8e95.c8bef","name":"Verbindung OK","func":"msg.payload = {fill:\"grey\",shape:\"ring\",text:\"\"};\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":300,"wires":[[]]},{"id":"88fe1a91.695b98","type":"debug","z":"73ce8e95.c8bef","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":60,"wires":[]},{"id":"6c47fffd.05697","type":"change","z":"73ce8e95.c8bef","name":"POLL","rules":[{"t":"set","p":"POLL","pt":"msg","to":"POLL","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":500,"wires":[["4328d7fe.4336a8"]]},{"id":"60c34cdd.d453d4","type":"function","z":"73ce8e95.c8bef","name":"Info Polling","func":"\nmsg.payload = {fill:\"green\",shape:\"ring\",text:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":460,"wires":[[]]},{"id":"d404956e.ffd1b8","type":"switch","z":"73ce8e95.c8bef","name":"Connection OK","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"e2powerstate","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":80,"wires":[["9a016601.4e1788","c7a09b86.d332d8"]]},{"id":"9a016601.4e1788","type":"delay","z":"73ce8e95.c8bef","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":20,"wires":[["b21520a1.14369"]]},{"id":"3d2ea31c.138b3c","type":"change","z":"73ce8e95.c8bef","name":"DEBUG","rules":[{"t":"set","p":"DEBUG","pt":"msg","to":"DEBUG","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":60,"wires":[["b845c4c2.edd0b8"]]},{"id":"b845c4c2.edd0b8","type":"switch","z":"73ce8e95.c8bef","name":"","property":"DEBUG","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":60,"wires":[["88fe1a91.695b98"]]},{"id":"1a4435e5.7d4a5a","type":"switch","z":"73ce8e95.c8bef","name":"${POLL}","property":"POLL","propertyType":"env","rules":[{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"60","vt":"str"}],"checkall":"false","repair":false,"outputs":8,"x":540,"y":400,"wires":[["d728588.7e6fca8"],["dcfcef65.8e778"],["26a0e11d.7b7a7e"],["488f8f66.5f68e"],["7182463f.e8bc38"],["8228e63.5694b18"],["460f4280.195e9c"],["313289b.7a73d76"]]},{"id":"740d5780.c07428","type":"inject","z":"73ce8e95.c8bef","name":"Poll","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"1","x":130,"y":360,"wires":[["ec419d48.88503"]]},{"id":"dcfcef65.8e778","type":"delay","z":"73ce8e95.c8bef","name":"5s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":730,"y":300,"wires":[["390982f8.f28b9e"]]},{"id":"26a0e11d.7b7a7e","type":"delay","z":"73ce8e95.c8bef","name":"10s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":730,"y":340,"wires":[["390982f8.f28b9e"]]},{"id":"488f8f66.5f68e","type":"delay","z":"73ce8e95.c8bef","name":"15s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":730,"y":380,"wires":[["390982f8.f28b9e"]]},{"id":"7182463f.e8bc38","type":"delay","z":"73ce8e95.c8bef","name":"20s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":730,"y":420,"wires":[["390982f8.f28b9e"]]},{"id":"8228e63.5694b18","type":"delay","z":"73ce8e95.c8bef","name":"25s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"25","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":730,"y":460,"wires":[["390982f8.f28b9e"]]},{"id":"460f4280.195e9c","type":"delay","z":"73ce8e95.c8bef","name":"30s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":730,"y":500,"wires":[["390982f8.f28b9e"]]},{"id":"313289b.7a73d76","type":"delay","z":"73ce8e95.c8bef","name":"1min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":730,"y":540,"wires":[["390982f8.f28b9e"]]},{"id":"390982f8.f28b9e","type":"link out","z":"73ce8e95.c8bef","name":"Poll","links":["f8786b2c.beb218","912527cc.7802f8"],"x":895,"y":400,"wires":[]},{"id":"ca990ded.82f5d","type":"comment","z":"73ce8e95.c8bef","name":"Polling","info":"","x":70,"y":320,"wires":[]},{"id":"174167e9.3c13c8","type":"switch","z":"73ce8e95.c8bef","name":"AUTOPOLL","property":"AUTOPOLL","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":400,"wires":[["1a4435e5.7d4a5a"]]},{"id":"d728588.7e6fca8","type":"delay","z":"73ce8e95.c8bef","name":"3s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":730,"y":260,"wires":[["390982f8.f28b9e"]]},{"id":"f8786b2c.beb218","type":"link in","z":"73ce8e95.c8bef","name":"Poll","links":["390982f8.f28b9e"],"x":555,"y":180,"wires":[["8a225228.4686b"]]},{"id":"4328d7fe.4336a8","type":"function","z":"73ce8e95.c8bef","name":"starte Polling","func":"\nmsg.payload = {fill:\"green\",shape:\"ring\",text:\"starte Polling \" + msg.POLL + \"s\"};\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":500,"wires":[[]]},{"id":"6efdeb76.615504","type":"inject","z":"73ce8e95.c8bef","name":"Poll","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":950,"y":500,"wires":[["209e3474.bef6bc","7f348c87.eea2d4"]]},{"id":"209e3474.bef6bc","type":"switch","z":"73ce8e95.c8bef","name":"AUTOPOLL","property":"AUTOPOLL","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":500,"wires":[["6c47fffd.05697"]]},{"id":"b21520a1.14369","type":"link out","z":"73ce8e95.c8bef","name":"Verbindung OK","links":["9479e625.bc5978"],"x":1035,"y":20,"wires":[]},{"id":"9479e625.bc5978","type":"link in","z":"73ce8e95.c8bef","name":"Verbindung OK","links":["b21520a1.14369","ed5379b8.a0bff8","68a55313.44b44c","ade8a450.203be8"],"x":1515,"y":300,"wires":[["737bffe7.48564"]]},{"id":"912527cc.7802f8","type":"link in","z":"73ce8e95.c8bef","name":"Poll","links":["390982f8.f28b9e","81cde856.195338"],"x":895,"y":460,"wires":[["e5522bd0.b74e08"]]},{"id":"c3e7aa65.506e68","type":"comment","z":"73ce8e95.c8bef","name":"Status ausgeben","info":"","x":950,"y":240,"wires":[]},{"id":"26bb9d45.d06b52","type":"link out","z":"73ce8e95.c8bef","name":"debug","links":["eb904597.ec88b8","549788c7.365cb8","73c18697.257008"],"x":1475,"y":160,"wires":[]},{"id":"eb904597.ec88b8","type":"link in","z":"73ce8e95.c8bef","name":"debug OUT","links":["26bb9d45.d06b52","29146e18.46e762","4b61c7dd.2c7488","ea6a3c06.6eefe","e2cf4cc5.87376","8964a338.27d01","7426d63f.a5f198","d9d5a69b.1308b8","5ea21507.2d6a6c","d0f1df59.ee6f9","16dc1d8c.a159c2","31207da3.20a6d2","62e2993f.c255e8"],"x":35,"y":60,"wires":[["3d2ea31c.138b3c"]]},{"id":"549788c7.365cb8","type":"link in","z":"73ce8e95.c8bef","name":"check","links":["26bb9d45.d06b52"],"x":635,"y":80,"wires":[["d404956e.ffd1b8"]]},{"id":"c7a09b86.d332d8","type":"function","z":"73ce8e95.c8bef","name":"e2instandby","func":"msg.payload = msg.payload.e2powerstate.e2instandby[0];\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":80,"wires":[["edd96aac.839a38","da388344.4b238"]]},{"id":"234ec25c.12dd2e","type":"comment","z":"73ce8e95.c8bef","name":"Einschaltstatus","info":"","x":1740,"y":140,"wires":[]},{"id":"978361f5.547a5","type":"link in","z":"73ce8e95.c8bef","name":"","links":["da388344.4b238"],"x":1895,"y":140,"wires":[["1b39edd3.262132"]]},{"id":"29146e18.46e762","type":"link out","z":"73ce8e95.c8bef","name":"debug","links":["eb904597.ec88b8"],"x":335,"y":620,"wires":[]},{"id":"4b61c7dd.2c7488","type":"link out","z":"73ce8e95.c8bef","name":"debug","links":["eb904597.ec88b8"],"x":335,"y":1000,"wires":[]},{"id":"e2cf4cc5.87376","type":"link out","z":"73ce8e95.c8bef","name":"debug","links":["eb904597.ec88b8"],"x":335,"y":1400,"wires":[]},{"id":"8964a338.27d01","type":"link out","z":"73ce8e95.c8bef","name":"debug","links":["eb904597.ec88b8"],"x":555,"y":2840,"wires":[]},{"id":"7426d63f.a5f198","type":"link out","z":"73ce8e95.c8bef","name":"debug","links":["eb904597.ec88b8"],"x":815,"y":3900,"wires":[]},{"id":"e2f32a3f.7f4fe8","type":"comment","z":"73ce8e95.c8bef","name":"Debugging Output","info":"","x":110,"y":20,"wires":[]},{"id":"d14388f2.f1b538","type":"comment","z":"73ce8e95.c8bef","name":"Check Connection","info":"","x":710,"y":20,"wires":[]},{"id":"7f348c87.eea2d4","type":"change","z":"73ce8e95.c8bef","name":"IP>PORT>USER>PASS","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"PORT","pt":"msg","to":"PORT","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":540,"wires":[["6db20068.e1cbd"]]},{"id":"6db20068.e1cbd","type":"http request","z":"73ce8e95.c8bef","name":"/web/powerstate","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{IP}}:{{PORT}}/web/powerstate","tls":"","persist":false,"proxy":"","authType":"basic","x":1220,"y":540,"wires":[["8069bd26.5e076"]]},{"id":"8069bd26.5e076","type":"xml","z":"73ce8e95.c8bef","name":"","property":"payload","attr":"","chr":"","x":1370,"y":540,"wires":[["7ef16565.28b92c"]]},{"id":"7ef16565.28b92c","type":"switch","z":"73ce8e95.c8bef","name":"Connection OK","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"e2powerstate","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1520,"y":540,"wires":[["288d7a5.1926d86"]]},{"id":"e8b353d1.11385","type":"function","z":"73ce8e95.c8bef","name":"Verbunden","func":"msg.payload = {fill:\"grey\",shape:\"ring\",text:\"Connected to \" + msg.payload.e2deviceinfo.e2devicename[0]};\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":580,"wires":[[]]},{"id":"288d7a5.1926d86","type":"http request","z":"73ce8e95.c8bef","name":"/web/deviceinfo","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{USER}}:{{PASS}}@{{IP}}:{{PORT}}/web/deviceinfo","tls":"","persist":false,"proxy":"","authType":"basic","x":1700,"y":540,"wires":[["b9651c44.9ba6f"]]},{"id":"b9651c44.9ba6f","type":"xml","z":"73ce8e95.c8bef","name":"","property":"payload","attr":"","chr":"","x":950,"y":580,"wires":[["e8b353d1.11385"]]},{"id":"96ca473b.de69e8","type":"comment","z":"73ce8e95.c8bef","name":"Channel - e2servicename","info":"","x":1890,"y":1440,"wires":[]},{"id":"7e6f7e69.56e6","type":"comment","z":"73ce8e95.c8bef","name":"Mute - e2ismuted","info":"","x":1820,"y":1120,"wires":[]},{"id":"8bb87387.ee3fe","type":"comment","z":"73ce8e95.c8bef","name":"Volume - e2volume","info":"","x":1830,"y":1060,"wires":[]},{"id":"919d957a.232ae8","type":"comment","z":"73ce8e95.c8bef","name":"Event Description - e2eventdescription","info":"","x":1930,"y":1500,"wires":[]},{"id":"2d102441.2993dc","type":"comment","z":"73ce8e95.c8bef","name":"Event Description Extended - e2eventdescriptionextended","info":"","x":1990,"y":1560,"wires":[]},{"id":"2263c37a.f43a2c","type":"comment","z":"73ce8e95.c8bef","name":"Event Time Passed","info":"","x":1870,"y":1880,"wires":[]},{"id":"c94623f2.df886","type":"comment","z":"73ce8e95.c8bef","name":"Send Time (Sendezeit)","info":"","x":1880,"y":2040,"wires":[]},{"id":"613bae2e.429f8","type":"comment","z":"73ce8e95.c8bef","name":"Eventduration","info":"","x":1850,"y":2200,"wires":[]},{"id":"ec17b3ea.b9f2c","type":"comment","z":"73ce8e95.c8bef","name":"Event Start","info":"","x":1840,"y":2280,"wires":[]},{"id":"7e35fa9.5b73c04","type":"comment","z":"73ce8e95.c8bef","name":"Eventremaining","info":"","x":1860,"y":2520,"wires":[]},{"id":"5f5b2d2b.0a6774","type":"comment","z":"73ce8e95.c8bef","name":"Event End","info":"","x":1840,"y":2400,"wires":[]},{"id":"fcab6c07.cd051","type":"comment","z":"73ce8e95.c8bef","name":"Message Answer Timeout","info":"","x":1070,"y":3780,"wires":[]},{"id":"3711729d.b08b6e","type":"debug","z":"73ce8e95.c8bef","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"message","targetType":"msg","x":380,"y":3780,"wires":[]},{"id":"7cb3a828.e8ebc8","type":"debug","z":"73ce8e95.c8bef","name":"Enigma2 Message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1710,"y":3780,"wires":[]},{"id":"8ba1cb31.5d64b8","type":"change","z":"73ce8e95.c8bef","name":"IP>PORT...","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"PORT","pt":"msg","to":"PORT","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"},{"t":"set","p":"messagetext","pt":"msg","to":"message.text","tot":"msg"},{"t":"set","p":"messagetype","pt":"msg","to":"message.Type","tot":"msg"},{"t":"set","p":"messagetimeout","pt":"msg","to":"message.Timeout","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":3740,"wires":[["8394d694.b06bf8","4b554cc4.25a034","9d93dcb.d7e162","54cc4e58.422b7"]]},{"id":"5cc63d26.5a2454","type":"link in","z":"73ce8e95.c8bef","name":"Message","links":["ffcad25.7fa0f3","4dde6f96.88164"],"x":55,"y":3740,"wires":[["9917a2c8.cd576"]]},{"id":"9917a2c8.cd576","type":"switch","z":"73ce8e95.c8bef","name":"has key \"text\"","property":"message","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":false,"outputs":1,"x":180,"y":3740,"wires":[["3711729d.b08b6e","4388c39c.6788ac","d3ac7cf4.4fa71"]]},{"id":"ffcad25.7fa0f3","type":"link out","z":"73ce8e95.c8bef","name":"Message","links":["5cc63d26.5a2454"],"x":555,"y":300,"wires":[]},{"id":"e5d9a5f7.bf0358","type":"delay","z":"73ce8e95.c8bef","name":"1400ms","pauseType":"delayv","timeout":"1400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1900,"y":3820,"wires":[["ed922d0.6fec1d"]]},{"id":"ed922d0.6fec1d","type":"change","z":"73ce8e95.c8bef","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2070,"y":3820,"wires":[["e5d9a5f7.bf0358","f565ee51.56aae"]]},{"id":"f695c8a0.f4de98","type":"change","z":"73ce8e95.c8bef","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3820,"wires":[["e5d9a5f7.bf0358"]]},{"id":"99c065a8.7eab18","type":"http request","z":"73ce8e95.c8bef","name":"/web/messageanswer?getanswer=now","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{USER}}:{{PASS}}@{{IP}}:{{PORT}}/web/messageanswer?getanswer=now","tls":"","persist":false,"proxy":"","authType":"basic","x":270,"y":3940,"wires":[["332d0c92.7b4b64"]]},{"id":"9eef5911.94aa08","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":850,"y":3940,"wires":[["895beae2.2982c8","b5f44080.b4cbe"]]},{"id":"4b554cc4.25a034","type":"switch","z":"73ce8e95.c8bef","name":"Type = 0","property":"message.Type","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":840,"y":3820,"wires":[["998eb4a0.51fa38"]]},{"id":"e5335bb1.3a8aa8","type":"switch","z":"73ce8e95.c8bef","name":"== 0","property":"message.Type","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1730,"y":3740,"wires":[["e5d9a5f7.bf0358","2a06860c.22089a","3c5f6b6e.9f3d74"]]},{"id":"9ace4dfd.96216","type":"switch","z":"73ce8e95.c8bef","name":"","property":"payload.e2simplexmlresult.e2statetext[0]","propertyType":"msg","rules":[{"t":"regex","v":"No answer in time","vt":"str","case":true},{"t":"regex","v":"Keine rechtzeitige Antwort","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1150,"y":3860,"wires":[[],[],["f695c8a0.f4de98","308a4d0d.1b62e2","8ab0cedc.eb40d"]]},{"id":"308a4d0d.1b62e2","type":"change","z":"73ce8e95.c8bef","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":3820,"wires":[["513a8d18.2b20e4"]]},{"id":"895beae2.2982c8","type":"delay","z":"73ce8e95.c8bef","name":"1200ms","pauseType":"delay","timeout":"1200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":3860,"wires":[["9ace4dfd.96216"]]},{"id":"41a63140.d7ca3","type":"comment","z":"73ce8e95.c8bef","name":"Message Answer","info":"","x":1780,"y":3940,"wires":[]},{"id":"d0f1df59.ee6f9","type":"link out","z":"73ce8e95.c8bef","name":"debug","links":["eb904597.ec88b8"],"x":515,"y":3700,"wires":[]},{"id":"7495cdd3.bd06b4","type":"debug","z":"73ce8e95.c8bef","d":true,"name":"Antwort auf Frage","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1730,"y":3900,"wires":[]},{"id":"505ff1a.6cb521","type":"change","z":"73ce8e95.c8bef","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":3920,"wires":[["7495cdd3.bd06b4"]]},{"id":"b79641d8.ed92c","type":"change","z":"73ce8e95.c8bef","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":3960,"wires":[["7495cdd3.bd06b4"]]},{"id":"b5f44080.b4cbe","type":"switch","z":"73ce8e95.c8bef","name":"","property":"payload.e2simplexmlresult.e2statetext[0]","propertyType":"msg","rules":[{"t":"regex","v":"Answer is YES!","vt":"str","case":true},{"t":"regex","v":"Antwort lautet JA!","vt":"str","case":true},{"t":"regex","v":"Answer is NO!","vt":"str","case":true},{"t":"regex","v":"Antwort lautet NEIN!","vt":"str","case":true}],"checkall":"false","repair":false,"outputs":4,"x":1010,"y":3940,"wires":[["505ff1a.6cb521","345b6449.2770bc"],["505ff1a.6cb521","345b6449.2770bc"],["b79641d8.ed92c","345b6449.2770bc"],["b79641d8.ed92c","345b6449.2770bc"]]},{"id":"16dc1d8c.a159c2","type":"link out","z":"73ce8e95.c8bef","name":"debug","links":["eb904597.ec88b8"],"x":1275,"y":3780,"wires":[]},{"id":"ec419d48.88503","type":"delay","z":"73ce8e95.c8bef","name":"1s","pauseType":"delayv","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":400,"wires":[["d61b5a28.57b438"]]},{"id":"d61b5a28.57b438","type":"change","z":"73ce8e95.c8bef","name":"1s","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":400,"wires":[["ec419d48.88503","174167e9.3c13c8"]]},{"id":"82847569.1be098","type":"link in","z":"73ce8e95.c8bef","name":"Start Poll","links":["88d74ba1.460198","ed5379b8.a0bff8","6327a64d.6064e8","608775dd.5a61cc","68a55313.44b44c","ade8a450.203be8"],"x":35,"y":400,"wires":[["ec419d48.88503"]]},{"id":"88d74ba1.460198","type":"link out","z":"73ce8e95.c8bef","name":"POLL","links":["82847569.1be098"],"x":915,"y":3700,"wires":[]},{"id":"9d93dcb.d7e162","type":"change","z":"73ce8e95.c8bef","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":3700,"wires":[["88d74ba1.460198"]]},{"id":"ed5379b8.a0bff8","type":"link out","z":"73ce8e95.c8bef","name":"POLL","links":["82847569.1be098","44ff1ff1.88571","9479e625.bc5978"],"x":1775,"y":3860,"wires":[]},{"id":"8ab0cedc.eb40d","type":"change","z":"73ce8e95.c8bef","name":"Start Poll","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1680,"y":3860,"wires":[["ed5379b8.a0bff8"]]},{"id":"31207da3.20a6d2","type":"link out","z":"73ce8e95.c8bef","name":"debug","links":["eb904597.ec88b8"],"x":975,"y":4000,"wires":[]},{"id":"54cc4e58.422b7","type":"link out","z":"73ce8e95.c8bef","name":"Send Message","links":["545a308e.e0f79"],"x":795,"y":3780,"wires":[]},{"id":"f13cf568.05d108","type":"function","z":"73ce8e95.c8bef","name":"wait for answer","func":"msg.payload = {fill:\"yellow\",shape:\"dot\",text:\"wait for answer...\"};\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":220,"wires":[[]]},{"id":"545a308e.e0f79","type":"link in","z":"73ce8e95.c8bef","name":"Send Message","links":["54cc4e58.422b7"],"x":1515,"y":260,"wires":[["a2a7a9ec.248a28"]]},{"id":"723f4c29.db3d34","type":"link in","z":"73ce8e95.c8bef","name":"wait for answer","links":["d9b7b5b6.e8bfc8","701cb9c0.841298"],"x":1515,"y":220,"wires":[["f13cf568.05d108"]]},{"id":"d9b7b5b6.e8bfc8","type":"link out","z":"73ce8e95.c8bef","name":"wait for answer","links":["723f4c29.db3d34"],"x":2215,"y":3740,"wires":[]},{"id":"2a06860c.22089a","type":"delay","z":"73ce8e95.c8bef","name":"500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1890,"y":3740,"wires":[["d9b7b5b6.e8bfc8"]]},{"id":"345b6449.2770bc","type":"link out","z":"73ce8e95.c8bef","name":"Message answer","links":["94942a1.4bc39d8"],"x":1415,"y":3940,"wires":[]},{"id":"94942a1.4bc39d8","type":"link in","z":"73ce8e95.c8bef","name":"Message answer","links":["345b6449.2770bc"],"x":1515,"y":180,"wires":[["7802dc6f.210814"]]},{"id":"7802dc6f.210814","type":"function","z":"73ce8e95.c8bef","name":"Message Answer","func":"msg.payload = {fill:\"green\",shape:\"ring\",text:\"Answer: \" + msg.payload.e2simplexmlresult.e2statetext[0]};\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":180,"wires":[[]]},{"id":"391f5fae.9ceb3","type":"change","z":"73ce8e95.c8bef","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":320,"wires":[["6327a64d.6064e8"]]},{"id":"6327a64d.6064e8","type":"link out","z":"73ce8e95.c8bef","name":"POLL","links":["82847569.1be098"],"x":1255,"y":320,"wires":[]},{"id":"d796b6c6.be8de8","type":"change","z":"73ce8e95.c8bef","name":"IP>PORT>WEBIF>ACTIV>USER>PASS","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"PORT","pt":"msg","to":"PORT","tot":"env"},{"t":"set","p":"WEBIF","pt":"msg","to":"WEBIF","tot":"env"},{"t":"set","p":"payload","pt":"msg","to":"ACTIV","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":3480,"y":720,"wires":[["d40d414d.aba4c"]]},{"id":"c0dc86ce.bce368","type":"change","z":"73ce8e95.c8bef","name":"IP>PORT>WEBIF>ACTIV>USER>PASS","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"PORT","pt":"msg","to":"PORT","tot":"env"},{"t":"set","p":"WEBIF","pt":"msg","to":"WEBIF","tot":"env"},{"t":"set","p":"payload","pt":"msg","to":"ACTIV","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":3480,"y":800,"wires":[["eb1e4b65.5b3b68"]]},{"id":"2639a5e7.e0e72a","type":"inject","z":"73ce8e95.c8bef","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":2890,"y":2060,"wires":[["c8b0b191.b23b7"]]},{"id":"c8b0b191.b23b7","type":"function","z":"73ce8e95.c8bef","name":"Vol","func":"msg.post = '35';\nreturn msg;","outputs":1,"noerr":0,"x":3190,"y":2060,"wires":[["b23cc68f.9ef958"]]},{"id":"a73df914.a98498","type":"switch","z":"73ce8e95.c8bef","name":"msg.command","property":"command","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"},{"t":"eq","v":"MUTE_TOGGLE","vt":"str"},{"t":"eq","v":"RADIO","vt":"str"},{"t":"eq","v":"CHANNEL_DOWN","vt":"str"},{"t":"eq","v":"CHANNEL_UP","vt":"str"},{"t":"eq","v":"DOWN","vt":"str"},{"t":"eq","v":"EPG","vt":"str"},{"t":"eq","v":"EXIT","vt":"str"},{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"MENU","vt":"str"},{"t":"eq","v":"OK","vt":"str"},{"t":"eq","v":"PLAY_PAUSE","vt":"str"},{"t":"eq","v":"REC","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"STANDBY_TOGGLE","vt":"str"},{"t":"eq","v":"STOP","vt":"str"},{"t":"eq","v":"TV","vt":"str"},{"t":"eq","v":"UP","vt":"str"},{"t":"eq","v":"VOL_UP","vt":"str"},{"t":"eq","v":"VOL_DOWN","vt":"str"},{"t":"eq","v":"MEDIA","vt":"str"},{"t":"eq","v":"REWIND","vt":"str"},{"t":"eq","v":"VORWARD","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":24,"x":2780,"y":1140,"wires":[["cd5ff887.b7e1b8"],["bb8774bf.ff9c58"],["414e3653.6dbb78"],["ec739a39.cdee98"],["ed7e7c91.752d"],["c114a53a.b822c8"],["3ad4786f.853908"],["45742678.b4b028"],["5e484f94.ef083"],["9ce5f22b.7f692"],["879912ff.0e74e"],["7eca4b3c.fa9b04"],["53ca5528.c342dc"],["f2f91b58.d4b4c8"],["f8a5d430.5d3008"],["9b3e358.dd227c8"],["21480a50.308196"],["3193f793.e07018"],["4b475f6a.bcc04"],["2b67eebf.2c3622"],["dbb88377.544cf"],["d684ac4c.e0ef"],["b51de370.8e77e"],["5348efc2.00a17"]]},{"id":"3d29ec1a.5aee54","type":"link in","z":"73ce8e95.c8bef","name":"COMMAND","links":["15fe649a.c03b9b"],"x":2395,"y":1140,"wires":[["702e3e30.6c5a","cfce1f1d.2e1b9","29cabe64.9272a2","f5951dc0.88215"]]},{"id":"c20dd1ab.d9991","type":"switch","z":"73ce8e95.c8bef","name":"msg.volume","property":"volume","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2690,"y":2020,"wires":[["cef4cd69.f917c"]]},{"id":"cef4cd69.f917c","type":"function","z":"73ce8e95.c8bef","name":"Vol","func":"msg.post = msg.volume;\nreturn msg;","outputs":1,"noerr":0,"x":3190,"y":2020,"wires":[["b23cc68f.9ef958"]]},{"id":"b23cc68f.9ef958","type":"change","z":"73ce8e95.c8bef","name":"IP>PORT>WEBIF>ACTIV>USER>PASS","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"PORT","pt":"msg","to":"PORT","tot":"env"},{"t":"set","p":"WEBIF","pt":"msg","to":"WEBIF","tot":"env"},{"t":"set","p":"payload","pt":"msg","to":"ACTIV","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":3440,"y":2060,"wires":[["5fc9a0c6.00e4c"]]},{"id":"81cde856.195338","type":"link out","z":"73ce8e95.c8bef","name":"","links":["912527cc.7802f8"],"x":555,"y":140,"wires":[]},{"id":"d87bbf13.4b80b","type":"comment","z":"73ce8e95.c8bef","name":"Event Name","info":"","x":1850,"y":1620,"wires":[]},{"id":"ee66b954.5a5bb8","type":"comment","z":"73ce8e95.c8bef","name":"Servicereference","info":"","x":1860,"y":1680,"wires":[]},{"id":"e5f3471e.d63c98","type":"comment","z":"73ce8e95.c8bef","name":"Picon Path","info":"","x":1840,"y":1740,"wires":[]},{"id":"e369735f.29879","type":"switch","z":"73ce8e95.c8bef","name":"WEBIF","property":"WEBIF","propertyType":"env","rules":[{"t":"eq","v":"false","vt":"str"},{"t":"eq","v":"true","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":1760,"wires":[["bd80bfaf.6a34c"],["77b2f2bf.0945dc"]]},{"id":"77b2f2bf.0945dc","type":"switch","z":"73ce8e95.c8bef","name":"Movie","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"1_0_0_0_0_0_0_0_0_0_","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1370,"y":1760,"wires":[["bd80bfaf.6a34c"],["bd80bfaf.6a34c"],["4c5a4099.e2661"]]},{"id":"bd80bfaf.6a34c","type":"function","z":"73ce8e95.c8bef","name":"Movie","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1740,"wires":[["edae0248.802cd"]]},{"id":"edae0248.802cd","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1630,"y":1760,"wires":[[]]},{"id":"4c5a4099.e2661","type":"function","z":"73ce8e95.c8bef","name":"Path","func":"// 'http://' + adapter.config.IPAddress + ':' + adapter.config.Port + '/picon/' + e2SERVICEREFERENCE.replace(/:/g, '_').slice(0, -1) + '.png'\nmsg.payload = 'http://' + msg.IP + ':' + msg.PORT + '/picon/' + msg.payload.replace(/:/g, '_').slice(0, -1) + '.png';\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1780,"wires":[["edae0248.802cd"]]},{"id":"84590d60.dbd85","type":"change","z":"73ce8e95.c8bef","name":"IP>PORT","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"PORT","pt":"msg","to":"PORT","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1760,"wires":[["e369735f.29879"]]},{"id":"702e3e30.6c5a","type":"switch","z":"73ce8e95.c8bef","name":"msg.zap","property":"zap","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":false,"outputs":1,"x":2520,"y":1980,"wires":[["e8b77b5f.62b408"]]},{"id":"e8b77b5f.62b408","type":"function","z":"73ce8e95.c8bef","name":".replace(/_/g, ':').replace(/ /g, '%20')","func":"msg.post = msg.zap.replace(/_/g, '%3A').replace(/ /g, '%20');//%3A\nreturn msg;","outputs":1,"noerr":0,"x":2940,"y":1980,"wires":[["897bca15.d34f48"]]},{"id":"98bfe003.fad98","type":"http request","z":"73ce8e95.c8bef","name":"/web/zap?sRef=","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{USER}}:{{PASS}}@{{IP}}:{{PORT}}/web/zap?sRef={{post}}","tls":"","persist":false,"proxy":"","authType":"","x":3700,"y":1980,"wires":[["d7e308d3.ae08e8"]]},{"id":"897bca15.d34f48","type":"change","z":"73ce8e95.c8bef","name":"IP>PORT>WEBIF>ACTIV>USER>PASS","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"PORT","pt":"msg","to":"PORT","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":3300,"y":1980,"wires":[["41b91a23.106344","98bfe003.fad98"]]},{"id":"d7e308d3.ae08e8","type":"xml","z":"73ce8e95.c8bef","name":"","property":"payload","attr":"","chr":"","x":3870,"y":1980,"wires":[["c68c820b.2f3c"]]},{"id":"565645e4.df0c7c","type":"debug","z":"73ce8e95.c8bef","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4410,"y":1980,"wires":[]},{"id":"c68c820b.2f3c","type":"change","z":"73ce8e95.c8bef","name":"payload.e2simplexmlresult.e2statetext[0]","rules":[{"t":"move","p":"payload.e2simplexmlresult.e2statetext[0]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4120,"y":1980,"wires":[["565645e4.df0c7c"]]},{"id":"6bf1f57b.36e68c","type":"debug","z":"73ce8e95.c8bef","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3690,"y":1940,"wires":[]},{"id":"41b91a23.106344","type":"function","z":"73ce8e95.c8bef","name":"http://","func":"msg.payload = \"http://\" + msg.USER + \":\" + msg.PASS + \"@\" + msg.IP + \":\" + msg.PORT + \"/web/zap?sRef=\" + msg.post;\nreturn msg;","outputs":1,"noerr":0,"x":3530,"y":1940,"wires":[["6bf1f57b.36e68c"]]},{"id":"3c0f13e6.f3a76c","type":"comment","z":"73ce8e95.c8bef","name":"","info":"http://root:dreambox@192.168.27.66:278/web/zap?sRef=1:0:0:0:0:0:0:0:0:0:/media/hdd/movie/20191124%202015%20-%20VOX%20HD%20-%20Grill%20den%20Henssler.ts\nhttp://{{USER}}:{{PASS}}@{{IP}}:{{PORT}}/web/zap?sRef=1:0:0:0:0:0:0:0:0:0:/media/hdd/movie/20191124%202015%20-%20VOX%20HD%20-%20Grill%20den%20Henssler.ts\n","x":3690,"y":1900,"wires":[]},{"id":"53dd37b2.bb6b68","type":"function","z":"73ce8e95.c8bef","name":"{{post}}","func":"msg.payload = msg.post;\nreturn msg;","outputs":1,"noerr":0,"x":3540,"y":1900,"wires":[[]]},{"id":"ee443dfe.3092b","type":"switch","z":"73ce8e95.c8bef","name":"msg.main_command","property":"main_command","propertyType":"msg","rules":[{"t":"eq","v":"WAKEUP_FROM_STANDBY","vt":"str"},{"t":"eq","v":"IN_STANDBY","vt":"str"},{"t":"eq","v":"DEEP_STANDBY","vt":"str"},{"t":"eq","v":"REBOOT","vt":"str"},{"t":"eq","v":"RESTART_GUI","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":6,"x":2780,"y":660,"wires":[["cb4d17bb.ade9e8"],["e2bacd51.6879c"],["e0fd3698.638168"],["4923db3c.9ea5d4"],["7a70c9de.4bd848"],[]]},{"id":"e0fd3698.638168","type":"function","z":"73ce8e95.c8bef","name":"DEEP_STANDBY","func":"msg.post = '1';\nreturn msg;","outputs":1,"noerr":0,"x":3150,"y":640,"wires":[["d796b6c6.be8de8"]]},{"id":"4923db3c.9ea5d4","type":"function","z":"73ce8e95.c8bef","name":"REBOOT","func":"msg.post = '2';\nreturn msg;","outputs":1,"noerr":0,"x":3180,"y":680,"wires":[["d796b6c6.be8de8"]]},{"id":"7a70c9de.4bd848","type":"function","z":"73ce8e95.c8bef","name":"RESTART_GUI","func":"msg.post = '3';\nreturn msg;","outputs":1,"noerr":0,"x":3160,"y":720,"wires":[["d796b6c6.be8de8"]]},{"id":"9f314568.ba7128","type":"debug","z":"73ce8e95.c8bef","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4250,"y":720,"wires":[]},{"id":"d40d414d.aba4c","type":"http request","z":"73ce8e95.c8bef","name":"/web/powerstate?newstate=","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{USER}}:{{PASS}}@{{IP}}:{{PORT}}/web/powerstate?newstate={{post}}","tls":"","persist":false,"proxy":"","authType":"","x":3820,"y":720,"wires":[["a9ff71ee.fed44"]]},{"id":"a9ff71ee.fed44","type":"xml","z":"73ce8e95.c8bef","name":"","property":"payload","attr":"","chr":"","x":4070,"y":720,"wires":[["9f314568.ba7128"]]},{"id":"56a94c33.dead84","type":"link in","z":"73ce8e95.c8bef","name":"","links":["da388344.4b238"],"x":1895,"y":220,"wires":[["558c79c8.40eab8"]]},{"id":"558c79c8.40eab8","type":"delay","z":"73ce8e95.c8bef","name":"1msg pro 30s","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2560,"y":220,"wires":[["2455998d.fcf736"]]},{"id":"b7493769.20bcf8","type":"link out","z":"73ce8e95.c8bef","name":"Http Abfrage","links":["3c1d706a.1278d"],"x":2895,"y":220,"wires":[]},{"id":"2455998d.fcf736","type":"http request","z":"73ce8e95.c8bef","name":"/web/timerlist","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{USER}}:{{PASS}}@{{IP}}:{{PORT}}/web/timerlist","tls":"","persist":false,"proxy":"","authType":"basic","x":2790,"y":220,"wires":[["b7493769.20bcf8"]]},{"id":"6d9321bb.bae7d","type":"switch","z":"73ce8e95.c8bef","name":"enthält <e2state>2</e2state>","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"<e2state>2</e2state>","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":860,"y":2640,"wires":[["ec573be4.975528"],["b533716.2387e9"]]},{"id":"ec573be4.975528","type":"change","z":"73ce8e95.c8bef","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":2620,"wires":[["c7554c78.07b0c"]]},{"id":"b533716.2387e9","type":"change","z":"73ce8e95.c8bef","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":2660,"wires":[["c7554c78.07b0c"]]},{"id":"3c1d706a.1278d","type":"link in","z":"73ce8e95.c8bef","name":"/web/deviceinfo XML Analyse","links":["b7493769.20bcf8"],"x":175,"y":2640,"wires":[["f77230af.ebd81"]]},{"id":"c7554c78.07b0c","type":"rbe","z":"73ce8e95.c8bef","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1630,"y":2640,"wires":[[]]},{"id":"f77230af.ebd81","type":"switch","z":"73ce8e95.c8bef","name":"enthält <e2timerlist>","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"<e2timerlist>","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":2640,"wires":[["6d9321bb.bae7d"]]},{"id":"161f3f7e.13ec71","type":"comment","z":"73ce8e95.c8bef","name":"Is Record (Aufnahme aktiv)","info":"","x":1890,"y":2640,"wires":[]},{"id":"f6fc4a93.c9bb98","type":"switch","z":"73ce8e95.c8bef","name":"enthält <e2powerstate>","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"<e2powerstate>","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":160,"wires":[["81e6f36c.1603f"]]},{"id":"dd031554.7134b8","type":"link out","z":"73ce8e95.c8bef","name":"","links":[],"x":1515,"y":3780,"wires":[]},{"id":"44e1925e.62ce3c","type":"change","z":"73ce8e95.c8bef","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":260,"wires":[["608775dd.5a61cc"]]},{"id":"608775dd.5a61cc","type":"link out","z":"73ce8e95.c8bef","name":"POLL","links":["82847569.1be098"],"x":555,"y":260,"wires":[]},{"id":"5f837a9b.9ab704","type":"delay","z":"73ce8e95.c8bef","name":"3s Limit","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":440,"y":160,"wires":[["8a225228.4686b","81cde856.195338"]]},{"id":"34087cef.70ecf4","type":"change","z":"73ce8e95.c8bef","name":"Start Poll","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":220,"wires":[["68a55313.44b44c"]]},{"id":"68a55313.44b44c","type":"link out","z":"73ce8e95.c8bef","name":"POLL","links":["82847569.1be098","9479e625.bc5978"],"x":555,"y":220,"wires":[]},{"id":"8047fc23.2940a","type":"debug","z":"73ce8e95.c8bef","name":"command error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3380,"y":1840,"wires":[]},{"id":"5348efc2.00a17","type":"change","z":"73ce8e95.c8bef","name":"unknown command!","rules":[{"t":"set","p":"payload","pt":"msg","to":"unknown command!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3140,"y":1840,"wires":[["8047fc23.2940a"]]},{"id":"cfce1f1d.2e1b9","type":"switch","z":"73ce8e95.c8bef","name":"command","property":"command","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":2620,"y":1140,"wires":[["a73df914.a98498"]]},{"id":"29cabe64.9272a2","type":"switch","z":"73ce8e95.c8bef","name":"main_command","property":"main_command","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":2580,"y":660,"wires":[["ee443dfe.3092b"]]},{"id":"f5951dc0.88215","type":"switch","z":"73ce8e95.c8bef","name":"msg.volume","property":"volume","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":false,"outputs":1,"x":2530,"y":2020,"wires":[["c20dd1ab.d9991"]]},{"id":"2d875fc2.cc387","type":"change","z":"73ce8e95.c8bef","name":"Start Poll","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":420,"wires":[["ade8a450.203be8"]]},{"id":"ade8a450.203be8","type":"link out","z":"73ce8e95.c8bef","name":"POLL","links":["82847569.1be098","9479e625.bc5978"],"x":1335,"y":420,"wires":[]},{"id":"8e5e861c.d41c88","type":"delay","z":"73ce8e95.c8bef","name":"60s","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1110,"y":420,"wires":[["2d875fc2.cc387"]]},{"id":"830f613a.b338","type":"change","z":"73ce8e95.c8bef","name":"decode","rules":[{"t":"change","p":"message.text","pt":"msg","from":"ä","fromt":"str","to":"%C3%A4","tot":"str"},{"t":"change","p":"message.text","pt":"msg","from":"ö","fromt":"str","to":"%C3%B6","tot":"str"},{"t":"change","p":"message.text","pt":"msg","from":"ü","fromt":"str","to":"%C3%BC","tot":"str"},{"t":"change","p":"message.text","pt":"msg","from":"Ä","fromt":"str","to":"%C3%84","tot":"str"},{"t":"change","p":"message.text","pt":"msg","from":"Ö","fromt":"str","to":"%C3%96","tot":"str"},{"t":"change","p":"message.text","pt":"msg","from":"Ü","fromt":"str","to":"%C3%9C","tot":"str"},{"t":"change","p":"message.text","pt":"msg","from":"ß","fromt":"str","to":"%C3%9F","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":3740,"wires":[["8ba1cb31.5d64b8"]]},{"id":"3c5f6b6e.9f3d74","type":"switch","z":"73ce8e95.c8bef","name":"WEBIF","property":"WEBIF","propertyType":"env","rules":[{"t":"eq","v":"false","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1900,"y":3780,"wires":[["afa296c.49ff068"]]},{"id":"afa296c.49ff068","type":"http request","z":"73ce8e95.c8bef","name":"/web/messageanswer?getanswer=now","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{USER}}:{{PASS}}@{{IP}}:{{PORT}}/web/messageanswer?getanswer=now","tls":"","persist":false,"proxy":"","authType":"basic","x":2150,"y":3780,"wires":[[]]},{"id":"378969ba.ce9a96","type":"link out","z":"73ce8e95.c8bef","name":"<=0","links":["3341939f.85821c"],"x":855,"y":2320,"wires":[]},{"id":"3341939f.85821c","type":"link in","z":"73ce8e95.c8bef","name":"","links":["378969ba.ce9a96"],"x":295,"y":2520,"wires":[["77ec6ae6.d138e4"]]},{"id":"77ec6ae6.d138e4","type":"change","z":"73ce8e95.c8bef","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2520,"wires":[["9596e471.0e0dc8","3d5acdf1.855082"]]},{"id":"47ecacc3.9c46e4","type":"catch","z":"73ce8e95.c8bef","name":"","scope":["1be59d05.5486e3","33003481.f3c2dc","90875983.834518","c199d6e8.f08818","9dff32f2.a4a74","3f8b4dd1.e265d2","f3850cb4.7bd2b","bc5d1536.e45a78","9418ef78.c6285","6dfa1a8c.11ef64","cdca5868.83d888","b4c97ce2.f18bb","eb1e4b65.5b3b68","ad46b07d.3e55b","6a5f330a.2b35bc","c149ba0c.df6c18","dae8148d.d0ebd8","60bad71f.df0fe8","eef6a46f.69bec8","ac5fc3d7.05a0f","79427f16.1dc77","3f824fa2.73666","d3bc3cf4.7a6da","3f814416.d6876c","e7ae61ce.5c565","9596e471.0e0dc8","3d5acdf1.855082","58c559e0.b982b8","738c1b1d.a5f804","952b0124.bc8f2","c0e9cba1.199568","2f2e56b1.5bab8a","8666c2ae.4033b","8394d694.b06bf8","897ca120.30225","ada39ade.ec50b8","cb702922.b8d438","cf10153.30a30e8","7100af6d.92c9","60bc2f02.7ec","6a646db3.af2a54","5fc9a0c6.00e4c","6384942f.a9cc8c","8e191059.96a3a","41564331.9f9aec","c7a09b86.d332d8","6db20068.e1cbd","288d7a5.1926d86","8ba1cb31.5d64b8","99c065a8.7eab18","98bfe003.fad98","d40d414d.aba4c","2455998d.fcf736","830f613a.b338","afa296c.49ff068"],"uncaught":false,"x":360,"y":940,"wires":[["16ec5767.ecac49","3bf04089.59ce8"]]},{"id":"62e2993f.c255e8","type":"link out","z":"73ce8e95.c8bef","name":"debug","links":["eb904597.ec88b8"],"x":815,"y":940,"wires":[]},{"id":"16ec5767.ecac49","type":"change","z":"73ce8e95.c8bef","name":"","rules":[{"t":"move","p":"error.source.id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":980,"wires":[["62e2993f.c255e8"]]},{"id":"3bf04089.59ce8","type":"change","z":"73ce8e95.c8bef","name":"","rules":[{"t":"move","p":"error.message","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":940,"wires":[["62e2993f.c255e8"]]},{"id":"2b3b6294.67892e","type":"comment","z":"73ce8e95.c8bef","name":"","info":"","x":1400,"y":2320,"wires":[]},{"id":"39f5c82e.bcb138","type":"change","z":"73ce8e95.c8bef","name":"lösche","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":160,"wires":[["391eda54.0cc476","e19b7909.8ce668","80d7d91a.2c6f48","e27365e3.983668","15fe649a.c03b9b"]]},{"id":"4388c39c.6788ac","type":"change","z":"73ce8e95.c8bef","name":"debug","rules":[{"t":"move","p":"message","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":3700,"wires":[["d0f1df59.ee6f9"]]},{"id":"e27365e3.983668","type":"switch","z":"73ce8e95.c8bef","name":"Message","property":"message.Type","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"3","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":300,"wires":[["ffcad25.7fa0f3"]]},{"id":"15fe649a.c03b9b","type":"link out","z":"73ce8e95.c8bef","name":"Command","links":["3d29ec1a.5aee54"],"x":235,"y":220,"wires":[]},{"id":"d3ac7cf4.4fa71","type":"switch","z":"73ce8e95.c8bef","name":"nicht leer","property":"message.text","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":false,"outputs":1,"x":360,"y":3740,"wires":[["830f613a.b338"]]},{"id":"4a9ae24b.2b483c","type":"change","z":"73ce8e95.c8bef","name":"lösche","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"message.text","pt":"msg"},{"t":"delete","p":"message.Type","pt":"msg"},{"t":"delete","p":"message.Timeout","pt":"msg"},{"t":"delete","p":"messagetext","pt":"msg"},{"t":"delete","p":"messagetype","pt":"msg"},{"t":"delete","p":"messagetimeout","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":3700,"wires":[["4dde6f96.88164"]]},{"id":"4dde6f96.88164","type":"link out","z":"73ce8e95.c8bef","name":"lösche","links":["5cc63d26.5a2454"],"x":1275,"y":3700,"wires":[]},{"id":"4b475f6a.bcc04","type":"function","z":"73ce8e95.c8bef","name":"VOL_UP","func":"msg.post = '115';\nreturn msg;","outputs":1,"noerr":0,"x":3180,"y":1520,"wires":[["c0dc86ce.bce368"]]},{"id":"2b67eebf.2c3622","type":"function","z":"73ce8e95.c8bef","name":"VOL_DOWN","func":"msg.post = '114';\nreturn msg;","outputs":1,"noerr":0,"x":3170,"y":1560,"wires":[["c0dc86ce.bce368"]]},{"id":"dbb88377.544cf","type":"function","z":"73ce8e95.c8bef","name":"MEDIA","func":"msg.post = '393';\nreturn msg;","outputs":1,"noerr":0,"x":3180,"y":1600,"wires":[["c0dc86ce.bce368"]]},{"id":"d684ac4c.e0ef","type":"function","z":"73ce8e95.c8bef","name":"REWIND","func":"msg.post = '168';\nreturn msg;","outputs":1,"noerr":0,"x":3180,"y":1640,"wires":[["c0dc86ce.bce368"]]},{"id":"b51de370.8e77e","type":"function","z":"73ce8e95.c8bef","name":"VORWARD","func":"msg.post = '208';\nreturn msg;","outputs":1,"noerr":0,"x":3170,"y":1680,"wires":[["c0dc86ce.bce368"]]},{"id":"9abd4995.d0c8a8","type":"subflow:73ce8e95.c8bef","z":"614bbd62.be6174","name":"Enigma2 Receiver","env":[{"name":"IP","value":"192.168.0.1","type":"str"}],"x":1470,"y":860,"wires":[["c1db6d58.f57b"],["e8bb8bbc.d1cdc8"],["a5713718.7e19a8"],["f679a777.700088"],["2b18c0f0.f5d98"],["f0c11a5b.4f65a8"],["92bc2093.3873b"],["b13e7fa6.d5aa6"],["c29c89c5.fb6098"],["cedb41e.2627ac"],["8c032085.58f1a"],["334b3368.18841c"],["216e253d.2b64ba"],["b59e054f.c09608"],["a2e4906c.871"],["bda94155.ea168"],["87ddbf31.98e54"],["872e083c.2d4288"],["3d35083b.166f18"],["a7c1753b.c36b08"],["6377d1f6.a5d06"]]},{"id":"f73db90f.9a50a8","type":"inject","z":"614bbd62.be6174","name":"send","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":520,"wires":[["2fe8e1cd.dd49be"]]},{"id":"c1db6d58.f57b","type":"debug","z":"614bbd62.be6174","name":"Einschaltstatus","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1780,"y":460,"wires":[]},{"id":"e8bb8bbc.d1cdc8","type":"debug","z":"614bbd62.be6174","name":"Message Answer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1790,"y":500,"wires":[]},{"id":"a5713718.7e19a8","type":"debug","z":"614bbd62.be6174","name":"MEM1 CAP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":540,"wires":[]},{"id":"f679a777.700088","type":"debug","z":"614bbd62.be6174","name":"MEM1 Free","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":580,"wires":[]},{"id":"2b18c0f0.f5d98","type":"debug","z":"614bbd62.be6174","name":"MEM2 CAP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":620,"wires":[]},{"id":"f0c11a5b.4f65a8","type":"debug","z":"614bbd62.be6174","name":"MEM2 Free","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":660,"wires":[]},{"id":"92bc2093.3873b","type":"debug","z":"614bbd62.be6174","name":"Volume","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1760,"y":700,"wires":[]},{"id":"b13e7fa6.d5aa6","type":"debug","z":"614bbd62.be6174","name":"MUTE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1750,"y":740,"wires":[]},{"id":"5fed94f9.7fc6ac","type":"change","z":"614bbd62.be6174","name":"volume to 15","rules":[{"t":"set","p":"volume","pt":"msg","to":"15","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":720,"wires":[["9abd4995.d0c8a8"]]},{"id":"968388f1.09a618","type":"inject","z":"614bbd62.be6174","name":"send","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":720,"wires":[["5fed94f9.7fc6ac"]]},{"id":"2fe8e1cd.dd49be","type":"change","z":"614bbd62.be6174","name":"man. Poll","rules":[{"t":"set","p":"start","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":520,"wires":[["9abd4995.d0c8a8"]]},{"id":"de7044ce.587248","type":"function","z":"614bbd62.be6174","name":"Test Question (Yes/No) 30s","func":"/* Message Type: 0= Yes/No, 1= Info, 2=Message, 3=Attention */\nmsg.message = {text:\"Das ist eine Testnachricht!\",Type:0,Timeout:30};\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":360,"wires":[["9abd4995.d0c8a8"]]},{"id":"5532034a.008b5c","type":"inject","z":"614bbd62.be6174","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":360,"wires":[["de7044ce.587248"]]},{"id":"3dab216e.949b8e","type":"function","z":"614bbd62.be6174","name":"Test Message (INFO) 15s","func":"/* Message Type: 0= Yes/No, 1= Info, 2=Message, 3=Attention */\nmsg.message = {text:\"Das ist eine Testnachricht!\",Type:1,Timeout:15};\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":320,"wires":[["9abd4995.d0c8a8"]]},{"id":"5687167c.e57918","type":"inject","z":"614bbd62.be6174","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":320,"wires":[["3dab216e.949b8e"]]},{"id":"aec2a78c.2e8788","type":"function","z":"614bbd62.be6174","name":"Test Message (Attention) 15s","func":"/* Message Type: 0= Yes/No, 1= Info, 2=Message, 3=Attention */\nmsg.message = {text:\"Das ist eine Testnachricht!\",Type:3,Timeout:15};\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":400,"wires":[["9abd4995.d0c8a8"]]},{"id":"2824c3a1.99f7ec","type":"inject","z":"614bbd62.be6174","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":400,"wires":[["aec2a78c.2e8788"]]},{"id":"f6a240e0.922d2","type":"change","z":"614bbd62.be6174","name":"mute","rules":[{"t":"set","p":"command","pt":"msg","to":"MUTE_TOGGLE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1000,"wires":[["9abd4995.d0c8a8"]]},{"id":"c0e8b661.323508","type":"inject","z":"614bbd62.be6174","name":"send","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":1000,"wires":[["f6a240e0.922d2"]]},{"id":"c29c89c5.fb6098","type":"debug","z":"614bbd62.be6174","name":"Sender Name","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1780,"y":780,"wires":[]},{"id":"cedb41e.2627ac","type":"debug","z":"614bbd62.be6174","name":"Eventbeschreibung","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1790,"y":820,"wires":[]},{"id":"8c032085.58f1a","type":"debug","z":"614bbd62.be6174","name":"Eventbeschreibung Ext","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1810,"y":860,"wires":[]},{"id":"334b3368.18841c","type":"debug","z":"614bbd62.be6174","name":"Event Name","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":900,"wires":[]},{"id":"216e253d.2b64ba","type":"debug","z":"614bbd62.be6174","name":"Secicereference","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1780,"y":940,"wires":[]},{"id":"b59e054f.c09608","type":"debug","z":"614bbd62.be6174","name":"Picon Path","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":980,"wires":[]},{"id":"a2e4906c.871","type":"debug","z":"614bbd62.be6174","name":"Event Time Passed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1790,"y":1020,"wires":[]},{"id":"bda94155.ea168","type":"debug","z":"614bbd62.be6174","name":"Sendezeit","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1760,"y":1060,"wires":[]},{"id":"87ddbf31.98e54","type":"debug","z":"614bbd62.be6174","name":"Eventduration","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1780,"y":1100,"wires":[]},{"id":"a7c1753b.c36b08","type":"debug","z":"614bbd62.be6174","name":"Eventremaining","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1780,"y":1220,"wires":[]},{"id":"3d35083b.166f18","type":"debug","z":"614bbd62.be6174","name":"Event End","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":1180,"wires":[]},{"id":"872e083c.2d4288","type":"debug","z":"614bbd62.be6174","name":"Event Start","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":1140,"wires":[]},{"id":"33173d12.e5a932","type":"inject","z":"614bbd62.be6174","name":"send","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":1280,"wires":[["fa0a1e9c.6cd92"]]},{"id":"fa0a1e9c.6cd92","type":"change","z":"614bbd62.be6174","name":"zap","rules":[{"t":"set","p":"zap","pt":"msg","to":"1_0_19_C378_2721_F001_FFFF0000_0_0_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1280,"wires":[["9abd4995.d0c8a8"]]},{"id":"b902dae0.8638d8","type":"change","z":"614bbd62.be6174","name":"zap","rules":[{"t":"set","p":"zap","pt":"msg","to":"1:0:19:C39C:2727:F001:FFFF0000:0:0:0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1320,"wires":[["9abd4995.d0c8a8"]]},{"id":"f6a2676b.5e6308","type":"inject","z":"614bbd62.be6174","name":"send","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":1320,"wires":[["b902dae0.8638d8"]]},{"id":"6a0fd04b.f4848","type":"comment","z":"614bbd62.be6174","name":"Direkt auf Sender umschalten","info":"","x":980,"y":1240,"wires":[]},{"id":"e8cfd0e8.db833","type":"comment","z":"614bbd62.be6174","name":"command","info":"","x":920,"y":960,"wires":[]},{"id":"9501e62f.ee4db8","type":"change","z":"614bbd62.be6174","name":"WAKEUP","rules":[{"t":"set","p":"main_command","pt":"msg","to":"WAKEUP_FROM_STANDBY","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":880,"wires":[["9abd4995.d0c8a8"]]},{"id":"94867bd2.fc6128","type":"inject","z":"614bbd62.be6174","name":"send","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":880,"wires":[["9501e62f.ee4db8"]]},{"id":"4e0b009f.cb3","type":"comment","z":"614bbd62.be6174","name":"main_command","info":"","x":940,"y":800,"wires":[]},{"id":"e6859e78.2a8b2","type":"change","z":"614bbd62.be6174","name":"STANDBY","rules":[{"t":"set","p":"main_command","pt":"msg","to":"IN_STANDBY","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":840,"wires":[["9abd4995.d0c8a8"]]},{"id":"c8538ac1.f22d28","type":"inject","z":"614bbd62.be6174","name":"send","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":840,"wires":[["e6859e78.2a8b2"]]},{"id":"793142b0.55514c","type":"comment","z":"614bbd62.be6174","name":"Volume","info":"","x":910,"y":680,"wires":[]},{"id":"5ea349e0.250ee8","type":"comment","z":"614bbd62.be6174","name":"werte holen","info":"","x":930,"y":480,"wires":[]},{"id":"18e9827f.de4c1e","type":"change","z":"614bbd62.be6174","name":"rec","rules":[{"t":"set","p":"command","pt":"msg","to":"REC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1040,"wires":[["9abd4995.d0c8a8"]]},{"id":"809abb8e.200b58","type":"inject","z":"614bbd62.be6174","name":"send","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":1040,"wires":[["18e9827f.de4c1e"]]},{"id":"6377d1f6.a5d06","type":"debug","z":"614bbd62.be6174","name":"Is Record (Aufnahme aktiv)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1820,"y":1260,"wires":[]},{"id":"e733c7.13696c38","type":"comment","z":"614bbd62.be6174","name":"Nachricht/Frage senden","info":"","x":940,"y":280,"wires":[]},{"id":"8de587dd.5cc2b8","type":"change","z":"614bbd62.be6174","name":"ok","rules":[{"t":"set","p":"command","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1080,"wires":[["9abd4995.d0c8a8"]]},{"id":"88ce900c.0ff6d","type":"inject","z":"614bbd62.be6174","name":"send","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":1080,"wires":[["8de587dd.5cc2b8"]]},{"id":"e778e9c4.c08058","type":"change","z":"614bbd62.be6174","name":"down","rules":[{"t":"set","p":"command","pt":"msg","to":"DOWN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1120,"wires":[["9abd4995.d0c8a8"]]},{"id":"56584674.85b868","type":"inject","z":"614bbd62.be6174","name":"send","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":1120,"wires":[["e778e9c4.c08058"]]},{"id":"60a147a3.a2bfd8","type":"inject","z":"614bbd62.be6174","name":"send","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":600,"wires":[["fe7ce791.0d7d58"]]},{"id":"fe7ce791.0d7d58","type":"change","z":"614bbd62.be6174","name":"Stop","rules":[{"t":"set","p":"stop","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":600,"wires":[["9abd4995.d0c8a8"]]},{"id":"e00d66fd.c105c8","type":"comment","z":"614bbd62.be6174","name":"Polling stoppen","info":"","x":940,"y":560,"wires":[]},{"id":"97944d14.33f2a","type":"change","z":"614bbd62.be6174","name":"REMOTE-CONTROL-(Number)","rules":[{"t":"set","p":"command","pt":"msg","to":"116","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":1160,"wires":[["9abd4995.d0c8a8"]]},{"id":"3564d286.c6202e","type":"inject","z":"614bbd62.be6174","name":"send","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":1160,"wires":[["97944d14.33f2a"]]}]
