enigma2-Flow.json
[{"id":"aeea03a.1b901","type":"tab","label":"VU+","disabled":false,"info":""},{"id":"f832c785.b58468","type":"http request","z":"aeea03a.1b901","name":"/web/getcurrent","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{ipadresse}}/web/getcurrent","tls":"","proxy":"","authType":"basic","x":1720,"y":80,"wires":[["57ed8ad3.68c9b4"]]},{"id":"8b9b0763.b4de58","type":"xml","z":"aeea03a.1b901","name":"","property":"payload","attr":"","chr":"","x":130,"y":580,"wires":[["6b84b578.ede81c","13a782d0.57f8fd","46b2302c.dce4","fd6cf91f.f1dfd8","1479e5f0.599c4a","cb2fbc30.98458","1b616818.38c868","e95aa69f.51c8a8","8fe73a80.9709d8","52aa1997.98e298"]]},{"id":"6b84b578.ede81c","type":"function","z":"aeea03a.1b901","name":"e2servicename","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventservicename[0];\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":580,"wires":[["4578a16.e1dbb6"]]},{"id":"13a782d0.57f8fd","type":"function","z":"aeea03a.1b901","name":"e2servicereference","func":"msg.payload = msg.payload.e2currentserviceinformation.e2service[0].e2servicereference[0];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":760,"wires":[["946c44a2.098478"]]},{"id":"ba14fe86.4e456","type":"function","z":"aeea03a.1b901","name":"slice(0,-1)","func":"msg.payload = msg.payload.slice(0,-1);\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":760,"wires":[["1bc520ae.7b2eff"]]},{"id":"46b2302c.dce4","type":"function","z":"aeea03a.1b901","name":"e2eventname","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventname[0];\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":700,"wires":[["4deaf43b.db5f1c"]]},{"id":"fd6cf91f.f1dfd8","type":"function","z":"aeea03a.1b901","name":"e2eventdescription","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventdescription[0];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":640,"wires":[["7c8c05cc.79eb7c"]]},{"id":"cf970582.a786a8","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2eventdescription","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":true,"x":1570,"y":640,"wires":[[]]},{"id":"7ea32c27.7fd0f4","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2eventname","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":true,"x":1560,"y":700,"wires":[[]]},{"id":"5d801e33.51ef9","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2servicereference","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":true,"x":1570,"y":760,"wires":[[]]},{"id":"3dbda398.cab4cc","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":700,"wires":[["7ea32c27.7fd0f4","677678d6.c74058"]]},{"id":"7c8c05cc.79eb7c","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":640,"wires":[["cf970582.a786a8","677678d6.c74058"]]},{"id":"1bc520ae.7b2eff","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":760,"wires":[["5d801e33.51ef9","677678d6.c74058"]]},{"id":"66270203.76027c","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2servicename","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":false,"x":1560,"y":580,"wires":[[]]},{"id":"644c1dc0.8395e4","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":580,"wires":[["66270203.76027c","677678d6.c74058"]]},{"id":"1479e5f0.599c4a","type":"function","z":"aeea03a.1b901","name":"e2eventduration","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventduration[0];\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":940,"wires":[["1125ddbd.85f462","7b485e9b.44dcc","e8d86e7b.912a"]]},{"id":"1125ddbd.85f462","type":"function","z":"aeea03a.1b901","name":"sec2HMS","func":"function sec2HMS(sec) {\n\tif (sec  === 0) {\n        return '0';\n    }\n\n    const sec_num = parseInt(sec, 10);\n    let hours   = Math.floor(sec_num / 3600);\n    let minutes = Math.floor((sec_num - (hours * 3600)) / 60);\n    let seconds = sec_num - (hours * 3600) - (minutes * 60);\n\n    if (minutes < 10) {minutes = '0' + minutes;}\n    if (seconds < 10) {seconds = '0' + seconds;}\n    if (hours === 0) {\n        return minutes + ':' + seconds;\n    }\n\n    if (hours < 10) {hours = '0' + hours;}\n    return hours + ':' + minutes + ':' + seconds;\n}\n\nmsg.payload = sec2HMS(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":940,"wires":[["52c2c969.a246e8"]]},{"id":"cb2fbc30.98458","type":"function","z":"aeea03a.1b901","name":"e2eventremaining","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventremaining[0];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1260,"wires":[["d8c080ad.054fa","e90418d7.cd2158","bdbd6672.0c2148"]]},{"id":"d8c080ad.054fa","type":"function","z":"aeea03a.1b901","name":"sec2HMS","func":"function sec2HMS(sec) {\n\tif (sec  === 0) {\n        return '0';\n    }\n\n    const sec_num = parseInt(sec, 10);\n    let hours   = Math.floor(sec_num / 3600);\n    let minutes = Math.floor((sec_num - (hours * 3600)) / 60);\n    let seconds = sec_num - (hours * 3600) - (minutes * 60);\n\n    if (minutes < 10) {minutes = '0' + minutes;}\n    if (seconds < 10) {seconds = '0' + seconds;}\n    if (hours === 0) {\n        return minutes + ':' + seconds;\n    }\n\n    if (hours < 10) {hours = '0' + hours;}\n    return hours + ':' + minutes + ':' + seconds;\n}\n\nmsg.payload = sec2HMS(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1260,"wires":[["6956e9d5.f63b48"]]},{"id":"5849e4ba.c1a6bc","type":"inject","z":"aeea03a.1b901","name":"Trigger 3s","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":200,"wires":[["a501496d.7ef838"]]},{"id":"52c2c969.a246e8","type":"change","z":"aeea03a.1b901","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"NaN:NaN:NaN","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":940,"wires":[["9d58246f.47ed38"]]},{"id":"6956e9d5.f63b48","type":"change","z":"aeea03a.1b901","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"NaN:NaN:NaN","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1260,"wires":[["1de2fbbf.cc9194"]]},{"id":"166ee363.f3fe2d","type":"switch","z":"aeea03a.1b901","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":740,"wires":[[],[]]},{"id":"1b616818.38c868","type":"function","z":"aeea03a.1b901","name":"e2eventdescriptionextended","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventdescriptionextended[0];\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":820,"wires":[["c4123d9c.e399f"]]},{"id":"1c9178de.c2bfd7","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2eventdescriptionextended","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":false,"x":1600,"y":820,"wires":[[]]},{"id":"899be877.3d4078","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":820,"wires":[["1c9178de.c2bfd7","677678d6.c74058"]]},{"id":"c0fe3725.9073d8","type":"http request","z":"aeea03a.1b901","name":"REMOTE_CONTROL","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{ipadresse}}/web/remotecontrol?command={{post}}&rcu=advanced","tls":"","proxy":"","x":820,"y":3620,"wires":[["93e6e9e2.104e78"]]},{"id":"28401598.35c6ba","type":"debug","z":"aeea03a.1b901","name":"e2 in stby","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1700,"y":3480,"wires":[]},{"id":"16cd57fd.cf34d8","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":3660,"wires":[["4a30e46b.faefdc"]]},{"id":"4a30e46b.faefdc","type":"function","z":"aeea03a.1b901","name":"RADIO","func":"msg.post = '385';\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":3660,"wires":[["605df82e.2a5cc8"]]},{"id":"93e6e9e2.104e78","type":"xml","z":"aeea03a.1b901","name":"","property":"payload","attr":"","chr":"","x":990,"y":3620,"wires":[["cca2f0ff.4682","c14b61b4.4a4bb"]]},{"id":"d2ccc465.be4508","type":"function","z":"aeea03a.1b901","name":"e2instandby","func":"msg.payload = msg.payload.e2powerstate.e2instandby[0];\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":3460,"wires":[["faea8c91.ef392"]]},{"id":"291357a7.21a698","type":"function","z":"aeea03a.1b901","name":"MUTE_TOGGLE","func":"msg.post = '113';\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":3620,"wires":[["605df82e.2a5cc8"]]},{"id":"7ad77dca.defd24","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":3620,"wires":[["291357a7.21a698"]]},{"id":"cca2f0ff.4682","type":"debug","z":"aeea03a.1b901","name":"xml","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":3580,"wires":[]},{"id":"9a6c81c3.f29e9","type":"http request","z":"aeea03a.1b901","name":"main_commands","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{ipadresse}}/web/powerstate?newstate={{post}}&rcu=advanced","tls":"","proxy":"","x":810,"y":3460,"wires":[["f34912c6.c5307"]]},{"id":"157fc806.9533f8","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":3480,"wires":[["ea3a2291.6028b"]]},{"id":"ea3a2291.6028b","type":"function","z":"aeea03a.1b901","name":"IN_STANDBY","func":"msg.post = '5';\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":3480,"wires":[["eaec9962.d893b8"]]},{"id":"81a67afe.463968","type":"function","z":"aeea03a.1b901","name":"WAKEUP_FROM_STANDBY","func":"msg.post = '4';\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":3440,"wires":[["eaec9962.d893b8"]]},{"id":"11b31cf5.4d2fc3","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":3440,"wires":[["81a67afe.463968"]]},{"id":"f34912c6.c5307","type":"xml","z":"aeea03a.1b901","name":"","property":"payload","attr":"","chr":"","x":990,"y":3460,"wires":[["d2ccc465.be4508","fb9bd453.1538d8"]]},{"id":"fad6f077.a39b5","type":"switch","z":"aeea03a.1b901","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"Wahr","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":1370,"y":3620,"wires":[["a1a818df.eadee8"],["a1a818df.eadee8"],["a1a818df.eadee8"],[]]},{"id":"c14b61b4.4a4bb","type":"function","z":"aeea03a.1b901","name":"e2remotecontrol.e2result","func":"msg.payload = msg.payload.e2remotecontrol.e2result[0];\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":3620,"wires":[["fad6f077.a39b5"]]},{"id":"dbf1ca54.cc5078","type":"debug","z":"aeea03a.1b901","name":"befehl","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1690,"y":3640,"wires":[]},{"id":"a1a818df.eadee8","type":"function","z":"aeea03a.1b901","name":"erfolgreich","func":"msg.payload = 'FB Befehl ' + msg.post + ' wurde erfolgreich abgesetzt';\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":3600,"wires":[["dbf1ca54.cc5078"]]},{"id":"a7e68ecd.dc9fe","type":"function","z":"aeea03a.1b901","name":"Fehler","func":"msg.payload = \"Fehler!\";\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":3680,"wires":[["dbf1ca54.cc5078"]]},{"id":"d34dd7ed.1fd528","type":"comment","z":"aeea03a.1b901","name":"++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ commands ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++","info":"","x":750,"y":3340,"wires":[]},{"id":"fb9bd453.1538d8","type":"debug","z":"aeea03a.1b901","name":"xml","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":3420,"wires":[]},{"id":"faea8c91.ef392","type":"switch","z":"aeea03a.1b901","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"Wahr","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":1370,"y":3460,"wires":[["190c2726.e4b4f9"],["190c2726.e4b4f9"],["190c2726.e4b4f9"],[]]},{"id":"190c2726.e4b4f9","type":"function","z":"aeea03a.1b901","name":"erfolgreich","func":"msg.payload = 'FB Befehl ' + msg.post + ' wurde erfolgreich abgesetzt';\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":3440,"wires":[["28401598.35c6ba"]]},{"id":"7ef5051e.5730fc","type":"function","z":"aeea03a.1b901","name":"Fehler","func":"msg.payload = \"Fehler!\";\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":3520,"wires":[["28401598.35c6ba"]]},{"id":"f9f13f46.430fc","type":"switch","z":"aeea03a.1b901","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":300,"wires":[["58a9ebb3.bf01a4"],["d7b1d173.5cd85"]]},{"id":"b9cd5ed3.e0021","type":"http request","z":"aeea03a.1b901","name":"/web/powerstate","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{ipadresse}}/web/powerstate","tls":"","proxy":"","authType":"basic","x":560,"y":200,"wires":[["7f428c53.8c7704"]]},{"id":"e8b78f90.8686e","type":"function","z":"aeea03a.1b901","name":"e2instandby","func":"msg.payload = msg.payload.e2powerstate.e2instandby[0];\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":200,"wires":[["6cea75c5.302e6c","1b99b621.267f0a","61defafc.507fa4","2148c811.26dcd8"]]},{"id":"7f428c53.8c7704","type":"xml","z":"aeea03a.1b901","name":"","property":"payload","attr":"","chr":"","x":730,"y":200,"wires":[["e8b78f90.8686e"]]},{"id":"6431550.f3437ac","type":"function","z":"aeea03a.1b901","name":"msg.ipadresse fest","func":"msg.ipadresse = \"192.168.27.66:80\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":100,"wires":[[]]},{"id":"677678d6.c74058","type":"debug","z":"aeea03a.1b901","name":"An SYSVAR Übergeben","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1970,"y":1000,"wires":[]},{"id":"9d58246f.47ed38","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":940,"wires":[["677678d6.c74058","ea6d12ce.ec9a1"]]},{"id":"84aa3efd.8394a","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":1260,"wires":[["453b0bf4.3bca74","677678d6.c74058"]]},{"id":"e2690cb6.85f0e","type":"delay","z":"aeea03a.1b901","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1500,"y":80,"wires":[["f832c785.b58468"]]},{"id":"57ed8ad3.68c9b4","type":"link out","z":"aeea03a.1b901","name":"Http Abfrage","links":["77d84ac4.b3ce54"],"x":2055,"y":80,"wires":[]},{"id":"77d84ac4.b3ce54","type":"link in","z":"aeea03a.1b901","name":"/web/getcurrent XML Analyse","links":["57ed8ad3.68c9b4"],"x":35,"y":580,"wires":[["8b9b0763.b4de58"]]},{"id":"ea6d12ce.ec9a1","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2eventduration","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":false,"cache":false,"x":1560,"y":940,"wires":[[]]},{"id":"453b0bf4.3bca74","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2eventremaining","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":false,"cache":false,"x":1570,"y":1260,"wires":[[]]},{"id":"79b8eb8c.b7c7f4","type":"change","z":"aeea03a.1b901","name":"Bool:True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":80,"wires":[["e2690cb6.85f0e","9f3fbeb0.ca3e4"]]},{"id":"58a9ebb3.bf01a4","type":"change","z":"aeea03a.1b901","name":"Bool:false TV AUS","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":280,"wires":[["2b18eb0e.6a97e4","23c174bc.0415ec"]]},{"id":"6cea75c5.302e6c","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":80,"wires":[["15f59e34.768522"]]},{"id":"1b99b621.267f0a","type":"switch","z":"aeea03a.1b901","name":"wenn TV EIN","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1050,"y":140,"wires":[["3d3a2435.c1dbfc"],["3d3a2435.c1dbfc"]]},{"id":"d7b1d173.5cd85","type":"change","z":"aeea03a.1b901","name":"Bool:false TV EIN","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":320,"wires":[["2b18eb0e.6a97e4","23c174bc.0415ec"]]},{"id":"15f59e34.768522","type":"switch","z":"aeea03a.1b901","name":"wenn TV AUS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"cont","v":"true","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1140,"y":80,"wires":[["79b8eb8c.b7c7f4"],["79b8eb8c.b7c7f4"]]},{"id":"2b18eb0e.6a97e4","type":"ccu-sysvar","z":"aeea03a.1b901","name":"VU+","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":false,"cache":false,"x":1530,"y":300,"wires":[[]]},{"id":"17210c12.11be34","type":"comment","z":"aeea03a.1b901","name":"/web/getcurrent","info":"","x":100,"y":540,"wires":[]},{"id":"bac4a848.9b2518","type":"comment","z":"aeea03a.1b901","name":"/web/deviceinfo","info":"","x":120,"y":1860,"wires":[]},{"id":"a501496d.7ef838","type":"ccu-get-value","z":"aeea03a.1b901","name":"IP_ADRESSE+PORT","ccuConfig":"38263145.35ea0e","iface":"ReGaHSS","channel":"","sysvar":"VU Plus IP Adresse","sysvarProperty":"value","datapoint":"","datapointProperty":"value","setProp":"ipadresse","setPropType":"msg","x":320,"y":200,"wires":[["b9cd5ed3.e0021"]]},{"id":"b53babd0.767858","type":"function","z":"aeea03a.1b901","name":"ipadresse","func":"msg.payload = \"192.168.27.66:80\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":300,"wires":[["5b9a6b16.a70c24"]]},{"id":"5b9a6b16.a70c24","type":"ccu-sysvar","z":"aeea03a.1b901","name":"VU Plus IP Adresse","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":false,"cache":false,"x":510,"y":300,"wires":[[]]},{"id":"4e7c3d44.daf484","type":"inject","z":"aeea03a.1b901","name":"IP + Port setzen","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":300,"wires":[["b53babd0.767858"]]},{"id":"2b73ca5a.6fb076","type":"function","z":"aeea03a.1b901","name":"Š = ","func":"msg.payload = (msg.payload).replace(//g, '\\n');\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":820,"wires":[["899be877.3d4078"]]},{"id":"e95aa69f.51c8a8","type":"function","z":"aeea03a.1b901","name":"e2eventtitle","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventtitle[0];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":880,"wires":[["8d9af336.4cf32"]]},{"id":"ffeaf645.f979c8","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2eventtitle","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":false,"x":1550,"y":880,"wires":[[]]},{"id":"e89d49fc.718738","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":880,"wires":[["ffeaf645.f979c8","677678d6.c74058"]]},{"id":"8d9af336.4cf32","type":"change","z":"aeea03a.1b901","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"û","fromt":"str","to":"ß","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"N/A","fromt":"str","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":880,"wires":[["e0ea990b.f93828"]]},{"id":"e0ea990b.f93828","type":"function","z":"aeea03a.1b901","name":"Š = ","func":"msg.payload = (msg.payload).replace(//g, '\\n');\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":880,"wires":[["e89d49fc.718738"]]},{"id":"48dcabc0.d5c014","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":1100,"wires":[["538879da.dea758","677678d6.c74058"]]},{"id":"538879da.dea758","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2eventtime_percent","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":false,"cache":false,"x":1580,"y":1100,"wires":[[]]},{"id":"436580c9.e3487","type":"function","z":"aeea03a.1b901","name":"/60","func":"var\tWert2 = { };\nWert2.payload = Math.round((msg.payload) / (60));\nmsg.payload = Wert2.payload;\nmsg.topic = \"wert1\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1140,"wires":[["b2849fdc.08704"]]},{"id":"90edf068.779f2","type":"function","z":"aeea03a.1b901","name":"/60","func":"var\tWert1 = { };\nWert1.payload = Math.round((msg.payload) / (60));\nmsg.payload = Wert1.payload;\nmsg.topic = \"wert2\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1060,"wires":[["b2849fdc.08704"]]},{"id":"a383a5ea.63ec18","type":"function","z":"aeea03a.1b901","name":"e2eventduration/60","func":"var xx = msg.payload.wert2;\nvar yy = msg.payload.wert1;\nvar\tStep1 = { };\nvar Step2 = { };\nvar Step3 = { };\nStep1.payload = ((xx) - (yy));\nStep2.payload = ((Step1.payload) / (xx));\nStep3.payload = (Math.round(Step2.payload * 100));\nmsg.payload = Step3.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1100,"wires":[["48dcabc0.d5c014"]]},{"id":"b2849fdc.08704","type":"join","z":"aeea03a.1b901","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":850,"y":1100,"wires":[["a383a5ea.63ec18","c0e20616.677a68"]]},{"id":"c0e20616.677a68","type":"debug","z":"aeea03a.1b901","name":"zusammen","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":1060,"wires":[]},{"id":"7b485e9b.44dcc","type":"switch","z":"aeea03a.1b901","name":">0","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":980,"wires":[["90edf068.779f2","ce9f4564.0ef438"]]},{"id":"e90418d7.cd2158","type":"switch","z":"aeea03a.1b901","name":">0","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":1220,"wires":[["436580c9.e3487","f87de5df.ab8518"],["40e979d8.931f08","7a5fe6eb.6082a8"]]},{"id":"40e979d8.931f08","type":"function","z":"aeea03a.1b901","name":"0%","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":1140,"wires":[["48dcabc0.d5c014"]]},{"id":"61defafc.507fa4","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1030,"y":320,"wires":[["f9f13f46.430fc","5b2922d1.94741c"]]},{"id":"1e63acfd.3faf03","type":"xml","z":"aeea03a.1b901","name":"","property":"payload","attr":"","chr":"","x":150,"y":1920,"wires":[["3a695aba.d21216","bb1b35e0.ebfd18","99b4f8dc.4ec4b8","46468c1.7c69e74","656f9cb8.d70f54"]]},{"id":"bb1b35e0.ebfd18","type":"function","z":"aeea03a.1b901","name":"e2capacity","func":"msg.payload = msg.payload.e2deviceinfo.e2hdds[0].e2hdd[0].e2capacity[0];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1980,"wires":[["4005e0e9.b785e"]]},{"id":"4f5b8bd4.f72524","type":"debug","z":"aeea03a.1b901","name":"VU Antw","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1560,"y":1920,"wires":[]},{"id":"99b4f8dc.4ec4b8","type":"function","z":"aeea03a.1b901","name":"e2free","func":"msg.payload = msg.payload.e2deviceinfo.e2hdds[0].e2hdd[0].e2free[0];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":2040,"wires":[["5cbcd930.bfde38"]]},{"id":"fedbac50.6a8c6","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2hdd0free","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":true,"x":1570,"y":2040,"wires":[[]]},{"id":"3a695aba.d21216","type":"delay","z":"aeea03a.1b901","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":1920,"wires":[["2d91a0cf.53607"]]},{"id":"5cbcd930.bfde38","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1410,"y":2040,"wires":[["fedbac50.6a8c6","4f5b8bd4.f72524"]]},{"id":"68c2e61c.c5eae8","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2hdd0capacity","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":false,"x":1580,"y":1980,"wires":[[]]},{"id":"4005e0e9.b785e","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1410,"y":1980,"wires":[["68c2e61c.c5eae8","4f5b8bd4.f72524"]]},{"id":"ad41c45.1b49638","type":"link in","z":"aeea03a.1b901","name":"/web/deviceinfo XML Analyse","links":["51e5f976.81a868"],"x":55,"y":1920,"wires":[["1e63acfd.3faf03"]]},{"id":"2d91a0cf.53607","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1410,"y":1920,"wires":[["4f5b8bd4.f72524"]]},{"id":"3d3a2435.c1dbfc","type":"link out","z":"aeea03a.1b901","name":"TV Ein","links":["f17ebacf.467488"],"x":1175,"y":140,"wires":[]},{"id":"f17ebacf.467488","type":"link in","z":"aeea03a.1b901","name":"zu den Web/get...","links":["3d3a2435.c1dbfc"],"x":1575,"y":140,"wires":[["f832c785.b58468","b327ec74.226ee","f20a09f4.afb1a8","147d5f90.7cbe"]]},{"id":"91bce441.7e3258","type":"http request","z":"aeea03a.1b901","name":"/web/deviceinfo","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{ipadresse}}/web/deviceinfo","tls":"","proxy":"","authType":"basic","x":1360,"y":200,"wires":[["51e5f976.81a868"]]},{"id":"51e5f976.81a868","type":"link out","z":"aeea03a.1b901","name":"Http Abfrage","links":["ad41c45.1b49638"],"x":1495,"y":200,"wires":[]},{"id":"8fe73a80.9709d8","type":"function","z":"aeea03a.1b901","name":"e2Eventstart","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[0].e2eventstart[0];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1320,"wires":[["7dcfee66.0dd6a"]]},{"id":"52aa1997.98e298","type":"function","z":"aeea03a.1b901","name":"e2Eventende","func":"msg.payload = msg.payload.e2currentserviceinformation.e2eventlist[0].e2event[1].e2eventstart[0];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1440,"wires":[["bde91c00.c1f59"]]},{"id":"f7a90b87.ff9b78","type":"debug","z":"aeea03a.1b901","name":"start","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1530,"y":1340,"wires":[]},{"id":"3c16ff32.555f","type":"debug","z":"aeea03a.1b901","name":"end","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1530,"y":1460,"wires":[]},{"id":"4c505c34.a56484","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":1460,"wires":[["3c16ff32.555f","677678d6.c74058","5f0960e8.e6cf2"]]},{"id":"238b83de.60820c","type":"function","z":"aeea03a.1b901","name":"formattedTime H:M","func":"var\tdate = { };\nvar hours = { };\nvar minutes = { };\nvar formattedTime = { };\ndate.payload = new Date(msg.payload * 1000);\nhours.payload = date.payload.getHours();\nminutes.payload = \"0\" + date.payload.getMinutes();\nformattedTime.payload = hours.payload + ':' + minutes.payload.substr(-2);\nmsg.payload = formattedTime.payload;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1320,"wires":[["21432754.201888"]]},{"id":"946c44a2.098478","type":"change","z":"aeea03a.1b901","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"û","fromt":"str","to":"ß","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":760,"wires":[["ba14fe86.4e456"]]},{"id":"c4123d9c.e399f","type":"change","z":"aeea03a.1b901","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"û","fromt":"str","to":"ß","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":820,"wires":[["2b73ca5a.6fb076"]]},{"id":"4deaf43b.db5f1c","type":"change","z":"aeea03a.1b901","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"û","fromt":"str","to":"ß","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"N/A","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":700,"wires":[["f1d772f0.6e28"]]},{"id":"f1d772f0.6e28","type":"function","z":"aeea03a.1b901","name":"Š = ","func":"msg.payload = (msg.payload).replace(//g, '\\n');\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":700,"wires":[["3dbda398.cab4cc"]]},{"id":"1de2fbbf.cc9194","type":"delay","z":"aeea03a.1b901","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1170,"y":1260,"wires":[["84aa3efd.8394a"]]},{"id":"21432754.201888","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":1340,"wires":[["677678d6.c74058","f7a90b87.ff9b78","83a38c8d.61d4f"]]},{"id":"bde91c00.c1f59","type":"switch","z":"aeea03a.1b901","name":">0","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":1460,"wires":[["6062790e.4ef2c8"],["abeac381.7be1b"]]},{"id":"6062790e.4ef2c8","type":"function","z":"aeea03a.1b901","name":"formattedTime H:M","func":"var\tdate = { };\nvar hours = { };\nvar minutes = { };\nvar formattedTime = { };\ndate.payload = new Date(msg.payload * 1000);\nhours.payload = date.payload.getHours();\nminutes.payload = \"0\" + date.payload.getMinutes();\nformattedTime.payload = hours.payload + ':' + minutes.payload.substr(-2);\nmsg.payload = formattedTime.payload;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1440,"wires":[["4c505c34.a56484"]]},{"id":"7dcfee66.0dd6a","type":"switch","z":"aeea03a.1b901","name":">0","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":1340,"wires":[["238b83de.60820c"],["540e5d36.a8d8a4"]]},{"id":"540e5d36.a8d8a4","type":"function","z":"aeea03a.1b901","name":"leer","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1360,"wires":[["21432754.201888"]]},{"id":"abeac381.7be1b","type":"function","z":"aeea03a.1b901","name":"leer","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1480,"wires":[["4c505c34.a56484"]]},{"id":"83a38c8d.61d4f","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2Eventstart","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":false,"cache":false,"x":1550,"y":1380,"wires":[[]]},{"id":"5f0960e8.e6cf2","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2Eventende","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":false,"cache":false,"x":1550,"y":1500,"wires":[[]]},{"id":"7a5fe6eb.6082a8","type":"function","z":"aeea03a.1b901","name":"leer","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":1220,"wires":[["84aa3efd.8394a","225b99bb.5b6056"]]},{"id":"3484f1d6.68a0de","type":"function","z":"aeea03a.1b901","name":"e2eventtimepassed","func":"var xx = msg.payload.wert2;\nvar yy = msg.payload.wert1;\nvar\tStep1 = { };\nvar Step2 = { };\nvar Step3 = { };\nStep1.payload = ((xx) - (yy));\nmsg.payload = Step1.payload;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1580,"wires":[["bfbdd06.a9b3e3"]]},{"id":"7bedc50f.7f753c","type":"debug","z":"aeea03a.1b901","name":"e2eventtimepassed","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1570,"y":1580,"wires":[]},{"id":"f16a93ea.3687a","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":1580,"wires":[["7bedc50f.7f753c","954775a6.ce86b8","677678d6.c74058"]]},{"id":"5972974b.4e2808","type":"join","z":"aeea03a.1b901","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":1580,"wires":[["3484f1d6.68a0de"]]},{"id":"a633738c.7ddd7","type":"function","z":"aeea03a.1b901","name":"wert2","func":"msg.payload = msg.payload;\nmsg.topic = \"wert2\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1560,"wires":[["5972974b.4e2808"]]},{"id":"10675403.854c4c","type":"function","z":"aeea03a.1b901","name":"wert1","func":"msg.payload = msg.payload;\nmsg.topic = \"wert1\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1600,"wires":[["5972974b.4e2808"]]},{"id":"bfbdd06.a9b3e3","type":"function","z":"aeea03a.1b901","name":"sec2HMS","func":"function sec2HMS(sec) {\n\tif (sec  === 0) {\n        return '0';\n    }\n\n    const sec_num = parseInt(sec, 10);\n    let hours   = Math.floor(sec_num / 3600);\n    let minutes = Math.floor((sec_num - (hours * 3600)) / 60);\n    let seconds = sec_num - (hours * 3600) - (minutes * 60);\n\n    if (minutes < 10) {minutes = '0' + minutes;}\n    if (seconds < 10) {seconds = '0' + seconds;}\n    if (hours === 0) {\n        return minutes + ':' + seconds;\n    }\n\n    if (hours < 10) {hours = '0' + hours;}\n    return hours + ':' + minutes + ':' + seconds;\n}\n\nmsg.payload = sec2HMS(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":1580,"wires":[["e5759579.d00f08"]]},{"id":"e5759579.d00f08","type":"delay","z":"aeea03a.1b901","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1160,"y":1580,"wires":[["f16a93ea.3687a"]]},{"id":"b94f5c1d.2318e","type":"link in","z":"aeea03a.1b901","name":"wert1","links":["f87de5df.ab8518"],"x":175,"y":1600,"wires":[["10675403.854c4c"]]},{"id":"c63eef34.41d1d","type":"link in","z":"aeea03a.1b901","name":"wert2","links":["ce9f4564.0ef438"],"x":175,"y":1560,"wires":[["a633738c.7ddd7"]]},{"id":"ce9f4564.0ef438","type":"link out","z":"aeea03a.1b901","name":"eventduration","links":["c63eef34.41d1d"],"x":655,"y":980,"wires":[]},{"id":"f87de5df.ab8518","type":"link out","z":"aeea03a.1b901","name":"eventremaiming","links":["b94f5c1d.2318e"],"x":655,"y":1180,"wires":[]},{"id":"954775a6.ce86b8","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2eventtimepassed","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":false,"cache":false,"x":1570,"y":1620,"wires":[[]]},{"id":"225b99bb.5b6056","type":"link out","z":"aeea03a.1b901","name":"<=0","links":["32717ca1.ffe254"],"x":1355,"y":1180,"wires":[]},{"id":"32717ca1.ffe254","type":"link in","z":"aeea03a.1b901","name":"e2eventtimepassed leer","links":["225b99bb.5b6056"],"x":1275,"y":1540,"wires":[["f16a93ea.3687a"]]},{"id":"16eaffc4.e6694","type":"comment","z":"aeea03a.1b901","name":"Abfrage Intervall","info":"","x":100,"y":160,"wires":[]},{"id":"44d0872a.ec3908","type":"comment","z":"aeea03a.1b901","name":"ENIGMA2 RECEIVER Abfragen ############################################################################################################################################################","info":"","x":760,"y":20,"wires":[]},{"id":"4d71d170.c7884","type":"comment","z":"aeea03a.1b901","name":"IP Adresse:Port festegen","info":"","x":330,"y":60,"wires":[]},{"id":"e829579a.5002a8","type":"comment","z":"aeea03a.1b901","name":"IP Adresse:Port dynamisch (aus Variable) Vergeben","info":"","x":410,"y":160,"wires":[]},{"id":"8aec44ad.ed44f8","type":"comment","z":"aeea03a.1b901","name":"IP Adresse:Port in Variable schreiben","info":"","x":170,"y":260,"wires":[]},{"id":"501b2d63.896e64","type":"comment","z":"aeea03a.1b901","name":"Abfragen ##############################################################################################################################################################################################","info":"","x":820,"y":480,"wires":[]},{"id":"eaec9962.d893b8","type":"ccu-get-value","z":"aeea03a.1b901","name":"IP_ADRESSE+PORT","ccuConfig":"38263145.35ea0e","iface":"ReGaHSS","channel":"","sysvar":"VU Plus IP Adresse","sysvarProperty":"value","datapoint":"","datapointProperty":"value","setProp":"ipadresse","setPropType":"msg","x":600,"y":3460,"wires":[["9a6c81c3.f29e9"]]},{"id":"605df82e.2a5cc8","type":"ccu-get-value","z":"aeea03a.1b901","name":"IP_ADRESSE+PORT","ccuConfig":"38263145.35ea0e","iface":"ReGaHSS","channel":"","sysvar":"VU Plus IP Adresse","sysvarProperty":"value","datapoint":"","datapointProperty":"value","setProp":"ipadresse","setPropType":"msg","x":600,"y":3620,"wires":[["c0fe3725.9073d8"]]},{"id":"5272c5b2.3550ac","type":"catch","z":"aeea03a.1b901","name":"Verbindung error","scope":["b9cd5ed3.e0021"],"uncaught":false,"x":100,"y":420,"wires":[["c52823df.8e5d9"]]},{"id":"e18fde81.30d98","type":"debug","z":"aeea03a.1b901","name":"Verbindung","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1750,"y":400,"wires":[]},{"id":"5b2922d1.94741c","type":"function","z":"aeea03a.1b901","name":"Verbunden","func":"msg.payload = 'Verbunden';\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":380,"wires":[["a76dc6bd.d1a0c8"]]},{"id":"c52823df.8e5d9","type":"function","z":"aeea03a.1b901","name":"nicht Verbunden","func":"msg.payload = 'nicht Verbunden!';\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":420,"wires":[["a76dc6bd.d1a0c8"]]},{"id":"2148c811.26dcd8","type":"delay","z":"aeea03a.1b901","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1120,"y":200,"wires":[["91bce441.7e3258"]]},{"id":"7efa9971.746ba8","type":"catch","z":"aeea03a.1b901","name":"","scope":["bb1b35e0.ebfd18","99b4f8dc.4ec4b8","65fcb46d.b7888c"],"uncaught":false,"x":520,"y":2040,"wires":[["5ecf20ac.cdc59"]]},{"id":"5ecf20ac.cdc59","type":"function","z":"aeea03a.1b901","name":"Keine Festplatte ","func":"msg.payload = \"Keine Festplatte verbunden\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":2060,"wires":[["4005e0e9.b785e","5cbcd930.bfde38"]]},{"id":"2d84d5e0.cf223a","type":"catch","z":"aeea03a.1b901","name":"","scope":["99b4f8dc.4ec4b8","65fcb46d.b7888c"],"uncaught":false,"x":520,"y":1980,"wires":[["5ecf20ac.cdc59"]]},{"id":"46468c1.7c69e74","type":"function","z":"aeea03a.1b901","name":"e2capacity1","func":"msg.payload = msg.payload.e2deviceinfo.e2hdds[0].e2hdd[1].e2capacity[0];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":2100,"wires":[["28637580.d92e7a"]]},{"id":"656f9cb8.d70f54","type":"function","z":"aeea03a.1b901","name":"e2free1","func":"msg.payload = msg.payload.e2deviceinfo.e2hdds[0].e2hdd[1].e2free[0];\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":2160,"wires":[["3011ec49.5a47d4"]]},{"id":"713b5620.efea28","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2hdd1free","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":true,"x":1570,"y":2160,"wires":[[]]},{"id":"3011ec49.5a47d4","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1410,"y":2160,"wires":[["713b5620.efea28","4f5b8bd4.f72524"]]},{"id":"d8722532.d90d58","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2hdd1capacity","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":false,"x":1580,"y":2100,"wires":[[]]},{"id":"28637580.d92e7a","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1410,"y":2100,"wires":[["d8722532.d90d58","4f5b8bd4.f72524"]]},{"id":"68f79d32.647364","type":"catch","z":"aeea03a.1b901","name":"","scope":["46468c1.7c69e74","656f9cb8.d70f54","65fcb46d.b7888c"],"uncaught":false,"x":520,"y":2100,"wires":[["6febfe5f.8e817"]]},{"id":"5ff2e2b2.7d11ac","type":"catch","z":"aeea03a.1b901","name":"","scope":["656f9cb8.d70f54","65fcb46d.b7888c"],"uncaught":false,"x":520,"y":2160,"wires":[["6febfe5f.8e817"]]},{"id":"a76dc6bd.d1a0c8","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2 Verbindung","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":false,"x":1560,"y":400,"wires":[["e18fde81.30d98"]]},{"id":"a3234b10.94d4d8","type":"status","z":"aeea03a.1b901","name":"Verbindung O.K.","scope":["b9cd5ed3.e0021"],"x":100,"y":380,"wires":[[]]},{"id":"6febfe5f.8e817","type":"function","z":"aeea03a.1b901","name":"Keine Festplatte ","func":"msg.payload = \"Keine Festplatte verbunden\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":2140,"wires":[["28637580.d92e7a","3011ec49.5a47d4"]]},{"id":"24927733.212238","type":"comment","z":"aeea03a.1b901","name":"/web/vol","info":"","x":100,"y":2240,"wires":[]},{"id":"ae09e904.532a78","type":"xml","z":"aeea03a.1b901","name":"","property":"payload","attr":"","chr":"","x":150,"y":2300,"wires":[["386b8ceb.58d314","3b891c45.4ea394","48e987c8.501a38"]]},{"id":"e32adc16.dd352","type":"debug","z":"aeea03a.1b901","name":"VU Antw","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1560,"y":2300,"wires":[]},{"id":"386b8ceb.58d314","type":"delay","z":"aeea03a.1b901","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":2300,"wires":[["c6f29565.86b698"]]},{"id":"4c3ff72f.b154f8","type":"link in","z":"aeea03a.1b901","name":"/web/vol XML Analyse","links":["bf37d596.05f4a8"],"x":55,"y":2300,"wires":[["ae09e904.532a78"]]},{"id":"c6f29565.86b698","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1410,"y":2300,"wires":[["e32adc16.dd352"]]},{"id":"b327ec74.226ee","type":"http request","z":"aeea03a.1b901","name":"/web/vol","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{ipadresse}}/web/vol","tls":"","proxy":"","authType":"basic","x":1700,"y":120,"wires":[["bf37d596.05f4a8"]]},{"id":"bf37d596.05f4a8","type":"link out","z":"aeea03a.1b901","name":"/web/vol Http Abfrage","links":["4c3ff72f.b154f8"],"x":2055,"y":120,"wires":[]},{"id":"3b891c45.4ea394","type":"function","z":"aeea03a.1b901","name":"e2volume.e2current","func":"msg.payload = msg.payload.e2volume.e2current[0];\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":2360,"wires":[["5fd24fc5.84c7d"]]},{"id":"86294062.fe64","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2volume","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":true,"x":1560,"y":2360,"wires":[[]]},{"id":"5fd24fc5.84c7d","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1410,"y":2360,"wires":[["86294062.fe64","e32adc16.dd352"]]},{"id":"48e987c8.501a38","type":"function","z":"aeea03a.1b901","name":"e2ismuted","func":"msg.payload = msg.payload.e2volume.e2ismuted[0];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":2420,"wires":[["44f6c1f5.5dfdc"]]},{"id":"9b14be48.73075","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2ismuted","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":true,"x":1570,"y":2420,"wires":[[]]},{"id":"156c5d8e.0caf52","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1410,"y":2420,"wires":[["9b14be48.73075","e32adc16.dd352"]]},{"id":"44f6c1f5.5dfdc","type":"change","z":"aeea03a.1b901","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"True","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"False","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":2420,"wires":[["156c5d8e.0caf52"]]},{"id":"23c174bc.0415ec","type":"debug","z":"aeea03a.1b901","name":"tv","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1530,"y":260,"wires":[]},{"id":"9f3fbeb0.ca3e4","type":"debug","z":"aeea03a.1b901","name":"= true","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1470,"y":120,"wires":[]},{"id":"dd5c9e0f.129c4","type":"change","z":"aeea03a.1b901","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":60,"wires":[[]]},{"id":"4578a16.e1dbb6","type":"change","z":"aeea03a.1b901","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"û","fromt":"str","to":"ß","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"&lt;n/a&gt;","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":580,"wires":[["644c1dc0.8395e4"]]},{"id":"9d773ad.aa2edc8","type":"http request","z":"aeea03a.1b901","name":"/web/about","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{ipadresse}}/web/about","tls":"","proxy":"","authType":"basic","x":1950,"y":200,"wires":[["ef68b2fe.00a97"]]},{"id":"2bfac33d.421dbc","type":"comment","z":"aeea03a.1b901","name":"/web/about","info":"","x":100,"y":2480,"wires":[]},{"id":"d4d11851.3eb4a8","type":"xml","z":"aeea03a.1b901","name":"","property":"payload","attr":"","chr":"","x":150,"y":2540,"wires":[["96b4177e.520e48"]]},{"id":"fc917a07.792c18","type":"debug","z":"aeea03a.1b901","name":"/web/about","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1570,"y":2540,"wires":[]},{"id":"96b4177e.520e48","type":"delay","z":"aeea03a.1b901","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":2540,"wires":[["f645d82e.e9cdf8"]]},{"id":"7781b63b.d25b28","type":"link in","z":"aeea03a.1b901","name":"/web/about XML Analyse","links":["ef68b2fe.00a97"],"x":55,"y":2540,"wires":[["d4d11851.3eb4a8"]]},{"id":"f645d82e.e9cdf8","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1410,"y":2540,"wires":[["fc917a07.792c18"]]},{"id":"e2f2c7f5.365ea8","type":"comment","z":"aeea03a.1b901","name":"/web/messageanswer?getanswer=now","info":"","x":190,"y":2640,"wires":[]},{"id":"9e27a5f0.aef2c8","type":"xml","z":"aeea03a.1b901","name":"","property":"payload","attr":"","chr":"","x":150,"y":2700,"wires":[["d67f7b00.4f55b8","6714ec75.05a0d4","474844c8.58ff3c"]]},{"id":"c84a1f69.763c2","type":"debug","z":"aeea03a.1b901","name":"/web/messageanswer?getanswer=now","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1730,"y":2700,"wires":[]},{"id":"d67f7b00.4f55b8","type":"delay","z":"aeea03a.1b901","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":2700,"wires":[["8e07a29a.96806"]]},{"id":"156afc17.a9c3a4","type":"link in","z":"aeea03a.1b901","name":"/web/messageanswer?getanswer=now XML Analyse","links":["ac39605a.ab19c"],"x":55,"y":2700,"wires":[["9e27a5f0.aef2c8"]]},{"id":"8e07a29a.96806","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1230,"y":2700,"wires":[[]]},{"id":"f20a09f4.afb1a8","type":"http request","z":"aeea03a.1b901","name":"/web/messageanswer?getanswer=now","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{ipadresse}}/web/messageanswer?getanswer=now","tls":"","proxy":"","authType":"basic","x":1790,"y":160,"wires":[["ac39605a.ab19c"]]},{"id":"ef68b2fe.00a97","type":"link out","z":"aeea03a.1b901","name":"/web/about ","links":["7781b63b.d25b28"],"x":2055,"y":200,"wires":[]},{"id":"ac39605a.ab19c","type":"link out","z":"aeea03a.1b901","name":"/web/messageanswer?getanswer=now","links":["156afc17.a9c3a4"],"x":2055,"y":160,"wires":[]},{"id":"147d5f90.7cbe","type":"delay","z":"aeea03a.1b901","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1750,"y":200,"wires":[["9d773ad.aa2edc8"]]},{"id":"474844c8.58ff3c","type":"function","z":"aeea03a.1b901","name":"e2messagestate","func":"msg.payload = msg.payload.e2simplexmlresult.e2state[0];\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":2760,"wires":[["e82be274.f31ea"]]},{"id":"25eb0876.6ba7d8","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2messagestate","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":true,"x":1420,"y":2760,"wires":[["c84a1f69.763c2"]]},{"id":"e82be274.f31ea","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1230,"y":2760,"wires":[["25eb0876.6ba7d8"]]},{"id":"6714ec75.05a0d4","type":"function","z":"aeea03a.1b901","name":"e2statetext","func":"msg.payload = msg.payload.e2simplexmlresult.e2statetext[0];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":2820,"wires":[["54c04c57.6bb7b4"]]},{"id":"82a24a1b.b764e8","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2messageanswer","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":true,"x":1430,"y":2820,"wires":[["c84a1f69.763c2"]]},{"id":"234e218e.ce9c0e","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1230,"y":2820,"wires":[["82a24a1b.b764e8"]]},{"id":"d5df2752.5ccd88","type":"http request","z":"aeea03a.1b901","name":"http://{{ipadresse}}/web/message?text=","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{ipadresse}}/web/message?text={{messagetext}}&type={{messagetype}}&timeout={{messagetimeout}}","tls":"","proxy":"","x":1310,"y":3100,"wires":[["3857b22e.c5f7de"]]},{"id":"59837f29.81b3b","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":3100,"wires":[["83d5eb6d.f30a98"]]},{"id":"3857b22e.c5f7de","type":"xml","z":"aeea03a.1b901","name":"","property":"payload","attr":"","chr":"","x":150,"y":3200,"wires":[["e5418089.af46a","75412acd.dfe6c4"]]},{"id":"83d5eb6d.f30a98","type":"ccu-get-value","z":"aeea03a.1b901","name":"IP_ADRESSE+PORT","ccuConfig":"38263145.35ea0e","iface":"ReGaHSS","channel":"","sysvar":"VU Plus IP Adresse","sysvarProperty":"value","datapoint":"","datapointProperty":"value","setProp":"ipadresse","setPropType":"msg","x":360,"y":3100,"wires":[["fcc45066.d10d9"]]},{"id":"e5418089.af46a","type":"function","z":"aeea03a.1b901","name":"e2simplexmlresult","func":"msg.payload = msg.payload.e2simplexmlresult.e2state[0];\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":3200,"wires":[["7365a732.6f6668"]]},{"id":"7365a732.6f6668","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2simplexmlresult","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":true,"x":1430,"y":3200,"wires":[["c84a1f69.763c2"]]},{"id":"75412acd.dfe6c4","type":"function","z":"aeea03a.1b901","name":"e2statetextsend","func":"msg.payload = msg.payload.e2simplexmlresult.e2statetext[0];\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":3260,"wires":[["5ed94c96.ce1d44"]]},{"id":"5ed94c96.ce1d44","type":"ccu-sysvar","z":"aeea03a.1b901","name":"e2statetextsend","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":true,"cache":true,"x":1420,"y":3260,"wires":[["c84a1f69.763c2"]]},{"id":"a111c2d6.04924","type":"comment","z":"aeea03a.1b901","name":"No answer in time;Answer is YES!;Die Nachricht wurde erfolgreich gesendet!;Answer is NO!","info":"No answer in time\nFalse\nTrue\n\"Answer is YES!\"\n\"Die Nachricht wurde erfolgreich gesendet!\"\nAnswer is NO!\n","x":840,"y":2620,"wires":[]},{"id":"54c04c57.6bb7b4","type":"delay","z":"aeea03a.1b901","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":2820,"wires":[["234e218e.ce9c0e"]]},{"id":"fcc45066.d10d9","type":"ccu-get-value","z":"aeea03a.1b901","name":"messagetext","ccuConfig":"38263145.35ea0e","iface":"ReGaHSS","channel":"","sysvar":"enigma2.Message.Text","sysvarProperty":"value","datapoint":"","datapointProperty":"value","setProp":"messagetext","setPropType":"msg","x":570,"y":3100,"wires":[["72364b49.7edbf4"]]},{"id":"72364b49.7edbf4","type":"ccu-get-value","z":"aeea03a.1b901","name":"messagetype","ccuConfig":"38263145.35ea0e","iface":"ReGaHSS","channel":"","sysvar":"enigma2.Message.Type","sysvarProperty":"value","datapoint":"","datapointProperty":"value","setProp":"messagetype","setPropType":"msg","x":760,"y":3100,"wires":[["4f183d66.5dc314"]]},{"id":"4f183d66.5dc314","type":"ccu-get-value","z":"aeea03a.1b901","name":"messagetimeout","ccuConfig":"38263145.35ea0e","iface":"ReGaHSS","channel":"","sysvar":"enigma2.Message.Timeout","sysvarProperty":"value","datapoint":"","datapointProperty":"value","setProp":"messagetimeout","setPropType":"msg","x":960,"y":3100,"wires":[["d5df2752.5ccd88"]]},{"id":"3314a3ae.a6d8ec","type":"function","z":"aeea03a.1b901","name":"messagetimeout","func":"msg.payload = \"30\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":3020,"wires":[["a88c669.a54de98"]]},{"id":"a88c669.a54de98","type":"ccu-sysvar","z":"aeea03a.1b901","name":"enigma2.Message.Timeout","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":false,"cache":false,"x":1020,"y":3020,"wires":[["967eb5c3.b23038"]]},{"id":"2fcb3e2d.7ec302","type":"inject","z":"aeea03a.1b901","name":"message","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":2960,"wires":[["3314a3ae.a6d8ec","66bc077f.6aba58","1006283f.0fa938"]]},{"id":"66bc077f.6aba58","type":"function","z":"aeea03a.1b901","name":"messagetype","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":2960,"wires":[["69b5ff6a.5cac1"]]},{"id":"69b5ff6a.5cac1","type":"ccu-sysvar","z":"aeea03a.1b901","name":"enigma2.Message.Type","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":false,"cache":false,"x":1030,"y":2960,"wires":[["967eb5c3.b23038"]]},{"id":"1006283f.0fa938","type":"function","z":"aeea03a.1b901","name":"messagetext","func":"msg.payload = \"test 123 Hallo\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":2900,"wires":[["2650aac0.a031b6"]]},{"id":"2650aac0.a031b6","type":"ccu-sysvar","z":"aeea03a.1b901","name":"enigma2.Message.Text","ccuConfig":"38263145.35ea0e","topic":"ReGaHSS/${Name}","change":false,"cache":false,"x":1030,"y":2900,"wires":[["967eb5c3.b23038"]]},{"id":"967eb5c3.b23038","type":"debug","z":"aeea03a.1b901","name":"message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1300,"y":2960,"wires":[]},{"id":"48aafcf.8797b04","type":"catch","z":"aeea03a.1b901","name":"","scope":["c0fe3725.9073d8"],"uncaught":false,"x":780,"y":3680,"wires":[["a7e68ecd.dc9fe"]]},{"id":"768fcb24.c18c34","type":"catch","z":"aeea03a.1b901","name":"","scope":["9a6c81c3.f29e9"],"uncaught":false,"x":780,"y":3520,"wires":[["7ef5051e.5730fc"]]},{"id":"849f76e3.ea3568","type":"debug","z":"aeea03a.1b901","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1690,"y":1000,"wires":[]},{"id":"6d81a5c7.26512c","type":"join","z":"aeea03a.1b901","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":1000,"wires":[["a02345ea.ecaba8"]]},{"id":"e8d86e7b.912a","type":"function","z":"aeea03a.1b901","name":"wert2","func":"var\tWert1 = { };\nWert1.payload = msg.payload;\nmsg.payload = Wert1.payload;\nmsg.topic = \"wert2\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1080,"wires":[["f739c206.79825"]]},{"id":"bdbd6672.0c2148","type":"function","z":"aeea03a.1b901","name":"wert1","func":"var\tWert2 = { };\nWert2.payload = msg.payload;\nmsg.payload = Wert2.payload;\nmsg.topic = \"wert1\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1120,"wires":[["f739c206.79825"]]},{"id":"a02345ea.ecaba8","type":"function","z":"aeea03a.1b901","name":"Film","func":"var xx = msg.payload.wert2;\nvar yy = msg.payload.wert1;\nif (xx !== 0 && xx === yy) {\nmsg.payload = true;\nreturn msg;\n} else if (xx === 0) {\nmsg.payload = true;\nreturn msg;\n} else {\nmsg.payload = false;\nreturn msg;\n}","outputs":1,"noerr":0,"x":990,"y":1000,"wires":[["9589c3ae.78d09"]]},{"id":"f8423d86.a1197","type":"link in","z":"aeea03a.1b901","name":"Film","links":["f739c206.79825"],"x":755,"y":1000,"wires":[["6d81a5c7.26512c"]]},{"id":"f739c206.79825","type":"link out","z":"aeea03a.1b901","name":"wert12","links":["f8423d86.a1197"],"x":615,"y":1100,"wires":[]},{"id":"780ad4a0.16495c","type":"rbe","z":"aeea03a.1b901","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":1000,"wires":[["2538cfa9.c9b2e"]]},{"id":"d9d40ba7.86e118","type":"link out","z":"aeea03a.1b901","name":"Film Ausgabe","links":["56a1badf.061504","6a3cb990.1ff3d8","71b6e848.8b78d8"],"x":1635,"y":1000,"wires":[]},{"id":"71b6e848.8b78d8","type":"link in","z":"aeea03a.1b901","name":"Movie","links":["d9d40ba7.86e118"],"x":1075,"y":780,"wires":[["4d2316b5.71c5c8"]]},{"id":"fdd768d0.a6dbb8","type":"function","z":"aeea03a.1b901","name":"Movie","func":"msg.payload = \"Movie\";\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":780,"wires":[["5d801e33.51ef9"]]},{"id":"4d2316b5.71c5c8","type":"delay","z":"aeea03a.1b901","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1150,"y":780,"wires":[["fdd768d0.a6dbb8"]]},{"id":"9589c3ae.78d09","type":"change","z":"aeea03a.1b901","name":"","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1000,"wires":[["780ad4a0.16495c"]]},{"id":"2538cfa9.c9b2e","type":"function","z":"aeea03a.1b901","name":"true","func":"var xx = msg.payload;\nif (xx === true || xx === \"true\") {\nmsg.payload = true;\nreturn msg;\n}","outputs":1,"noerr":0,"x":1530,"y":1000,"wires":[["d9d40ba7.86e118","849f76e3.ea3568"]]},{"id":"31eb678a.8f5d68","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1560,"y":1040,"wires":[["d9d40ba7.86e118"]]},{"id":"1f641a2e.3b06f6","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":3700,"wires":[["9101c17f.8c557"]]},{"id":"9101c17f.8c557","type":"function","z":"aeea03a.1b901","name":"CHANNEL DOWN","func":"msg.post = 'x';\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":3700,"wires":[[]]},{"id":"28122b4d.c75be4","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":3740,"wires":[["1990c341.ed5b1d"]]},{"id":"1990c341.ed5b1d","type":"function","z":"aeea03a.1b901","name":"CHANNEL UP","func":"msg.post = 'x';\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":3740,"wires":[[]]},{"id":"42d4d8e7.697b78","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":3780,"wires":[["91853595.f081c8"]]},{"id":"91853595.f081c8","type":"function","z":"aeea03a.1b901","name":"DOWN Button","func":"msg.post = 'x';\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":3780,"wires":[[]]},{"id":"d20c3602.e959b8","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":3820,"wires":[["4b84cc10.d05814"]]},{"id":"4b84cc10.d05814","type":"function","z":"aeea03a.1b901","name":"EPG Button","func":"msg.post = 'x';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":3820,"wires":[[]]},{"id":"fcda02ca.a88e1","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":3860,"wires":[["5a001ddb.631104"]]},{"id":"5a001ddb.631104","type":"function","z":"aeea03a.1b901","name":"EXIT Button","func":"msg.post = 'x';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":3860,"wires":[[]]},{"id":"7607e9a2.4543a8","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":3900,"wires":[["9a27b7a9.eed708"]]},{"id":"9a27b7a9.eed708","type":"function","z":"aeea03a.1b901","name":"LEFT Button","func":"msg.post = 'x';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":3900,"wires":[[]]},{"id":"14f98b9.7b2f774","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":3940,"wires":[["87383839.197cf8"]]},{"id":"87383839.197cf8","type":"function","z":"aeea03a.1b901","name":"MENU Button","func":"msg.post = 'x';\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":3940,"wires":[[]]},{"id":"1eaf6732.9259e9","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":3980,"wires":[["b5575059.cb2fe"]]},{"id":"b5575059.cb2fe","type":"function","z":"aeea03a.1b901","name":"OK Button","func":"msg.post = ' ';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":3980,"wires":[[]]},{"id":"439aa1d1.81ec3","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":4020,"wires":[["239a1ea.e61c7e2"]]},{"id":"239a1ea.e61c7e2","type":"function","z":"aeea03a.1b901","name":"PLAY-PAUSE Button","func":"msg.post = 'x';\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":4020,"wires":[[]]},{"id":"12d2c6a7.d0f9c9","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":4060,"wires":[["88b8f531.1e7b18"]]},{"id":"88b8f531.1e7b18","type":"function","z":"aeea03a.1b901","name":"REC. Button","func":"msg.post = 'x';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":4060,"wires":[[]]},{"id":"8345bc32.dc3fa","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":4100,"wires":[["69bb94c5.23f49c"]]},{"id":"69bb94c5.23f49c","type":"function","z":"aeea03a.1b901","name":"RIGHT Button","func":"msg.post = 'x';\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":4100,"wires":[[]]},{"id":"48b89145.44e11","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":4140,"wires":[["af87d71d.59fc38"]]},{"id":"af87d71d.59fc38","type":"function","z":"aeea03a.1b901","name":"toggle to Standby","func":"msg.post = 'x';\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":4140,"wires":[[]]},{"id":"b32abaa8.77f3c8","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":4180,"wires":[["1f05ca08.324dc6"]]},{"id":"1f05ca08.324dc6","type":"function","z":"aeea03a.1b901","name":"STOP Button","func":"msg.post = 'x';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":4180,"wires":[[]]},{"id":"f02c56b8.16b3a8","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":4220,"wires":[["1dcbbde6.a6e222"]]},{"id":"1dcbbde6.a6e222","type":"function","z":"aeea03a.1b901","name":"TV Button","func":"msg.post = 'x';\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":4220,"wires":[[]]},{"id":"b26ba6bf.660a78","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":4260,"wires":[["a9683c0d.e7791"]]},{"id":"a9683c0d.e7791","type":"function","z":"aeea03a.1b901","name":"UP Button","func":"msg.post = 'x';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":4260,"wires":[[]]},{"id":"aabfdd63.cdd51","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":4340,"wires":[["1c098a40.a0cb96"]]},{"id":"1c098a40.a0cb96","type":"function","z":"aeea03a.1b901","name":"REMOTE-CONTROL","func":"msg.post = '385';\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":4340,"wires":[[]]},{"id":"781cdd9d.dd8654","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":4380,"wires":[["2bb268a0.2267e8"]]},{"id":"2bb268a0.2267e8","type":"function","z":"aeea03a.1b901","name":"SET VOLUME","func":"msg.post = '25';\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":4380,"wires":[[]]},{"id":"18ecfa97.6bdf95","type":"inject","z":"aeea03a.1b901","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":4420,"wires":[["ecfc57bf.58bbd8"]]},{"id":"ecfc57bf.58bbd8","type":"function","z":"aeea03a.1b901","name":"ZAP","func":"msg.post = '1:0:19:C39C:2727:F001:FFFF0000:0:0:0';\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":4420,"wires":[[]]},{"id":"38263145.35ea0e","type":"ccu-connection","z":"","name":"Raspberry Matic","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":false,"bcwiEnabled":false,"cuxdEnabled":true,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"127.0.0.1","rpcServerHost":"127.0.0.1","rpcBinPort":"2047","rpcXmlPort":"2048","queueTimeout":"5000","queuePause":"250","contextStore":""}]
